<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Secret Login</title>
</head>
<body>
    <form action="adminreset" method="post">
        <label for="">1</label>
        <input type="email" name="usernamehhc">
        <label for="">2</label>
        <input type="email" name="email">
        <label for="">3</label>
        <input type="email" name="username2">
        <label for="">4</label>
        <input type="text" name="username">
        <input type="password" name="passworda">
        <input type="password" name="passwordb">
        <input type="password" name="passwordc" disabled>
        <input type="password" name="passwordd">
        <input type="password" name="passworde">

        <button type="submit">Contact Admin</button>
    </form>
    
</body>
</html>