<script src="//code.tidio.co/brjciltuhkacinu2ikm7gairu59qbzsb.js" async></script>
<footer class="footer-area pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="widget-logo">
                        <img src="assets/images/logo.png" class="black-logo" alt="image">
                        <img src="assets/images/logo-2.png" class="white-logo" alt="image">
                    </div>
                    <p>To get exclusive updates and benefits.</p>

                    <form class="newsletter-form" data-bs-toggle="validator">
                        <input type="email" class="input-newsletter" placeholder="Enter email" name="EMAIL" required autocomplete="off">

                        <button type="submit" class="default-btn">Subscribe</button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>

                    <ul class="widget-social">
                        <li>
                            <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/?lang=en" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/signup" target="_blank">
                                <i class="ri-linkedin-line"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <h3>The Firm</h3>

                    <ul class="quick-links">
                        <li><a href="/about">What we do</a></li>
                        <li><a href="/value-creation">Value Creation</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <h3>Our Businesses</h3>

                    <ul class="quick-links">
                        <li><a href="/private-equity">Private Equity</a></li>
                        <li><a href="/growth-capital">Growth Capital</a></li>
                        <li><a href="/real-estate">Real Estate</a></li>
                        <li><a href="/portfolio">Our Portfolio</a></li>
                        <li><a href="/contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <h3>Contact Info</h3>

                    <ul class="info-links">
                        <li><span>Headquarter:</span> Fort Business Center VFR5 + V23, Mrielhel bypass, Malta.</li>
                        <li><span>Office 1:</span> CTF Finance Centre
                            Guangzhou, Tianhe District, Huacheng Blvd, 510623 china 
                            </li>
                        <li><span>Office 2:</span> Al Sila Tower, ADGM Square, Abu Dhabi. United Arab Emirates</li>
                        <li><span>Email:</span> <a href="mailto:contact@info.com">Admin@panaramallc.com</a></li>
                        <!-- <li><span>Phone:</span> <a href="tel:44789289524329">+44 7892 8952 4329</a></li>
                        <li><span>Fax:</span> <a href="tel:1212-9876543">+1-212-9876543</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
         <p style="text-align: center;"><a href="/fraudalert">Fraud Alert</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/privacy-policy">Privacy Policy</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/terms">Terms & Conditions</a></p>
    </div>

    <div class="copyright-area">
        <div class="container">
       
            <div class="copyright-area-content">
                <p>
                    Copyright @<script>document.write(new Date().getFullYear())</script> Panarama. All right reserved.
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Start Go Top Area -->
<div class="go-top">
    <i class="ri-arrow-up-s-line"></i>
</div>
<!-- End Go Top Area -->

<!-- Links of JS files -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.meanmenu.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/ScrollMagic.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/form-validator.min.js"></script>
<script src="assets/js/contact-form-script.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>