<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/aos.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/remixicon.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/navbar.css">
        <link rel="stylesheet" href="assets/css/footer.css">
        <link rel="stylesheet" href="assets/css/dark.css">
		<link rel="stylesheet" href="assets/css/responsive.css">

		<title>Panarama - Balancing The Best Interest</title>

        <link rel="shortcut icon" href="/dashboard-assets/images/favicon.ico" />
    </head>

    <body>

        <!-- Start Preloader Area -->
        <div class="preloader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
        <!-- End Preloader Area -->

        <!-- Start Topbar Area -->
        <div class="topbar-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <ul class="topbar-information">
                            <li>
                                <a href="#">Mail us</a>
                            </li>
                            <li>
                                <a href="mailto:contact@info.com">Admin@Panaramallc.com</a>
                            </li>
                        </ul>
                    </div>
                   

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


                    <div class="col-lg-6 col-md-6">
                        <ul class="topbar-action">
                            <li>
                                <a href="/contact">Support</a>
                            </li>
                            <li>
                                <a href="/contact">Help</a>
                            </li>
                            <li class="dropdown language-option">
                                <button class="" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ri-global-line"></i>
                                    <span class="lang-name"></span>
                                </button>
                                <div class="dropdown-menu language-dropdown-menu">
                                     
                                </div>
                            </li>
                            <li>
                                <div id="google_translate_element"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar Area -->
<!-- Nav bar start -->
<div class="navbar-area">
    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                <div class="logo">
                    <a href="/">
                        <img src="assets/images/logo.png" class="black-logo" alt="image">
                        <img src="assets/images/logo-2.png" class="white-logo" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-navbar">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/">
                    <img src="assets/images/logo.png" class="black-logo" alt="image">
                    <img src="assets/images/logo-2.png" class="white-logo" alt="image">
                </a>

                <div class="navbar-list">
                    <ul>
                        <li><a href="/terms">Terms</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                      <!-- The Firm -->
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                The Firm
                                <i class="ri-arrow-down-s-line"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/about" class="nav-link">What we do</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/value-creation" class="nav-link active">Value Creation</a>
                                </li>

                            </ul>
                        </li>
                          <!-- Our Business -->
                        <li class="nav-item">
                            <a href="#" class="nav-link ">
                                Our Business
                                <i class="ri-arrow-down-s-line"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/private-equity" class="nav-link">Private Equity</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/growth-capital" class="nav-link active">Growth Capital</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/real-estate" class="nav-link">Real Estate</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/stock-market" class="nav-link">Stock Market</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/bio-tech" class="nav-link">BioTech & pharmaceuticals</a>
                                </li>

                                <li class="nav-item">
                                    <a href="/renewable-energy" class="nav-link">Renewable Energy</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a href="/portfolio" class="nav-link">Our Portfolio</a>
                                </li> -->
                                <li class="nav-item">
                                    <a href="/strategy" class="nav-link">Strategy</a>
                                </li>
                                

                            </ul>
                        </li>

                        <!-- IMPACT MENU -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Impact
                                <i class="ri-arrow-down-s-line"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/esg" class="nav-link">ESG</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/csr" class="nav-link active">CSR</a>
                                </li>

                            </ul>
                        </li>
                        <!-- IMPACT MENU END-->


                        <li class="nav-item">
                            <a href="/diversity" class="nav-link">Diversity</a>
                        </li>





                        <li class="nav-item">
                            <a href="/contact" class="nav-link">Contact</a>
                        </li>
                    </ul>

                    <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <a href="login.html" class="optional-btn">Log In</a>
                        </div>
                        <div class="option-item">
                            <a href="/register/Referral" class="default-btn">Register Now</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="option-inner">
                    <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <a href="login.html" class="optional-btn">Log In</a>
                        </div>
                        <div class="option-item">
                            <a href="register.html" class="default-btn">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
