<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trying</title>
  </head>
  <body>
    <h1>I am just testing multiin-folder with ejs!!!</h1>

  </body>
</html>
