
     <%- include("../includes/header", {username: name.firstname, activelink:"dash", referralCode:name.referral}); -%>



        <!--Nav Start-->
       <!-- TradingView Widget BEGIN -->
               <div class="tradingview-widget-container">
               <div class="tradingview-widget-container__widget"></div>
               <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> -->
               <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                     {
                     "symbols": [
                     {
                        "proName": "FOREXCOM:SPXUSD",
                        "title": "S&P 500"
                     },
                     {
                        "proName": "FOREXCOM:NSXUSD",
                        "title": "US 100"
                     },
                     {
                        "proName": "FX_IDC:EURUSD",
                        "title": "EUR to USD"
                     },
                     {
                        "proName": "BITSTAMP:BTCUSD",
                        "title": "Bitcoin"
                     },
                     {
                        "proName": "BITSTAMP:ETHUSD",
                        "title": "Ethereum"
                     }
                     ],
                     "showSymbolLogo": true,
                     "isTransparent": false,
                     "displayMode": "adaptive",
                     "backgroundColor":"rgba(25,25,26)",
                     "colorTheme": "dark",
                     "locale": "en"
                  }
               </script>
            </div>
 <!-- TradingView Widget END -->


      <div class="container-fluid content-inner pb-0">
<div class="row">
   <div class="col-lg-12">
         <div class="row align-items-center mb-4">
            <div class="col-xl-9 d-none d-md-block">
               <div class="card mb-xl-0">
                  <div class="card-body ">
                     <div class="d-flex justify-content-between flex-wrap">
                        <div class="d-flex">
                           <img src="/dashboard-assets/images/coins/06.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img8">
                           <div class="mt-2 ms-2">
                              <a href="#" class="text-white"  aria-expanded="false">
                                 <% var balance = name.balance%>
                                 <span class="mt-2 fs-5 balance">Balance:&nbsp; &nbsp;<h2> $<%= balance.toLocaleString('en-US');%></h2></span>
                              </a>

                           </div>

                        </div>

                        <div class="d-flex align-items-center justify-content-between">
                           <span class="">
                              <svg width="32" height="32" viewBox="0 0 34 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect x="6" width="1" height="53" rx="0.5" fill="white"/>
                              <rect x="0.5" y="9.5" width="12" height="34" rx="1.5" fill="#202022"/>
                              <rect x="0.5" y="9.5" width="12" height="34" rx="1.5" stroke="white"/>
                              <rect x="27" width="1" height="53" rx="0.5" fill="white"/>
                              <rect x="21.5" y="13.5" width="12" height="25" rx="1.5" fill="#202022"/>
                              <rect x="21.5" y="13.5" width="12" height="25" rx="1.5" stroke="white"/>
                              </svg>
                           </span>
                           <a href="#" class="bg-secondary rounded-1 p-2 ms-2">
                              <svg width="26" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M26.3875 14.1244L16.8484 23.7653L5.99906 16.9795C4.44458 16.0069 4.76794 13.6457 6.5262 13.1315L32.2854 5.58795C33.8954 5.11605 35.3876 6.62138 34.9093 8.23666L27.2885 33.9779C26.7664 35.7387 24.4187 36.0533 23.4553 34.4921L16.8433 23.767" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3">
               <div class="d-grid grid-6-auto gap-card">
                  <!-- <div class="dropdown">
                     <button class="btn btn-primary w-100" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                        Buy / Sell
                     </button>
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                        <div class="cardbuysell mb-0">
                           <div class="card-body iq-extra">
                              <div class="d-flex justify-content-between">
                                 <div class="header-title">
                                    <p class="fs-6 ">Buy</p>
                                 </div>
                                 <div class="header-title">
                                    <p class="fs-6">Sell</p>
                                 </div>
                              </div>
                              <select class="form-select mb-3" aria-label="Default select example">
                                 <option selected><a href="#" class="dropdown-item"><img src="../assets/images/coins/01.png" class="img-fluid avatar avatar-30 avatar-rounded" alt="img71"> 561,511 Btc</a></option>
                                 <option><li><a href="#" class="dropdown-item"><img src="../assets/images/coins/01.png" class="img-fluid avatar avatar-30 avatar-rounded" alt="img71"> 561,511 Btc</a></li></option>
                                 <option><li><a href="#" class="dropdown-item"><img src="../assets/images/coins/06.png" class="img-fluid avatar avatar-30 avatar-rounded" alt="img72"> 561,511 Ltc</a></li></option>
                              </select>
                              <div class="d-flex justify-content-between">
                                 <h6>Amount(USD)</h6>
                                 <h6 class="mt-3 text-warning">USD</h6>
                              </div>
                              <p>$5.696.24</p>
                              <div class="d-flex justify-content-between">
                                 <h6>Amount(BTC)</h6>
                                 <h6 class="mt-3 text-warning">BTC</h6>
                              </div>
                              <p>$5.696.24</p>
                              <div class="d-grid">
                                 <button class="btn btn-primary" type="button">Buy BTC</button>
                              </div>
                           </div>
                        </div>
                     </ul>
                  </div> -->
                  <a href="/plan-pay">
                     
                        <button class="btn btn-primary w-100" type="button"  aria-expanded="false">
                           + Add Crypto
                        </button>
                        
                     
                  </a>
               </div>
            </div>
         </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-8">
      <div class="row">
         <div class="col-lg-12">
            <div class="row">
               <div class="col-lg-4">
                  <div class="card shining-card">
                     <div class="card-body">
                        <img src="/dashboard-assets/images/coins/01.png" class="img-fluid avatar avatar-50 avatar-rounded" alt="img60">
                        <span class="fs-5 me-2"><br>Invested</span><br>
                        <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.86124 21.6224L11.2734 16.8577C11.6095 16.6417 12.041 16.6447 12.3718 16.8655L18.9661 21.2663C19.2968 21.4871 19.7283 21.4901 20.0644 21.2741L27.875 16.2534" stroke="#BFBFBF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.7847 13.3246L31.6677 14.0197L30.4485 18.7565L26.7847 13.3246ZM30.2822 19.4024C30.2823 19.4023 30.2823 19.4021 30.2824 19.402L30.2822 19.4024ZM31.9991 14.0669L31.9995 14.0669L32.0418 13.7699L31.9995 14.0669C31.9994 14.0669 31.9993 14.0669 31.9991 14.0669Z" fill="#BFBFBF" stroke="#BFBFBF"/>
                        </svg>
                        <div class="pt-3">
                           <%let amountList = [];%>

                           <% name.transaction.forEach(function(userSeen){ %>
                            <%  if(userSeen.completion === "Pending"){ %>
                            <%  amountList.push(userSeen.amount); %>
                            <% } %>
                           <% }) %>
                           <% const sum = amountList.reduce((partialsum, a) =>partialsum + a, 0)%>
                           <h4 class="counter" style="visibility: visible;">$<%= sum.toLocaleString('en-US');%></h4>
                           <div class="pt-3">
                              <small>+ 0.8%</small>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="card shining-card">
                     <div class="card-body">
                        <img src="/dashboard-assets/images/coins/01.png" class="img-fluid avatar avatar-50 avatar-rounded" alt="img60">
                        <span class="fs-5 me-2">Withdrawal</span>
                        <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.86124 21.6224L11.2734 16.8577C11.6095 16.6417 12.041 16.6447 12.3718 16.8655L18.9661 21.2663C19.2968 21.4871 19.7283 21.4901 20.0644 21.2741L27.875 16.2534" stroke="#BFBFBF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.7847 13.3246L31.6677 14.0197L30.4485 18.7565L26.7847 13.3246ZM30.2822 19.4024C30.2823 19.4023 30.2823 19.4021 30.2824 19.402L30.2822 19.4024ZM31.9991 14.0669L31.9995 14.0669L32.0418 13.7699L31.9995 14.0669C31.9994 14.0669 31.9993 14.0669 31.9991 14.0669Z" fill="#BFBFBF" stroke="#BFBFBF"/>
                        </svg>
                        <div class="progress-detail pt-3">
                           <h4 class="counter" style="visibility: visible;">$2,138.87</h4>
                           <div class="pt-3">
                           <small>+ 0.8%</small>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="card shining-card">
                     <div class="card-body">
                        <img src="/dashboard-assets/images/coins/01.png" class="img-fluid avatar avatar-50 avatar-rounded" alt="img60">
                        <span class="fs-5 me-2"><br>Profit</span><br>
                        <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.86124 21.6224L11.2734 16.8577C11.6095 16.6417 12.041 16.6447 12.3718 16.8655L18.9661 21.2663C19.2968 21.4871 19.7283 21.4901 20.0644 21.2741L27.875 16.2534" stroke="#BFBFBF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.7847 13.3246L31.6677 14.0197L30.4485 18.7565L26.7847 13.3246ZM30.2822 19.4024C30.2823 19.4023 30.2823 19.4021 30.2824 19.402L30.2822 19.4024ZM31.9991 14.0669L31.9995 14.0669L32.0418 13.7699L31.9995 14.0669C31.9994 14.0669 31.9993 14.0669 31.9991 14.0669Z" fill="#BFBFBF" stroke="#BFBFBF"/>
                        </svg>
                        <div class="progress-detail pt-3">
                           <h4 class="counter" style="visibility: visible;">$34.850,10</h4>
                           <div class="pt-3">
                           <small>+ 0.8%</small>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-12">
                  <div class="card">
                     <div class="card-header d-flex justify-content-between flex-wrap">
                                                            <!-- TradingView Widget BEGIN -->
                                       <div class="tradingview-widget-container">
                                          <div class="tradingview-widget-container__widget"></div>
                                          <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> -->
                                          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                                          {
                                          "width": "980",
                                          "height": "610",
                                          "symbol": "BINANCE:BTCUSDT",
                                          "interval": "60",
                                          "timezone": "Etc/UTC",
                                          "theme": "dark",
                                          "style": "1",
                                          "locale": "en",
                                          "enable_publishing": false,
                                          "backgroundColor":"rgba(25,25,26)",
                                          "allow_symbol_change": true,
                                          "support_host": "https://www.tradingview.com"
                                       }
                                          </script>
                                       </div>
                                       <!-- TradingView Widget END -->
                       
                     </div>
                     
                  </div>
               </div>
               
               <div class="col-lg-12">
                  <div class="card">
                     <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
   <div class="tradingview-widget-container__widget"></div>
   <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> -->
   <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js" async>
   {
   "width": 650,
   "height": 400,
   "currencies": [
     "EUR",
     "USD",
     "JPY",
     "GBP",
     "CHF",
     "AUD",
     "CAD",
     "NZD",
     "SGD"
   ],
   "isTransparent": true,
   "colorTheme": "dark",
   "locale": "en"
 }
   </script>
 </div>
 <!-- TradingView Widget END -->
                  </div>
               </div>
            </div>
         </div>

         <div class="col-lg-12">
            <div class="card card-block card-stretch custom-scroll">
               <div class="card-header d-flex flex-wrap justify-content-between align-items-center">
                  <!-- TradingView Widget BEGIN -->
                  <div class="tradingview-widget-container">
                     <div class="tradingview-widget-container__widget"></div>
                     <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> -->
                     <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
                     {
                     "width": 1000,
                     "height": 490,
                     "defaultColumn": "overview",
                     "screener_type": "crypto_mkt",
                     "displayCurrency": "USD",
                     "colorTheme": "dark",
                     "locale": "en",
                     "isTransparent": true
                  }
                     </script>
                  </div>
                  <!-- TradingView Widget END -->
               </div>
               
            </div>
         </div>
      </div>
      
      
   </div>

   <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12">
           <div class="card">
              <div class="card-header d-flex justify-content-between flex-wrap">
                 <div class="header-title">
                    <h4 class="card-title">Quick Deposit</h4>
                 </div>
              </div>
              <form class="" action="/pay_amount" method="post">
                <div class="card-body">
                   <div class= "d-grid grid-cols-5 gap-card mb-4">
                      <div class="">
                         <img src="/dashboard-assets/images/avatars/02.png" class="img-fluid avatar avatar-30px avatar-rounded" alt="img36">
                      </div>
                      <div class="">
                         <img src="/dashboard-assets/images/avatars/03.png" class="img-fluid avatar avatar-30px avatar-rounded" alt="img37">
                      </div>
                      <div class="">
                         <img src="/dashboard-assets/images/avatars/04.png" class="img-fluid avatar avatar-30px avatar-rounded" alt="img38">
                      </div>
                      <div class="">
                         <img src="/dashboard-assets/images/avatars/05.png" class="img-fluid avatar avatar-30px avatar-rounded" alt="img39">
                      </div>
                      <div class="">
                         <img src="/dashboard-assets/images/avatars/06.png" class="img-fluid avatar avatar-30px avatar-rounded" alt="img40">
                      </div>
                   </div>
                   <div class="input-group mb-4">
                      <span class="input-group-text" id="basic-addon3">Amount</span>
                      <input name="amount" type="text" class="form-control col-lg-8" placeholder="$126.5" aria-label="Recipient's username" aria-describedby="basic-addon3">
                   </div>
                   <div class="d-grid grid-cols-1 gap-card justify-content-between">
                   <div>
                      <button type="submit" class="btn btn-primary w-100">
                         <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.74074 8.25926L2 6.7037L16 1M8.74074 8.25926L10.8148 15L16 1M8.74074 8.25926L16 1" stroke="white"/>
                         </svg>
                         <span class="ms-2">Pay Now</span>
                      </button>
                   </div>
                </div>

              </form>

              </div>
        </div>
        <!-- Side 1 start -->
        <div class="col-lg-12">
         <div class="card">
            <!-- TradingView Widget BEGIN -->
         <!-- TradingView Widget BEGIN -->
         <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> -->
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
            {
            "colorTheme": "dark",
            "dateRange": "12M",
            "showChart": true,
            "locale": "en",
            "largeChartUrl": "",
            "isTransparent": false,
            "showSymbolLogo": true,
            "showFloatingTooltip": false,
            "width": "320",
            "height": "660",
            "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
            "plotLineColorFalling": "rgba(41, 98, 255, 1)",
            "gridLineColor": "rgba(240, 243, 250, 0)",
            "scaleFontColor": "rgba(106, 109, 120, 1)",
            "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
            "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
            "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
            "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
            "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
            "tabs": [
            {
               "title": "Indices",
               "symbols": [
                  {
                  "s": "FOREXCOM:SPXUSD",
                  "d": "S&P 500"
                  },
                  {
                  "s": "FOREXCOM:NSXUSD",
                  "d": "US 100"
                  },
                  {
                  "s": "FOREXCOM:DJI",
                  "d": "Dow 30"
                  },
                  {
                  "s": "INDEX:NKY",
                  "d": "Nikkei 225"
                  },
                  {
                  "s": "INDEX:DEU40",
                  "d": "DAX Index"
                  },
                  {
                  "s": "FOREXCOM:UKXGBP",
                  "d": "UK 100"
                  }
               ],
               "originalTitle": "Indices"
            },
            {
               "title": "Futures",
               "symbols": [
                  {
                  "s": "CME_MINI:ES1!",
                  "d": "S&P 500"
                  },
                  {
                  "s": "CME:6E1!",
                  "d": "Euro"
                  },
                  {
                  "s": "COMEX:GC1!",
                  "d": "Gold"
                  },
                  {
                  "s": "NYMEX:CL1!",
                  "d": "WTI Crude Oil"
                  },
                  {
                  "s": "NYMEX:NG1!",
                  "d": "Gas"
                  },
                  {
                  "s": "CBOT:ZC1!",
                  "d": "Corn"
                  }
               ],
               "originalTitle": "Futures"
            },
            {
               "title": "Bonds",
               "symbols": [
                  {
                  "s": "CBOT:ZB1!",
                  "d": "T-Bond"
                  },
                  {
                  "s": "CBOT:UB1!",
                  "d": "Ultra T-Bond"
                  },
                  {
                  "s": "EUREX:FGBL1!",
                  "d": "Euro Bund"
                  },
                  {
                  "s": "EUREX:FBTP1!",
                  "d": "Euro BTP"
                  },
                  {
                  "s": "EUREX:FGBM1!",
                  "d": "Euro BOBL"
                  }
               ],
               "originalTitle": "Bonds"
            },
            {
               "title": "Forex",
               "symbols": [
                  {
                  "s": "FX:EURUSD",
                  "d": "EUR to USD"
                  },
                  {
                  "s": "FX:GBPUSD",
                  "d": "GBP to USD"
                  },
                  {
                  "s": "FX:USDJPY",
                  "d": "USD to JPY"
                  },
                  {
                  "s": "FX:USDCHF",
                  "d": "USD to CHF"
                  },
                  {
                  "s": "FX:AUDUSD",
                  "d": "AUD to USD"
                  },
                  {
                  "s": "FX:USDCAD",
                  "d": "USD to CAD"
                  }
               ],
               "originalTitle": "Forex"
            }
            ]
         }
            </script>
         </div>
<!-- TradingView Widget END -->
<!-- TradingView Widget END -->

            </div>
         </div>
        <!-- Side 1 end -->

        <!-- DIFFFF -->

        <!-- Side 2 start -->
        <div class="col-lg-12">
         <div class="card">
            <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
   <div class="tradingview-widget-container__widget"></div>
   <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> -->
   <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
   {
   "feedMode": "all_symbols",
   "isTransparent": false,
   "displayMode": "regular",
   "width": 320,
   "height": 830,
   "colorTheme": "dark",
   "locale": "en"
 }
   </script>
 </div>
 <!-- TradingView Widget END -->

         </div>

        </div>

        <!-- side 2 end -->
           
     </div>

         <!-- <div class="col-lg-12">
            <div class="card">
               <div class="card-header">
                  <div class="header-title">
                        <h4 class="card-title">History</h4>
                  </div>
               </div>
               <div class="card-body">
                  <ul class="list-inline m-0 p-0">
                     <li class="d-flex  align-items-center pt-3">
                        <div class="d-flex justify-content-between rounded-pill"><img src="../assets/images/coins/01.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img6">
                           <div class="ms-3 flex-grow-1">
                           <h5 class="mb-2">Bitcoin</h5>
                           <p class=" text-success mb-2">+$10,00</p>
                           <p class="fs-6">Bitcoins Evolution™. 234000 Satisfied Customers From 107 Countries.</p>
                           </div>
                           <div class="">
                              <p>11/02/21</p>
                           </div>
                        </div>
                     </li>
                     <li class="d-flex  align-items-center pt-3">
                        <div class="d-flex justify-content-between rounded-pill"><img src="../assets/images/coins/09.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img7">
                           <div class="ms-3 flex-grow-1">
                           <h5 class="mb-2">Ethereum</h5>
                           <p class=" text-danger mb-2">-$50,00</p>
                           <p class="fs-6">Ethereum is a decentralized, blockchain with smart contract functionality</p>
                           </div>
                           <div class="">
                              <p>11/02/21</p>
                           </div>
                        </div>
                     </li>
                     <li class="d-flex  align-items-center pt-3">
                        <div class="d-flex justify-content-between rounded-pill"><img src="../assets/images/coins/06.png" class="img-fluid avatar avatar-40 avatar-rounded" alt="img8">
                           <div class="ms-3 flex-grow-1">
                           <h5 class="mb-2">Litecoin</h5>
                           <p class=" text-danger mb-2">-$50,00</p>
                           <p class="fs-6">Litecoin is a peer-to-peer cryptocurrency and open-source software</p>
                           </div>
                           <div class="">
                              <p>11/02/21</p>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div> -->

      
      </div>
      
   </div>
</div>

      </div>
      <footer class="footer">
          <div class="footer-body">
              <ul class="left-panel list-inline mb-0 p-0">
                  <li class="list-inline-item"><a href="/privacy-policy" class="text-white">Privacy Policy</a></li>
                  <li class="list-inline-item"><a href="/terms" class="text-white">Terms of Use</a></li>
              </ul>
              <div class="right-panel">
                  ©<script>document.write(new Date().getFullYear())</script> Pana Dev, Made with
                  <span class="text-gray">
                      <svg width="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.85 2.50065C16.481 2.50065 17.111 2.58965 17.71 2.79065C21.401 3.99065 22.731 8.04065 21.62 11.5806C20.99 13.3896 19.96 15.0406 18.611 16.3896C16.68 18.2596 14.561 19.9196 12.28 21.3496L12.03 21.5006L11.77 21.3396C9.48102 19.9196 7.35002 18.2596 5.40102 16.3796C4.06102 15.0306 3.03002 13.3896 2.39002 11.5806C1.26002 8.04065 2.59002 3.99065 6.32102 2.76965C6.61102 2.66965 6.91002 2.59965 7.21002 2.56065H7.33002C7.61102 2.51965 7.89002 2.50065 8.17002 2.50065H8.28002C8.91002 2.51965 9.52002 2.62965 10.111 2.83065H10.17C10.21 2.84965 10.24 2.87065 10.26 2.88965C10.481 2.96065 10.69 3.04065 10.89 3.15065L11.27 3.32065C11.3618 3.36962 11.4649 3.44445 11.554 3.50912C11.6104 3.55009 11.6612 3.58699 11.7 3.61065C11.7163 3.62028 11.7329 3.62996 11.7496 3.63972C11.8354 3.68977 11.9247 3.74191 12 3.79965C13.111 2.95065 14.46 2.49065 15.85 2.50065ZM18.51 9.70065C18.92 9.68965 19.27 9.36065 19.3 8.93965V8.82065C19.33 7.41965 18.481 6.15065 17.19 5.66065C16.78 5.51965 16.33 5.74065 16.18 6.16065C16.04 6.58065 16.26 7.04065 16.68 7.18965C17.321 7.42965 17.75 8.06065 17.75 8.75965V8.79065C17.731 9.01965 17.8 9.24065 17.94 9.41065C18.08 9.58065 18.29 9.67965 18.51 9.70065Z" fill="currentColor"></path>
                      </svg>
                  </span> by <a href="https://panaramallc.com">Panarama LLC</a>.
              </div>
          </div>
      </footer>    </main>

    <!-- Wrapper End-->
    <!-- offcanvas start -->

    <!-- Backend Bundle JavaScript -->
    <script src="/dashboard-assets/js/libs.min.js"></script>
    <!-- widgetchart JavaScript -->
    <script src="/dashboard-assets/js/charts/widgetcharts.js"></script>
    <!-- fslightbox JavaScript -->
    <script src="/dashboard-assets/js/fslightbox.js"></script>
    <!-- app JavaScript -->
    <script src="/dashboard-assets/js/app.js"></script>
    <!-- apexchart JavaScript -->
    <script src="/dashboard-assets/js/charts/apexcharts.js"></script>
  </body>
</html>
