<%- include("../includes/front-pages") -%>

        <!-- Start Page Banner Area -->



        <!-- End Page Banner Area -->

        <!-- Start Partner Area -->
        <div class="partner-area ptb-100">
            <div class="container">
                <!-- <span style="text-align: center; background-color: orange; padding: 5px;">Profile</span> -->
                <div class="partner-title" style="text-align:justify;">
                    
                    <h3 style="text-align: center;">What We Do</h3>
                    <p>Panarama LLC is a leading thematically driven private equity and growth capital investor. We partner with dynamic entrepreneurs and exceptional ment teams to build market leading global businesses and drive 
                        sustainabie growth on behalf of our institutional investors and key stakeholder</p>
                   <p>
                    We are also committed to providing personalized advice and A.I solutions that are tailored to each individual’s unique goals and objectives. Our team of experienced professionals is here to help you plan for your financial future 
                    and create a secure plan for yourself and your family.

                   </p>
                   <p>
                    With a team of experienced professionals and a wide range of strategies we have the capabilities to meet your needs. Whether you are looking for retirement planning, portfolio management, or other investment solutions,
                     we can provide you with the expertise and resources necessary to make informed decisions.
                   </p>
                </div>

                <div class="partner-optional-text">
                    <p>Medium-to-large Business? <span>We got you covered</span></p>
                </div>
            </div>
        </div>
        <!-- End Partner Area -->

        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-sm-6">
                                    <div class="wrap-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/red.jpg" alt="image">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>SECTORAL EXPERTISE</span>
                            <h3>Our Thematic Approach</h3>
                            <p>Our thematic investment approach focuses on core sectors of the future. We
                              adopt a disciplined strategy which seeks to identify the themes and trends
                              defining future long-term growth within our markets. We align our experienced
                               team, extensive network, and deep sector expertise to create long-term value
                               for our stakeholders across our focus sectors: Technology & Fintech,
                                Healthcare, Business Services, Consumer and Sustainability.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->
        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">

                  <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>INTERNATIONAL EXPANSION</span>
                            <h3>Building Global Leaders</h3>
                            <p>Our proven cross-border investment strategy allows us to identify leading
                               businesses and help accelerate their growth across regions and markets through
                                strategic acquisitions. We have a long-standing track record of building
                                global leaders operating across 64 countries, many of which
                              were later acquired by international strategic buyers.</p>


                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-sm-6">
                                    <div class="wrap-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/ship.jpg" alt="image">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Reliable Area -->
        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-sm-6">
                                    <div class="wrap-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/bridge.jpg" alt="image">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>INTERSECTION OF IMPACT AND RETURNS</span>
                            <h3>Investing For Good</h3>
                            <p>We are passionate about making a positive impact and our investments
                              reflect our drive to combine strong financial returns with opportunities
                              to create sustainable growth. Our commitment to ESG and responsible investment
                               is at the heart of our philosophy to build value and make a material
                               social impact across our communities.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->

        <!-- Start Global Transfers Area -->
        <div class="global-transfers-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    <span>ASSET CLASSES</span>
                    <h2>Our Businesses</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="icon">
                                <i class="flaticon-envelope"></i>
                            </div>
                            <h3>Private Equity</h3>
                            <p>With a history of solid performance, we offer medium to long-term investment
                              opportunities that produce competitive returns..</p>
                            <a href="protecting-your-money.html" class="global-btn">Send Money</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <div class="icon">
                                <i class="flaticon-money-transfer"></i>
                            </div>
                            <h3>Growth Capital</h3>
                            <p>Bespoke financing solutions to mid-market companies and private equity sponsors.</p>
                            <a href="getting-started.html" class="global-btn">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <div class="icon">
                                <i class="flaticon-income"></i>
                            </div>
                            <h3>Real Estate</h3>
                            <p>Developing projects that meet the aspirations of the region’s increasingly affluent consumers and offer
                               unprecedented investment prospects.</p>
                            <a href="help-center.html" class="global-btn">Available Accounts</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <div class="icon">
                                <i class="flaticon-income"></i>
                            </div>
                            <h3>Renewable Energy</h3>
                            <p>Renewable energy is derived from sources that are naturally replenished, and can therefore continue to generate electricity subject to natural conditions</p>
                            <a href="help-center.html" class="global-btn">Available Accounts</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <div class="icon">
                                <i class="flaticon-income"></i>
                            </div>
                            <h3>Pharmaceuticals</h3>
                            <p>Diagnostics, & healthcare services, we are scouting the globe for innovations that will help ensure humanity
                                lives healthier, longer, and more productive lives.</p>
                            <a href="help-center.html" class="global-btn">Available Accounts</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- End Global Transfers Area -->

        <!-- Start Paiement Area -->
        <div class="paiement-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="paiement-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>Wealth</span>
                            <h3>Re-imagine Wealth Management</h3>
                            <p>Wealth management is a complex and ever-evolving field. With the advent of artificial intelligence, it is now possible to re-imagine wealth management in ways that were not possible before. AI can be used to automate tedious tasks, provide better insights into the markets, and 
                                even help make decisions based on data.</p>

                           
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="paiement-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <img src="assets/images/paiement.png" alt="image">
                        </div>
                    </div><br />
                    <p>AI can also be used to improve customer experience by providing personalized advice tailored to each individual's needs. AI can also help identify potential risks and opportunities in the market so that investors can 
                        make informed decisions.</p>
                        <p>By leveraging AI, wealth managers can improve their services and provide better value for their clients. This will lead to increased customer satisfaction and more efficient operations for the wealth management industry as a whole.
                        </p>
                </div>
            </div>
        </div>
        <!-- End Paiement Area -->

        <!-- Start Benefits Area -->
        <div class="benefits-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    <span>Investment</span>
                    <h2>How to Invest</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-6 col-sm-6">
                        <div class="single-benefits-card" data-aos="fade-up" data-aos-delay="30" data-aos-duration="300" data-aos-once="true">
                            <div class="benefits-content">
                                <div class="benefits-image">
                                    <img src="assets/images/benefits/benefits-1.png" alt="image">
                                </div>
                                <h3>Interbank Lending</h3>
                                <p>Investing in lending can be incredibly lucrative if short-term loans are secured by manageable assets. These investments become much safer, as even defaulting will not result in large losses.
                                    In the interbank lending market, banks come to us for short-term liquidity needs. We provide them with overnight loans that help them meet their funding requirements.
                                    Our company offers secured overnight loans to financial institutions in the United States and Europe at an attractive rate of almost 2%, which in turn gives us a consistent return 
                                    on our investments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="single-benefits-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="benefits-content">
                                <div class="benefits-image">
                                    <img src="assets/images/benefits/benefits-3.png" alt="image">
                                </div>
                                <h3>Financial Advice</h3>
                                <p>At Panarama LLC, we understand that everyone's investment needs are different. That's why we have a team of qualified financial advisors on hand to give you advice tailored to your particular situation & goals. Our advisers will help you invest in a way that puts your future first.

                                    At Panarama LLC, our goal is to provide you with tailored advice on investments that can help you reach your goals. We offer a one-time consultation where our team of experienced professionals will assess your needs and suggest the most suitable investment options for you. Additionally, they can keep offering advice even in the long run. Depending on your circumstances, an evaluation of your financial standing and a review of current investments might be necessary. Furthermore, this advice can help manage the assets in a tax-efficient manner and also provide an 
                                    amalgamation of all these services.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-6">
                        <div class="single-benefits-card" data-aos="fade-up" data-aos-delay="40" data-aos-duration="400" data-aos-once="true">
                            <div class="benefits-content">
                                <div class="benefits-image">
                                    <img src="assets/images/benefits/benefits-2.png" alt="image">
                                </div>
                                <h3>Investor Protection</h3>
                            <p>Investing is a complicated process & it is important to be aware of potential risks. Panarama LLC has the necessary safeguards in place to make sure that your investment remains secure & safe.

                                Our investment strategy has been rated highly by the leading global rating organizations as a reliable and sustainable option. We provide superior security measures both for client accounts and our technology, so you can feel secure about your investments.
                                
                                The client assets are segregated & Client accounts and personal data are safeguarded from unauthorized access with military-grade encryption both when stored and during transmission. Our network host is regularly tested for DDoS (Distributed Denial of Service) attacks, while also undergoing regular penetration testing procedures to ensure extra security. Client funds are deposited with top-tier insurers and managed according to relevant regulations, providing protection from loss and safeguarding their long-term value.
                                
                                All client accounts and personal data are kept safe with military-grade encryption both when stored (at rest) and while being transmitted. Furthermore, our network host is dedicated to protecting our system from any potential Distributed Denial of Service (DDoS) attacks & performs regular penetration tests.</p>    
                            </div>
                        </div>
                    </div>



                    
                </div>
            </div>
        </div>
        <!-- End Benefits Area -->

        <!-- Start Pricing Area -->
        <div class="pricing-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    
                    <h2>INCOME PLANS</h2>
                    <P> The income plan is setup as a means of helping our investors earn money on the go. You need money on the 
                        weekend? Money for groceries? Need a stream of income that takes care of day to day expenses? This 
                        investment plan is for you.
                    </P>
                    <span>The Options under the income plan allows for profit to be withdrwan weekly.<br> Here are the Options.</span>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-pricing-table" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="pricing-header">
                                <h3>STREAM 1</h3>
                            </div>
                            <div class="price">+1% <span>Daily ROI</span></div>
                            <div class="pricing-btn">
                                <a href="pricing.html" class="default-btn">Choose This Plan</a>
                            </div>
                            <ul class="features-list">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Investment Range</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder; margin: 0%;">€500 - €29,999</li>
                                <hr style="margin: 0%;">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Duration</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder;margin: 0%;">120 Days (4 Months)</li>
                                <hr style="margin: 0%;">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Payment Option</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder;margin: 0%;">Weekly Payout</li>
                                <hr style="margin: 0%;">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Referal Commission</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder;margin: 0%;">5%</li>
                                <em>No Withdrawal Fee
                                </em>                                
                                
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-pricing-table" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="pricing-header">
                                <h3>STREAM 2</h3>
                            </div>
                            <div class="price">+1.3% <span>Daily ROI</span></div>
                            <div class="pricing-btn">
                                <a href="pricing.html" class="default-btn">Choose This Plan</a>
                            </div>
                            <ul class="features-list">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Investment Range</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder; margin: 0%;">€30,000 - €99,999</li>
                                <hr style="margin: 0%;">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Duration</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder;margin: 0%;">240 Days (8 Months)</li>
                                <hr style="margin: 0%;">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Payment Option</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder;margin: 0%;">Weekly Payout</li>
                                <hr style="margin: 0%;">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Referal Commission</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder;margin: 0%;">7%</li>
                                <em>No Withdrawal Fee
                                </em>                                
                                
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-pricing-table" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="pricing-header">
                                <h3>STREAM 3</h3>
                            </div>
                            <div class="price">+1.5% <span>Daily ROI</span></div>
                            <div class="pricing-btn">
                                <a href="pricing.html" class="default-btn">Choose This Plan</a>
                            </div>
                            <ul class="features-list">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Investment Range</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder; margin: 0%;">€100,000 - €500,000</li>
                                <hr style="margin: 0%;">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Duration</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder;margin: 0%;">365 Days (12 Months)</li>
                                <hr style="margin: 0%;">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Payment Option</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder;margin: 0%;">Weekly Payout</li>
                                <hr style="margin: 0%;">
                                <li style="margin: 0px;"><i class="ri-check-line"></i> Referal Commission</li>
                                <li style="color: rgb(235, 164, 12); font-weight: bolder;margin: 0%;">10%</li>
                                <em>No Withdrawal Fee
                                </em>                                
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Pricing Area -->

        <!-- Start Review Area -->
        <div class="review-area bg-F4F5F5 ptb-100">
            <div class="container">
                <div class="section-title">
                    <span>Our Review</span>
                    <h2>More Than 4,405,28 Happy Customers Trust Our Services</h2>
                </div>

                <div class="review-slides-two owl-carousel owl-theme">
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>I invested in Panarama because they are experienced and have also had the capacity to deliver on what they promise.
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/review-1.jpg" alt="image">
                            <h3>Angela Sebastian</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>As a business man in Mexico 
                            I am busy but I wanted to contribute to my retirement savings. Panarama make it easy for me to Invest locally and stay connected to the industry I know.
                            
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/peter.jpg" alt="image">
                            <h3>Peter Skuv</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>Panarama really keeps to their promise in terms of investment payment.they pay on time and have one of the best Rois.
                            The customer service is exceptional and their management team is very experienced in this field.
                            
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/jammie.jpg" alt="image">
                            <h3>Jammie white</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>During the pandemic in 2020, I couldn’t go to work anymore and I needed to still make some income for my self. So I found out about Panarama then i invested my savings at that time..my money started working for me and I made so much passive income with out doing anything.
                            Panarama is a reliable and trusted entity.
                            
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/Ronald.jpg" alt="image">
                            <h3>Ronald smith</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>I was absolutely amazed with the return of investment…so I was now confident to invest   More with them, Now I am retired and living my best life.

                            
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/Anthony.jpg" alt="image">
                            <h3>Anthony Steven.</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>During my final semester in school I was really worried about my life outside the university in the real world.
                            Panarama gave me that financial success I craved for.
                            The payout was reliable, fast and trusted. 
                             
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/lucy.jpg" alt="image">
                            <h3>Lucy benald</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>Super impressed by the amazing service and friendly team of professionals!

                             
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/wilna.jpg" alt="image">
                            <h3>Wilna van Wyk</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>From the minute I started investing through Panarama  12 years ago I have only ever received first class service. Advice is clear. All the consultants I have ever dealt with have been friendly, helpful and efficient. Requests are dealt with promptly and my most recent experience with Natasha has been excellent on all levels.

                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/cath.jpeg" alt="image">
                            <h3>Catherine</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>This company’s excellent administration and sound guidance in navigating financial investments makes them a top choice.

                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/tanya.jpeg" alt="image">
                            <h3>Tanya Brodie Rudolph</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>

                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>Investing in Panarama has been a life changing experience for me. After I had my surgery in 2015, 
                            I couldn’t go to work again.
                            I was introduced to Panarama in 2018 and now I am able to earn 5 figures from the comfort of my home</p>
                        <div class="review-info">
                            <img src="assets/images/review/review-2.jpg" alt="image">
                            <h3>Timothy hays.</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                </div>

                <div class="review-optional-content">
                    <p>But don’t just take our word for it - check out what our customers have to say about their experience with us: <b>Excellent</b> <span>Based on 25,454 reviews</span></p>
                </div>
            </div>

            <div class="review-shape">
                <img src="assets/images/review/shape-1.png" alt="image">
            </div>
            <div class="review-shape-2">
                <img src="assets/images/review/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Review Area -->

        <!-- Start App Area -->
        <div class="app-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="app-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>Download Our Mobile App</span>
                            <h3>You Can Find All The Thing You Need In Our Mobile App</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat nisl bibendum vitae consequat. Nisl ut sed accumsan.</p>

                            <div class="app-btn-box">
                                <a href="#" class="appstore-btn" target="_blank">
                                    <i class="ri-apple-fill"></i>
                                    Download On
                                    <span>App Store</span>
                                </a>

                                <a href="#" class="google-btn" target="_blank">
                                    <i class="ri-google-line"></i>
                                    Download On
                                    <span>Google Play</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="app-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <img src="assets/images/app.png" alt="image">

                            <div class="circle-pattern" data-aos="fade-down" data-aos-delay="70" data-aos-duration="700" data-aos-once="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End App Area -->

        <!-- Start Overview Area -->
        <div class="overview-area ptb-100">
            <div class="container">
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>Connect Us</span>
                    <h3>Sign Up To Our Newsletter to get Latest Information</h3>
                    <ul class="overview-btn-group">
                        <li>
                            <a href="help-center.html" class="default-btn">Sign up to our Newsletter</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Overview Area -->

        <!-- Start Funfact Area -->
        <div class="fun-fact-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    <span>Work with us</span>
                    <h2>Careers</h2>
                </div>

                <div class="row justify-content-center">
                    <p>At Panarama LLC, our greatest asset is our people. Our staff are enriched with an array of diverse backgrounds, experiences and lifestyles, which in turn brings about various perspectives to how we carry out 
                        our work.</p>
                    <p>By joining us, you have an opportunity to further your career and make a tangible difference in the lives of our clients. We are dedicated to helping them achieve their financial objectives, and create a
                         welcoming and respectful environment where each person's contribution is valued.

                    </p>

                    <p>
                        Joining our team will offer more than just financial gain. Not only will you benefit from professional training and flexible benefits, but you'll also have a range of opportunities provided in an environment that promotes diversity, encourages inclusion 
                        and supports the community.

                    </p>
                    <p>
                        Take the next step in your career with Panarama LLC. Get in touch with our HR team via 
                        Careers@panaramallc.com
                    </p>
                    
                </div>
            </div>
        </div>
        <!-- End Funfact Area -->

        <%- include("../includes/front-footer") -%>