<%- include("../includes/front-pages") -%>

        <!-- Start Page Banner Area -->
        <!-- Start Overview Area -->
        <div class="overview-area ptb-100">
            <div class="container">
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>BioTechnology</span>
                    <h3>From Biopharmaceuticals to Medical Devices</h3>
                    <p>Diagnostics, and healthcare services, Panarama is scouting the globe for 
                        innovations that will help ensure humanity<br> lives healthier, longer, and 
                        more productive lives.
                    </p>


                </div>
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Overview Area -->

        <!-- End Page Banner Area -->
        <!-- Start Getting Started Area -->
        <div class="getting-started-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    <!-- <span>OUR STRATEGY</span>
                    <h2>A Theme-based investment strategy</h2> -->
                    <p>We have been investing globally for over 16 years 
                        across the healthcare industry: from early-stage private companies 
                        to large multinational corporations. Our team of over 100 distinguished 
                        scientific, medical, investment, and other professionals manages over  €10 billion 
                        across public and private company investments worldwide.
                    </p>
                    <hr>
                </div>
                <!-- COLUM WITH LIST 3 COLUMN -->
                <!-- IMAGE LEFT -->
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                
                                <div class="col-lg-12 col-sm-6">
                                    
                                    <div class="wrap-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/bio1.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>Life Sciences Focus</span>
                            <h3>Sciences Focus</h3>
                            <p>The global healthcare industry sits at the intersection of
                                 several powerful long-term growth trends led by global demographics
                                  and the ineluctable advance of scientific innovation in treating disease.
                            </p>
                            <p>These trends have caused a steady increase in the level of healthcare spending in the industrialised world, 
                                led by the U.S. which now spends over 17% of its GDP on healthcare. We believe the healthcare industry's
                                 powerful growth profile coupled with its magnitude and 
                                complexity create myriad investment opportunitie</p>


                        </div>
                    </div>
                </div>
                <br />
                <hr>
                <br />
                <!-- 3 COLUM WITH LIST IMAGE RIGHT -->
                <div class="row align-items-center">

                    <div class="col-lg-6 col-md-12">
                          <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                              <span>Our Strategies</span>
                              <h3>Strategies</h3>
                              <p>Panarama invests across the global healthcare industry, 
                                from seed-stage venture capital to large publicly-traded 
                                companies. Investments are made in one of three strategies: 
                                public equity, private equity, and private credit/royalty.
                            </p>
  
  
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                          <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                              <div class="row align-items-center">
                                  
                                  <div class="col-lg-12 col-sm-6">
                                      
                                      <div class="wrap-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                          <img src="assets/images/reliable/bio2.jpg" alt="image">
                                      </div>
                                  </div>
                              </div>
                              <div class="reliable-shape">
                                  <img src="assets/images/reliable/shape-2.png" alt="image">
                              </div>
                              <div class="reliable-shape-2">
                                  <img src="assets/images/reliable/shape-1.png" alt="image">
                              </div>
                          </div>
                      </div>
  
                  </div>
                  <br />
                  <hr>
                  <br />

                  <!-- 2nd image left -->
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                
                                <div class="col-lg-12 col-sm-6">
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/bio3.jpg" alt="image">
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>Public Equity</span>
                            <h3>Equity</h3>
                            <p>
                                Panarama manages a series of public equity funds,
                                 including long/short event-driven funds and closed-end investment trusts. 
                                 We invest across all types of publicly-traded companies, from 
                                 biopharmaceuticals to medical devices and healthcare services worldwide.

                            </p>
                           


                        </div>
                    </div>
                </div>
                <br />
                <hr>
                <br />
                <!-- PRIVATE EQUITY IMAGE RIGHT-->
                <div class="row align-items-center">

                    <div class="col-lg-6 col-md-12">
                          <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                              <span>EQUITY</span>
                              <h3>Private Equity</h3>
                              <p>Panarama private equity strategy is broad and flexible, investing from start-ups through growth equity. 
                                Panarama is typically a lead investor, helping to build our portfolio companies into market leaders. We invest globally, including across North America, Asia, and Europe.
                                
                            </p>
  
  
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                          <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                              <div class="row align-items-center">
                                  
                                  <div class="col-lg-12 col-sm-6">
                                      <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                          <img src="assets/images/reliable/bio4.jpg" alt="image">
                                      </div>
                                      
                                  </div>
                              </div>
                              <div class="reliable-shape">
                                  <img src="assets/images/reliable/shape-2.png" alt="image">
                              </div>
                              <div class="reliable-shape-2">
                                  <img src="assets/images/reliable/shape-1.png" alt="image">
                              </div>
                          </div>
                      </div>
  
                  </div>
                  <br />
                  <hr>
                  <br />
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="wrap-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/bio5.jpg" alt="image">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>Private Credit/Royalty</span>
                            <h3>Royalty</h3>
                            <p>
                                Panarama provides commercial-stage healthcare companies with non-dilutive structured debt capital.
                                 Additionally, Panarama can monetise royalty streams, 
                                providing valuable financing solutions to owners of intellectual property

                            </p>
                           


                        </div>
                    </div>
                </div>
                  


            </div>
        </div>
        <!-- End Getting Started Area -->

        <!-- Start Reliable Area -->
        

                    
        <!-- End Reliable Area -->

        <!-- Start Security Area -->

        <!-- End Security Area -->

        <!-- Start Paiement Area -->

        <!-- End Paiement Area -->

        <!-- Start Overview Area -->

        <!-- End Overview Area -->

        <!-- End Footer Area -->
        <%- include("../includes/front-footer") -%>