<%- include("../includes/front-pages") -%>

        <!-- Start Page Banner Area -->



        <!-- End Page Banner Area -->

        <!-- Start Partner Area -->
        <div class="partner-area ptb-100">
            <div class="container">
                <div class="partner-title" style="text-align:left">
                    <span>OUR WORLD, OUR RESPONSIBILITY</span>
                    <h3>Corporate Social Responsibility</h3><br>
                    <p>Panarama LLC is a firm believer in giving back to the communities in which it operates, regularly embarking on various charitable and capacity-building initiatives that produce direct improvements
                      in the lives of people across Growth Markets.</p>
                      <p>Panarama LLC’s extensive Corporate Social Responsibility Program is proud to have
                        partnered with inspiring organizations</p>
                </div>


            </div>
        </div>
        <!-- End Partner Area -->

        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">

                                <div >
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-2.jpg" alt="image">
                                    </div>

                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="550" data-aos-duration="500" data-aos-once="true">

                            <p>In our ninth year of partnership, a challenging period gave the Covid-19 global pandemic, Panarama LLC and MEED launched SME Insights. A one-of-a-kind multi-channel program of activity, the initiative provides information, intelligence, and support to the regional small
                               and medium-sized enterprise (SME) community.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->

        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">

                                <div >
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-2.jpg" alt="image">
                                    </div>

                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="550" data-aos-duration="500" data-aos-once="true">

                            <p>Encouraging opportunities within the country’s growing creative and cultural industries, the Abu Dhabi Music & Arts Foundation (ADMAF) invites Emirati artists and visual arts practitioners to submit their entries for The Panarama LLC – Abu Dhabi Festival Visual Arts Award and The Panarama LLC –
                              ADMAF Creativity Award as part of the Abu Dhabi Festival 2019.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->

        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">

                                <div >
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-2.jpg" alt="image">
                                    </div>

                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="550" data-aos-duration="500" data-aos-once="true">

                            <p>Panarama LLC has been a partner of Emirates Nature-WWF since 2017. In support of Panarama LLC’s sustainability strategy, we seek to conserve the UAE’s natural heritage and build a sustainable and prosperous future for the Emirates. The focus of this partnership is on conservation across four areas, complementing
                              UNESCO and the UN’s Sustainable Development Goals.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->

        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">

                                <div >
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-2.jpg" alt="image">
                                    </div>

                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="550" data-aos-duration="500" data-aos-once="true">

                            <p>The program aims to increase awareness of the government’s efforts to minimize the spread of the novel coronavirus, COVID-19, outbreak, encourage the community to adhere to the
                              guidelines and get tested for COVID-19.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->

        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">

                                <div >
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-2.jpg" alt="image">
                                    </div>

                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="550" data-aos-duration="500" data-aos-once="true">

                            <p>Operation Smile is an international medical charity whose global network of thousands of credentialed medical volunteers from over 80 countries is committed to helping improve the health and lives
                              of children from more than 60 countries.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->

        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">

                                <div >
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-2.jpg" alt="image">
                                    </div>

                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="550" data-aos-duration="500" data-aos-once="true">

                            <p>In line with the decision of His Highness Sheikh Khalifa bin Zayed Al Nahyan, the UAE President, declaring the year 2017 as the ‘The Year of Giving’ and the Global Vision for Endowment adopted by His Highness Sheikh Mohammed bin Rashid Al Maktoum, the UAE Vice President, Prime Minister and Ruler of Dubai, Panarama LLC has announced the allocation of a sustainable endowment support for environmental programmes at the Emirates Wildlife Society WWF in cooperation with Mohammed bin Rashid Global Centre for Endowment Consultancy (MBRGCEC). As a result, Panarama LLC has received the Dubai Endowment Sign from Mohammed bin Rashid Global Centre for Endowment Consultancy (MBRGCEC), one of Mohammed Bin Rashid global initiatives in recognition of its community contribution as a
                              role model for the private sector institutions.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->

        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">

                                <div >
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-2.jpg" alt="image">
                                    </div>

                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="550" data-aos-duration="500" data-aos-once="true">

                            <p>Manzil is a UAE based, non-profit center that caters to students with cognitive disabilities. In support of giving back to the community, our team has delivered team building training for Manzil staff, volunteered on school excursions
                              and led student activities at the summer camp.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->

        <!-- End Footer Area -->
        <footer class="footer-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="widget-logo">
                                <img src="assets/images/logo.png" class="black-logo" alt="image">
                                <img src="assets/images/logo-2.png" class="white-logo" alt="image">
                            </div>
                            <p>To get exclusive updates and benefits.</p>

                            <form class="newsletter-form" data-bs-toggle="validator">
                                <input type="email" class="input-newsletter" placeholder="Enter email" name="EMAIL" required autocomplete="off">

                                <button type="submit" class="default-btn">Subscribe</button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>

                            <ul class="widget-social">
                                <li>
                                    <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/signup" target="_blank">
                                        <i class="ri-linkedin-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <h3>Company And Team</h3>

                            <ul class="quick-links">
                                <li><a href="team.html">Company And Team</a></li>
                                <li><a href="blog.html">News And Blog</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="help-center.html">Affiliates And Partnerships</a></li>
                                <li><a href="about-us.html">Careers</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <h3>Resources</h3>

                            <ul class="quick-links">
                                <li><a href="help-center.html">Security</a></li>
                                <li><a href="faq.html">FAQ's</a></li>
                                <li><a href="help-center.html">Community</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <h3>Contact Info</h3>

                            <ul class="info-links">
                                <li><span>Location:</span> 27 Division St, 1100. E Denver, CO 80237, USA</li>
                                <li><span>Email:</span> <a href="mailto:contact@info.com">snuff@gmail.com</a></li>
                                <li><span>Phone:</span> <a href="tel:44789289524329">+44 7892 8952 4329</a></li>
                                <li><span>Fax:</span> <a href="tel:1212-9876543">+1-212-9876543</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-area-content">
                        <p>
                            Copyright @<script>document.write(new Date().getFullYear())</script> Snuff All Rights Reserved by
                            <a href="https://hibootstrap.com/" target="_blank">
                                HiBootstrap
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="ri-arrow-up-s-line"></i>
        </div>
        <!-- End Go Top Area -->

        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/TweenMax.min.js"></script>
        <script src="assets/js/ScrollMagic.min.js"></script>
        <script src="assets/js/aos.js"></script>
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
