<%- include("../includes/front-pages") -%>

        <!-- Start Page Banner Area -->



        <!-- End Page Banner Area -->

        <!-- Start Partner Area -->

        <!-- End Partner Area -->

        <!-- Start Reliable Area -->
        <br />
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-2.jpg" alt="image">
                                    </div>
                                    <div class="wrap-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-3.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>ESG</span>
                            <h3>Intrinsic to Creating Value</h3>
                            <p>We strongly believe that Environmental, Social and Governance
                               (ESG) factors positively contribute to better investment
                               outcomes, as well as contributing to help build a more stable,
                                sustainable and inclusive global economy. By incorporating
                                ESG criteria into our investment decision making and
                                 investment practices we can influence the companies we
                                 invest in to
                              create long-term sustainable value.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->
        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">

                  <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <!-- <span>INTERNATIONAL EXPANSION</span>
                            <h3>Building Global Leaders</h3> -->
                            <p>Becoming a signatory of the Principles for Responsible
                              Investment allows us to demonstrate our formal commitment
                              to upholding the PRI principles for our investments. As a
                              firm with a global footprint, our internal policies and
                               procedures must consider the impact of our investment decisions
                               on the wider community at a time when financial services firms
                                need to align with the broader objectives of the society.
                                In the long run, we firmly believe that responsible investing
                                 is the only sustainable way of generating superior returns,
                                  while improving our companies’ impact on society and the
                                  environment.</p>


                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-2.jpg" alt="image">
                                    </div>
                                    <div class="wrap-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-3.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Reliable Area -->
        <!-- Start Reliable Area -->

        <!-- End Global Transfers Area -->

        <!-- Start Paiement Area -->

        <!-- End Paiement Area -->

        <!-- Start Benefits Area -->
        <div class="benefits-area pt-100 pb-75">
            <div class="container">
                <div class="">

                    <p style="text-align:center; font-size:18px;" data-aos="fade-left" data-aos-delay="20" data-aos-duration="300" data-aos-once="true">“As a Firm with a global footprint, our internal policies and procedures must consider the impact of our investment decisions on the wider community at a time when financial services firms need to align with
                       the broader objectives of society.”</p>
                </div>


            </div>
        </div>
        <!-- End Benefits Area -->
        <div class="global-transfers-area pt-100 pb-75">
            <div class="container" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                <div class="section-title">
                    <span>OUR POLICY & FRAMEWORK</span>
                    <h2>Our Approach to ESG</h2>
                </div>
                <!-- blog style like start -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">


                            <div class="blog-content">
                              <h3>Taskforce</h3>
                                <p style="font-size:14px">The ESG Taskforce is comprised of a cross sectional team across asset classes and businesses units. The taskforce works to implement and monitor
                                  ESG processes at the firm and investment level.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">

                            <div class="blog-content">
                              <h3>Framework</h3>

                                <p style="font-size:14px">Our firmwide ESG framework allows us to promote sound environmental and social practices, encourage transparency and accountability, and contribute to positive development
                                  impacts as a business and across our investments.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">

                            <div class="blog-content">
                                <h3>Transparency</h3>

                                <p style="font-size:14px">We believe in accountability and are committed to building a transparent framework around our ESG initiatives. By reporting key sustainability metrics and benchmarking the performance of our companies on a range of industry-specific issues, we demonstrate our dedication to the highest standards of ESG reporting
                                   and action planning with measurable data and KPIs.</p>

                            </div>
                        </div>
                    </div>


                <!-- blog style like end -->

            </div>
        </div>
        </div>

        <!-- Start Pricing Area -->
        <div class="reliable-area pt-100 pb-75" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
            <div class="container">
                <div class="section-title">
                    <span>OUR ESG</span>
                    <h2>Case Studies</h2>
                </div>
                <!-- blog style like start -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">
                            <div class="blog-image">
                                <a href="#" onclick="return false;"><img src="assets/images/blog/geidea.jpg" alt="image"></a>

                                <div class="date">Geidea</div>
                            </div>
                            <div class="blog-content">

                                <p style="font-size:14px">A Service Provider in the Point-of-Sale (POS)  Terminals and Digital Banking industry
                                  in Saudi Arabia into Egypt and Greater Africa</p>
                                  <h6>ENABLING FINANCIAL INCLUSION</h6>
                                  <ul class="quick-links" >
                                      <li>Company And Team</li>
                                      <li>15-20% SME’s​</li>
                                      <li>4+ million Daily Transactions</li>

                                  </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">
                            <div class="blog-image">
                                <a href="#" onclick="return false;"><img src="assets/images/blog/Metito.jpg" alt="image"></a>

                                <div class="date">Metito</div>
                            </div>
                            <div class="blog-content">

                                <p style="font-size:14px">A global leader and provider of
                                  choice for sustainable water management solutions</p>
                                  <h6 style="text-align:center">ACCESS TO CLEAN WATER & SANITATION</h6>
                                  <ul class="quick-links" >
                                      <li>  Bridging the gap between water supply & demand</li>
                                      <li>Safeguarding nations natural resources​</li>
                                      <li>Over 3,000 successful projects across water stressed markets</li>

                                  </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">
                            <div class="blog-image">
                                <a href=#" onclick="return false;" ><img src="assets/images/blog/cho.jpg" alt="image"></a>

                                <div class="date">CHO Company</div>
                            </div>
                            <div class="blog-content">

                                <p style="font-size:14px">A fully integrated producer and exporter of edible
                                  olive oil and olive-based cosmetics in Tunisia</p>
                                  <h6 style="text-align:center">SUPPORTING SUSTAINABLE FARMING PRACTICES</h6>
                                  <ul class="quick-links" >
                                      <li>  CHO supports c. 140k Farmers</li>
                                      <li>Provides employment opportunities in rural Tunisia</li>
                                      <li>Trains farmers on sustainable practices</li>

                                  </ul>
                            </div>
                        </div>
                    </div>


                <!-- blog style like end -->

            </div>
        </div>
        </div>

        <!-- End Pricing Area -->

        <!-- Start Review Area -->

        <!-- End Review Area -->

        <!-- Start App Area -->

        <!-- End Funfact Area -->

        <!-- End Footer Area -->
        <footer class="footer-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="widget-logo">
                                <img src="assets/images/logo.png" class="black-logo" alt="image">
                                <img src="assets/images/logo-2.png" class="white-logo" alt="image">
                            </div>
                            <p>To get exclusive updates and benefits.</p>

                            <form class="newsletter-form" data-bs-toggle="validator">
                                <input type="email" class="input-newsletter" placeholder="Enter email" name="EMAIL" required autocomplete="off">

                                <button type="submit" class="default-btn">Subscribe</button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>

                            <ul class="widget-social">
                                <li>
                                    <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/signup" target="_blank">
                                        <i class="ri-linkedin-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <h3>Company And Team</h3>

                            <ul class="quick-links">
                                <li><a href="team.html">Company And Team</a></li>
                                <li><a href="blog.html">News And Blog</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="help-center.html">Affiliates And Partnerships</a></li>
                                <li><a href="about-us.html">Careers</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <h3>Resources</h3>

                            <ul class="quick-links">
                                <li><a href="help-center.html">Security</a></li>
                                <li><a href="faq.html">FAQ's</a></li>
                                <li><a href="help-center.html">Community</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <h3>Contact Info</h3>

                            <ul class="info-links">
                                <li><span>Location:</span> 27 Division St, 1100. E Denver, CO 80237, USA</li>
                                <li><span>Email:</span> <a href="mailto:contact@info.com">snuff@gmail.com</a></li>
                                <li><span>Phone:</span> <a href="tel:44789289524329">+44 7892 8952 4329</a></li>
                                <li><span>Fax:</span> <a href="tel:1212-9876543">+1-212-9876543</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-area-content">
                        <p>
                            Copyright @<script>document.write(new Date().getFullYear())</script> Snuff All Rights Reserved by
                            <a href="https://hibootstrap.com/" target="_blank">
                                HiBootstrap
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="ri-arrow-up-s-line"></i>
        </div>
        <!-- End Go Top Area -->

        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/TweenMax.min.js"></script>
        <script src="assets/js/ScrollMagic.min.js"></script>
        <script src="assets/js/aos.js"></script>
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
