<%- include("../includes/front-pages") -%>

        
        <!-- Start Terms of Service Area -->
        <div class="terms-of-service-area ptb-100">
            <div class="container">
                <div class="terms-of-service-content">
                    
                    <h3>FRAUD ALERT !!!</h3>
                    
                    <blockquote class="blockquote">
                        <h1>
                            Important alert to Panarama LLC’s Investors, Shareholders, the Financial Services Community and the Public

                        </h1>
                    </blockquote>
                    
                    <p>
                        Fraudsters are engaging in a fraudulent email and website scams whereby websites and communications are targeting members of the public and potential investors (victims) by fraudulently using the identity of legitimate members of Panarama’s Executive team or Panarama’s Board of Directors to solicit investments, fake job offers and other dealings, without authority, and for a malicious purpose. Neither Panarama’s Chief Executive Officer nor any members of its Board of Directors or other members of its Executive team have made any offers for investment partnership, offers of employment or other dealings through these channels and the names, and identities of such individuals are being used illegally and without their consent.

                    </p>
                    <P>
                        Panarama and its management have taken and will continue to take legal action against anyone found misusing Panarama’s name or the names or identities of any members of the Board of Directors of Panarama or Panarama’s Executive team illegally or without consent for whatever reason.

                    </P>
                    <H3>Report Scams
                    </H3>
                    <blockquote class="blockquote">
                        <p>
                            We invite you to immediately contact <a href="https://www.fraud-detection@Panaramallc.com">fraud-detection@Panaramallc.com</a>* if any of the following occur:

                        </p>
                    </blockquote>
                    <ol>
                        <li>
                            You have received any unsolicited correspondence or investment advice or you think you have been contacted in relation to a possible scam (whether by telephone, email or courier) by sources fraudulently impersonating Panarama’s Board of Directors or any members of Panarama’s Executive team.

                        </li>
                        <li>
                            You have received notice from anyone outside of Panarama informing you or raising concern regarding the fact that they may have been contacted by any sources fraudulently impersonating Panarama’s Board of Directors or any members of Panarama’s Executive team.

                        </li>
                        <li>
                            You have received any communications referencing any of Panarama’s Board of Directors that you consider are suspicious or which you are not sure how to respond to.
                        </li>
                        <li>
                            You have any concerns about the authenticity of any website passing itself off as a website operated by Panarama or referencing the names and identities of the Board of Directors of Panarama or any of its Executive team without authority.

                        </li>
                    </ol>
                    <h5>
                        *Note: When forwarding suspicious e-mails to fraud-detection@Panaramallc.com:

                    </h5>
                    <ol>
                        <li>
                            Do not modify the original subject line or contents enclosed, and do not include any personal or confidential information.

                        </li>
                        <li>
                            Forward the full internet headers of any suspicious emails to fraud-detection@Panaramallc.com before deleting as this information will help Panarama to track the true origin of the correspondence. The internet headers can be found through your e-mail system from within the e-mail. For example, in Microsoft Outlook, you can find the internet headers by opening the e-mail, then choosing “View” and “Options”. Depending on the e-mail system that you use, the process for locating the internet headers will vary. We recommend you either copy and paste the internet header and message into a new e-mail or scan the e-mail and full headers and send as a PDF attachment to ensure it is received by fraud-detection@Panaramallc.com.

                        </li>
                    </ol>

                    <h3>Protect Yourself</h3>
                    <ol>
                        <li>We recommend that you avoid getting into a conversation with any fraudsters or revealingany personal or identifying information, but you should endeavor to record thepurported name of the person and organisation along with any other information they give you (e.g., telephone number, address etc.) and then forward all such information to fraud-detection@Panaramallc.com.
                        </li>
                        <li>You should obtain independent legal and financial and professional advice before handing over any funds or entering into any agreements in relation to such solicitations.
                        </li>
                        <li>We recommend that you not respond or open any attachments or links associated with any suspicious e-mails</li>
                    </ol>
                    
                    
                </div>
            </div>
        </div>
        <!-- End Terms of Service Area -->

        <!-- Start Overview Area -->
        <div class="overview-area ptb-100">
            <div class="container">
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>Connect Us</span>
                    <h3>Sending International Business Payments or Sending Money To Family Overseas? Snuff Are Your Fast And Simple Solution.</h3>

                    <ul class="overview-btn-group">
                        <li>
                            <a href="help-center.html" class="default-btn">Personal Account</a>
                        </li>
                        <li>
                            <a href="help-center.html" class="optional-btn">Business Account</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Overview Area -->

        <!-- End Footer Area -->
        <%- include("../includes/front-footer") -%>