<%- include("../includes/front-pages") -%>

        <!-- Start Page Banner Area -->



        <!-- End Page Banner Area -->

        <!-- Start Partner Area -->
        <div class="partner-area ptb-100">
            <div class="container">
                <div class="partner-title">
                    <span>AMBITION AT ITS BEST</span>
                    <h3>Growth Capital</h3>
                    <p>We partner with and invest in ambitious company
                       owners and management teams, providing growth capital
                        and strategic support to achieve
                       the company’s full potential.</p>
                </div>

                <div class="partner-optional-text">
                    <p>Medium-to-large Business? <span>We got you covered</span></p>
                </div>
            </div>
        </div>
        <!-- End Partner Area -->

        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-2.jpg" alt="image">
                                    </div>
                                    <div class="wrap-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-3.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>BESPOKE SOLUTIONS</span>
                            <h3>Flexible Capital</h3>
                            <p>We partner closely with business owners to structure
                               bespoke private debt solutions for their specific
                               needs. Our flexible approach allows us to understand
                               an entrepreneur’s goals and objectives and to offer
                               a tailored capital solution
                               to accelerate growth.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->
        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">

                  <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>EXCEPTIONAL RETURNS</span>
                            <h3>Access To Growth Markets</h3>
                            <p>We operate in high growth markets, helping
                              our investors access exceptional returns while
                              navigating the potential risks through a structured
                              investment approach. This creates a unique risk-return
                               profile for our stakeholders with growth potential
                              balanced with risk management.</p>


                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-2.jpg" alt="image">
                                    </div>
                                    <div class="wrap-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/reliable-3.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Reliable Area -->
        <!-- Start Reliable Area -->

        <!-- End Reliable Area -->

        <!-- Start Global Transfers Area -->
        <div class="global-transfers-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    <span>OUR PORTFOLIO</span>
                    <h2>Recent Investments</h2>
                </div>
                <!-- blog style like start -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">
                            <div class="blog-image">
                                <a href="#" onclick="return false;"><img src="assets/images/blog/cho.jpg" alt="image"></a>

                                <div class="date">CHO Company</div>
                            </div>
                            <div class="blog-content">

                                <p style="font-size:14px">CHO Company is a Tunisia
                                  based fully integrated producer and exporter of
                                  organic and natural olive oil. Today, CHO is one
                                  of the largest players and the leading branded olive
                                   oil exporter from Tunisia. Our partnership with
                                   CHO enabled the company to utilize a growth capital
                                   facility for the expansion of its processing
                                   facilities and the acquisition of land for olive
                                   cultivation. CHO employs more than 720 people
                                    directly and supports around 140,000 farmers in
                                     its supply chain.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">
                            <div class="blog-image">
                                <a href="#" onclick="return false;"><img src="assets/images/blog/iSon.jpg" alt="image"></a>

                                <div class="date">Ison Xperiences</div>
                            </div>
                            <div class="blog-content">

                                <p style="font-size:14px">Panarama LLC partnered
                                  with AfricInvest to provide a $51mn structured
                                   loan and equity investment to Ison Xperiences,
                                   one of the largest customer call center outsourcing
                                    service providers across Africa and India. Ison
                                     leveraged this flexible solution to advance its
                                     successful expansion into South Africa and Egypt.
                                      Through an active partnership including a board
                                      seat, Panarama LLC provides valuable strategic
                                      advice on organic and inorganic growth
                                       opportunities, has steered improvements
                                       in governance and reporting, whilst preparing
                                       and supporting Ison for exit readiness.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">
                            <div class="blog-image">
                                <a href=#" onclick="return false;" ><img src="assets/images/blog/CassicF.jpg" alt="image"></a>

                                <div class="date">Classic Fashion</div>
                            </div>
                            <div class="blog-content">

                                <p style="font-size:14px">Under a compressed
                                  timeline, Panarama LLC was able to quickly
                                  execute and put in place a flexible growth capital
                                   facility to the support the company on an ambitious
                                   growth trajectory without diluting the
                                    founding entrepreneur. The investment facilitated
                                    Classic's next stage of development accelerating
                                     the expansion of production facilities and
                                     significantly expanding production capacity.
                                      Classic Fashion is the largest garment
                                       manufacturer and employer in Jordan, with
                                        around 27,000 employees, of which 70% are women.</p>

                            </div>
                        </div>
                    </div>


                <!-- blog style like end -->

            </div>
        </div>
        </div>
        <!-- End Global Transfers Area -->



        <!-- Start Funfact Area -->

        <!-- End Funfact Area -->

        <!-- End Footer Area -->
        <footer class="footer-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="widget-logo">
                                <img src="assets/images/logo.png" class="black-logo" alt="image">
                                <img src="assets/images/logo-2.png" class="white-logo" alt="image">
                            </div>
                            <p>To get exclusive updates and benefits.</p>

                            <form class="newsletter-form" data-bs-toggle="validator">
                                <input type="email" class="input-newsletter" placeholder="Enter email" name="EMAIL" required autocomplete="off">

                                <button type="submit" class="default-btn">Subscribe</button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>

                            <ul class="widget-social">
                                <li>
                                    <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/signup" target="_blank">
                                        <i class="ri-linkedin-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <h3>Company And Team</h3>

                            <ul class="quick-links">
                                <li><a href="team.html">Company And Team</a></li>
                                <li><a href="blog.html">News And Blog</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="help-center.html">Affiliates And Partnerships</a></li>
                                <li><a href="about-us.html">Careers</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <h3>Resources</h3>

                            <ul class="quick-links">
                                <li><a href="help-center.html">Security</a></li>
                                <li><a href="faq.html">FAQ's</a></li>
                                <li><a href="help-center.html">Community</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <h3>Contact Info</h3>

                            <ul class="info-links">
                                <li><span>Location:</span> 27 Division St, 1100. E Denver, CO 80237, USA</li>
                                <li><span>Email:</span> <a href="mailto:contact@info.com">snuff@gmail.com</a></li>
                                <li><span>Phone:</span> <a href="tel:44789289524329">+44 7892 8952 4329</a></li>
                                <li><span>Fax:</span> <a href="tel:1212-9876543">+1-212-9876543</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-area-content">
                        <p>
                            Copyright @<script>document.write(new Date().getFullYear())</script> Snuff All Rights Reserved by
                            <a href="https://hibootstrap.com/" target="_blank">
                                HiBootstrap
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="ri-arrow-up-s-line"></i>
        </div>
        <!-- End Go Top Area -->

        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/TweenMax.min.js"></script>
        <script src="assets/js/ScrollMagic.min.js"></script>
        <script src="assets/js/aos.js"></script>
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
