<%- include("../includes/front-pages") -%>
<style>
    video {
    max-width: 100%;
    height: auto;
  }
</style>

        <!-- Start Navbar Area -->
        <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <video autoplay muted loop id="myVideo">
            <source src="assets/images/main-banner/hero.mp4" type="video/mp4">
        </video>
        <div class="container position-absolute" data-aos="fade-up" data-aos-delay="500">
            <!-- <h1>Welcome to Day</h1> -->
            <!-- <h2>We are team of talented designers making websites with Bootstrap</h2> -->
            <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
        </div>
    </section><!-- End Hero -->
        
        

        <!-- End Navbar Area -->

       

        <!-- Start Getting Started Area -->
        <div class="getting-started-area-with-transparent ptb-100" style="margin-top: 0px;">
            <div class="container">
                <div class="row align-items-center">
                    <!-- <br /><br /><br /><br /><br /><br /><br /> -->
                    <div class="col-lg-6 col-md-12">
                        <div class="getting-started-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <!-- <span>Getting Started</span>
                            <h3>Get Set Up And Start Spending With Your Card In Minutes.</h3> -->

                            <div class="getting-started-accordion">
                                <h3>Whether you're a global institution, Financial advisor or high-net-Worth Individual, 
                                    we're committed To being your most valued partner.</h3>
                            </div>
                            <br />
                            <div class="banner-btn">
                                <a href="/register/Referral" class="default-btn">Get Started Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="getting-started-image" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <img src="assets/images/getting-started/lappi.png" alt="image">

                            <!-- <div class="video-view" data-speed="0.08" data-revert="true">
                                <iframe width="480" height="300"
                                src="https://www.youtube.com/embed/1kUE0BZtTRc?autoplay=1&mute=0">
                                </iframe>
                            </div> -->



                            <!-- <iframe width="700" height="394" src="https://www.youtube.com/embed/1kUE0BZtTRc" title="Renewable Energy 101 | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->


                            <div class="getting-shape">
                                <img src="assets/images/getting-started/shape-1.png" alt="image">
                            </div>
                            <div class="getting-shape-2">
                                <img src="assets/images/getting-started/shape-2.png" alt="image">
                            </div>
                            <div class="getting-shape-3">
                                <img src="assets/images/getting-started/shape-3.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Getting Started Area -->
        <!-- Start Getting Started Area -->
        <div class="getting-started-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    <span>Phenomenal Consulting solutions </span>
                    <h2>Our Services</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6">
                        <a href="/private-client">
                            <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                <div style="margin-bottom: 10px;">
                                    <img src="assets/images/getting-started/getting-1.png" alt="image">
                                </div>
                                <h3>Private Client Investment Management
                                </h3>
                                <p>A service provided by financial institutions and advisors to high-net-worth individuals and families. </p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <a href="/Institutional-investment">
                            <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <div style="margin-bottom: 10px;">
                                <img src="assets/images/getting-started/getting-2.png" alt="image">
                            </div>
                            <h3>Institutional Investment  Consulting </h3>
                            <p>A specialized service provided by consulting firms to institutional investors</p>
                        </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <a href="/Retirement-plan">
                            <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                                <div style="margin-bottom: 10px;">
                                    <img src="assets/images/getting-started/getting-3.png" alt="image">
                                </div>
                                <h3>Retirement Plan Consulting</h3>
                                <p>a specialized service provided by professionals and firms to assist employers in designing, implementing.</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <a href="/Investment-planning">
                            <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                                <div style="margin-bottom: 10px;">
                                    <img src="assets/images/getting-started/getting-4.png" alt="image">
                                </div>
                                <h3>Investment Planning</h3>
                                <p>the process of creating a strategy to manage and grow your financial resources over time</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Getting Started Area -->


        <!-- Start Paiement Area -->
        <div class="global-transfers-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="paiement-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>WHO WE ARE</span>
                            <h3>Profile and Mission</h3>
                            <p style="font-size: 14px;">Panarama LLC is a leading intellectual and community-based investment
                               firm with over 16 years of investment experience in Growth Markets across Private Equity, Private Debt
                                and Real Estate. Panarama LLC collaborates with powerful entrepreneurs and specialized management groups to provide them with growth funding, strategic advice and operational expertise
                              to build the world's leading business markets</p>
                              <p style="font-size: 14px;">We create value in the companies we invest in. This  involves improving operational efficiency, expanding the business, or implementing strategic changes
                              </p>
                              <p style="font-size: 14px;">We align our interests with their investors, typically by co-investing in their own funds and charging fees based on the performance of
                                 investments.</p>
                               <p style="font-size: 14px;">While Building strong relationships with portfolio companies, co-investors, and industry partners is often central to our mission in achieving excellence.
carefully managing risk by conducting due diligence, diversifying investments, and actively monitoring portfolio companies.
</p>

                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6">
                                    <ul class="paiement-list">
                                        <li><i class="ri-check-line"></i> Generate Profits</li>
                                        <li><i class="ri-check-line"></i> World-class Governance</li>
                                        <li><i class="ri-check-line"></i> Deep Technology</li>
                                    </ul>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <ul class="paiement-list">
                                        <li><i class="ri-check-line"></i> High-quality Performance</li>
                                        <li><i class="ri-check-line"></i> Institutional Investors</li>
                                        <li><i class="ri-check-line"></i> Key Stakeholders.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="paiement-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <img src="assets/images/reliable/ai1.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Paiement Area -->

        <!-- Start Funfact Area -->
        <div class="benefits-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    <span>Our Funfact</span>
                    <h2>Panarama LLC in Numbers Just by Looking.</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-funfact-box" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <h3>
                                <span class="odometer" data-count="16">00</span>
                                <span class="small-text">Years</span>
                            </h3>
                            <p>In Business</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-funfact-box" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <h3>
                                €<span class="odometer" data-count="13.2">00</span>
                                <span class="small-text">bn</span>
                            </h3>
                            <p>Aum</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-funfact-box" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <h3>
                                <span class="odometer" data-count="1000">+</span>
                                <span class="small-text">+</span>
                            </h3>
                            <p>Investments</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-funfact-box" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <h3>
                                <span class="odometer" data-count="102">00</span>
                                <span class="small-text"></span>
                            </h3>
                            <p>Investors Professionals</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Funfact Area AIAIAIA-->
        <div class="global-transfers-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                               
                                <div class="col-lg-12 col-sm-6">
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/ai2n.jpg" alt="image">
                                    </div>
                                   
                                </div>
                            </div>
                            <!-- <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div> -->
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="paiement-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>Airtificial Intellligence</span>
                            <h3>Discover the Benefits of AI Managed Investment Accounts</h3>
                            <p>Do you want to make the most out of your investments? Our AI managed investment accounts are the perfect solution for you!
                            </p>
                            <p>Our state-of-the-art algorithms constantly monitor market trends and put your funds in the best positions for maximum returns. With us, you don’t need to worry about staying up to date with the latest news on stocks, bonds, commodities and more – we take care of that for you. Our platform also has a built-in risk management system that alerts you when any changes need
                                 to be made, so you don’t have to worry about losing money due to bad investments.

                            </p>
                            <p>We invite you to explore all of the features and
                                 benefits of our AI managed investment accounts and start planning for a secure financial future.</p>

                           
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
        <div class="main-banner-area-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-wrap-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>Our Growth</span>
                            <h1>Thinking Beyond Ordinary Strategies</h1>
                            <p>The wise man therefore always holds in these matters to this principle of selection.</p>

                            <ul class="banner-btn-group">
                                <!-- <li>
                                    <a href="/signup" class="default-btn">Get Started</a>
                                </li> -->
                                <li>
                                    <a href="/growth" class="optional-btn">Learn More</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-wrap-image" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <img src="assets/images/main-banner/moneygrow.jpg" alt="image">

                            <div class="wrap-shape-1">
                                <img src="assets/images/main-banner/shape-5.png" alt="image">
                            </div>
                            <div class="wrap-shape-2">
                                <img src="assets/images/main-banner/shape-1.png" alt="image">
                            </div>

                            <div class="overlay"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-banner-shape-3">
                <img src="assets/images/main-banner/vector-2.png" alt="image">
            </div>
        </div>


        <!-- Start Why Choose Us Area -->
        <div class="why-choose-us-area ptb-100 global-transfers-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="why-choose-us-image">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-sm-6">
                                    <div class="choose-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/ai3.jpg" alt="image">
                                    </div>
                                </div>
                                <!-- <div class="col-lg-6 col-sm-6">
                                    <div class="choose-image mb-25" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/why-choose-us/choose-2.jpg" alt="image">
                                    </div>
                                    <div class="choose-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/why-choose-us/choose-3.jpg" alt="image">
                                    </div>
                                </div> -->
                            </div>
                            <div class="choose-shape" data-speed="0.08" data-revert="true">
                                <img src="assets/images/why-choose-us/shape-1.png" alt="image">
                            </div>
                            <div class="choose-shape-2" data-speed="0.08" data-revert="true">
                                <img src="assets/images/why-choose-us/shape-2.png" alt="image">
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-lg-6 col-md-12 ">
                        <div class="why-choose-us-content with-padding-left">
                            <span>ESG & CSR</span>
                            <h3>Our Impact</h3>
                            <p>"Panarama LLC places ESG considerations at the heart of our investment decision-making
                               and corporate processes. Aligning ourselves with sustainability principles and causes of the global investor community allows us
                              to demonstrate our formal commitment to uphold these principles."</p>
                              <!-- <p>Global impact plays a significant role in shaping investment strategies. Here are some ways in which it influences investment decisions: -->
                            </p>
                            <br>
                            <a href="/global-impact" class="default-btn">Read More</a>


                            <ul class="choose-us-list">
                                
                                <li>                <div class="partner-slides owl-carousel owl-theme" >
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-1.png" alt="image"></a>
                                                    </div>
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-2.png" alt="image"></a>
                                                    </div>
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-3.png" alt="image"></a>
                                                    </div>
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-4.png" alt="image"></a>
                                                    </div>
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-5.png" alt="image"></a>
                                                    </div>
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-6.png" alt="image"></a>
                                                    </div>
                                                </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="why-choose-us-area ptb-100 global-transfers-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="why-choose-us-image">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-sm-6">
                                    <div class="choose-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <a href="/why-choose-us">
                                            <img src="assets/images/getting-started/why-new.png" alt="image">
                                        </a>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-6 col-sm-6">
                                    <div class="choose-image mb-25" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/why-choose-us/choose-2.jpg" alt="image">
                                    </div>
                                    <div class="choose-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/why-choose-us/choose-3.jpg" alt="image">
                                    </div>
                                </div> -->
                            </div>
                            <div class="choose-shape" data-speed="0.08" data-revert="true">
                                <img src="assets/images/why-choose-us/shape-1.png" alt="image">
                            </div>
                            <div class="choose-shape-2" data-speed="0.08" data-revert="true">
                                <img src="assets/images/why-choose-us/shape-2.png" alt="image">
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-lg-6 col-md-12 ">
                        <!-- Item removed -->
                        <!-- class="why-choose-us-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true" -->
                        <div class="why-choose-us-content with-padding-left">
                            <span>Know More</span>
                            <h3>Why Choose Us</h3>
                            <p>Here re some key aspects to Consider</p>
                              <!-- <p>Global impact plays a significant role in shaping investment strategies. Here are some ways in which it influences investment decisions: -->
                            </p>
                            <br>
                            <a href="/why-choose-us" class="default-btn">Read More</a>


                            <!-- <ul class="choose-us-list">
                                
                                <li>                <div class="partner-slides owl-carousel owl-theme" >
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-1.png" alt="image"></a>
                                                    </div>
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-2.png" alt="image"></a>
                                                    </div>
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-3.png" alt="image"></a>
                                                    </div>
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-4.png" alt="image"></a>
                                                    </div>
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-5.png" alt="image"></a>
                                                    </div>
                                                    <div class="partner-image">
                                                        <a href="about-us.html"><img src="assets/images/partner/partner-6.png" alt="image"></a>
                                                    </div>
                                                </div>
                                </li>

                            </ul> -->
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        
        <!-- End Why Choose Us Area -->



        
         <!-- Start Review Area -->
         <div class="review-area bg-F4F5F5 ptb-100">
            <div class="container">
                <div class="section-title">
                    <span>Our Review</span>
                    <h2>More Than 4,405,28 Happy Customers Trust Our Services</h2>
                </div>

                <div class="review-slides-two owl-carousel owl-theme">
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>I invested in Panarama because they are experienced and have also had the capacity to deliver on what they promise.
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/review-1.jpg" alt="image">
                            <h3>Angela Sebastian</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>As a business man in Mexico 
                            I am busy but I wanted to contribute to my retirement savings. Panarama make it easy for me to Invest locally and stay connected to the industry I know.
                            
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/peter.jpg" alt="image">
                            <h3>Peter Skuv</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>Panarama really keeps to their promise in terms of investment payment.they pay on time and have one of the best Rois.
                            The customer service is exceptional and their management team is very experienced in this field.
                            
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/jammie.jpg" alt="image">
                            <h3>Jammie white</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>During the pandemic in 2020, I couldn’t go to work anymore and I needed to still make some income for my self. So I found out about Panarama then i invested my savings at that time..my money started working for me and I made so much passive income with out doing anything.
                            Panarama is a reliable and trusted entity.
                            
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/Ronald.jpg" alt="image">
                            <h3>Ronald smith</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>I was absolutely amazed with the return of investment…so I was now confident to invest   More with them, Now I am retired and living my best life.

                            
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/Anthony.jpg" alt="image">
                            <h3>Anthony Steven.</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>During my final semester in school I was really worried about my life outside the university in the real world.
                            Panarama gave me that financial success I craved for.
                            The payout was reliable, fast and trusted. 
                             
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/lucy.jpg" alt="image">
                            <h3>Lucy benald</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>Super impressed by the amazing service and friendly team of professionals!

                             
                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/wilna.jpg" alt="image">
                            <h3>Wilna van Wyk</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>From the minute I started investing through Panarama  12 years ago I have only ever received first class service. Advice is clear. All the consultants I have ever dealt with have been friendly, helpful and efficient. Requests are dealt with promptly and my most recent experience with Natasha has been excellent on all levels.

                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/cath.jpeg" alt="image">
                            <h3>Catherine</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>This company’s excellent administration and sound guidance in navigating financial investments makes them a top choice.

                        </p>
                        <div class="review-info">
                            <img src="assets/images/review/tanya.jpeg" alt="image">
                            <h3>Tanya Brodie Rudolph</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>

                    <div class="single-review-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                        <ul class="review-rating">
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                        <p>Investing in Panarama has been a life changing experience for me. After I had my surgery in 2015, 
                            I couldn’t go to work again.
                            I was introduced to Panarama in 2018 and now I am able to earn 5 figures from the comfort of my home</p>
                        <div class="review-info">
                            <img src="assets/images/review/review-2.jpg" alt="image">
                            <h3>Timothy hays.</h3>
                            <span>Investor</span>
                        </div>
                        <div class="reviewquote-image">
                            <img src="assets/images/quote-icon.png" alt="image">
                        </div>
                    </div>
                </div>

                <div class="review-optional-content">
                    <p>But don’t just take our word for it - check out what our customers have to say about their experience with us: <b>Excellent</b> <span>Based on 25,454 reviews</span></p>
                </div>
            </div>

            <div class="review-shape">
                <img src="assets/images/review/shape-1.png" alt="image">
            </div>
            <div class="review-shape-2">
                <img src="assets/images/review/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Review Area -->

        <!-- Start Coverage Area -->
        <div class="getting-started-area-with-transparent ptb-100">
            <div class="container">
                <div class="section-title">
                    <span>Our Success</span>
                    <h2>Portfolio</h2>
                </div>
                
            
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-md-12">
                                    <div class="faq-accordion mb-25">
                                        <div class="accordion" id="FaqAccordion">
                                            <div class="accordion-item">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    American Veterinary Group <span class="tin"> / Current Porfolio</span>
                                                </button>
                                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                                    <div class="accordion-body">
                                                        <p>Veterinary group based in the South that partners with relationship-focused hospitals throughout the region.</p>
                                                        <p><b>Location</b>: USA</p>
                                                        <p><b>Website</b>: americanveterinarygroup.com</p>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="accordion-item">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Greenlight Networks <span class="tin"> / Current Porfolio / media & Communications</span>
                                                </button>
                                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                                    <div class="accordion-body">
                                                        <p>Greenlight Networks is an ultra-high-speed, broadband service provider, offering residential and small business customers Internet speeds up to a Gigabit per second.</p>
                                                        <p><b>Headquarters:</b> United Arab Emirates</p> 
                                                        <p><b>Investment Date</b>: 30 Jan 2020</p> 
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="accordion-item">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Mercer Advisors <span class="tin"> / Current Porfolio / Services</span>
                                                </button>
                                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                                    <div class="accordion-body">
                                                        <p>Mercer Advisors, a national Registered Investment Advisor (“RIA”) with Assets Under Management (“AUM”) 
                                                            exceeding $16.5 billion, is one of the largest independent wealth managers in the U.S., serving clients with
                                                             a focus on the mass affluent and high net-worth markets. Based in Denver, CO, Mercer has a national 
                                                             footprint with 44 offices and over 370 employees. The Company has 30+ years of wealth management experience
                                                              and differentiates itself as a total wealth manager serving investors as a fiduciary and providing a
                                                               broad range of services including financial planning, investments, estate planning, 
                                                            and tax planning and preparation services.</p>
                                                        <p><b>Location</b>: USA</p>
                                                        <p><b>Website</b>: merceradvisors.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnethree" aria-expanded="true" aria-controls="collapseOnethree">
                                                    Safe Fleet <span class="tin"> / Current Porfolio / Industrials</span>
                                                </button>
                                                <div id="collapseOnethree" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                                    <div class="accordion-body">
                                                        <p>Provider of safety and productivity solutions to fleet vehicles</p>
                                                        <p><b>Location</b>:USA</p>
                                                        <p><b>Website</b>: safefleet.net</p>
            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="faq-accordion">
                                        <div class="accordion" id="FaqAccordionTwo">
                                            <div class="accordion-item">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourT" aria-expanded="true" aria-controls="collapseFourT">
                                                    Emaar <span class="tin"> Properties</span>
                                                </button>
                                                <!-- <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#FaqAccordionTwo"> -->
                                                    <div id="collapseFourT" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
            
                                                    <div class="accordion-body">
                                                        <p>Our properties each have their own design aesthetic, providing an aspirational lifestyle within a thriving community.
                                                            Discover luxurious properties in Dubai</p>
                                                        <p><b>Location</b>: Dubai</p>
                                                        <p><b>Website</b>: emaar.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                                    Metronet <span class="tin"> / Current Porfolio / media & Communications</span>
                                                </button>
                                                <!-- <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#FaqAccordionTwo"> -->
                                                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
            
                                                    <div class="accordion-body">
                                                        <p>Provider of broadband data, video, and voice services over a fiber-to-the-premises network</p>
                                                        <p><b>Location</b>: USA</p>
                                                        <p><b>Website</b>: metronetinc.com</p>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="accordion-item">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    Omni Fiber <span class="tin"> / Current Porfolio / media & Communications</span>
                                                </button>
                                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                                    <div class="accordion-body">
                                                        <p>LOmni Fiber is a purpose built fiber to the home provider of high speed internet, voice, 
                                                            and video solutions to small markets in the Midwestern United States that have been traditionally neglected by the large phone and cable companies.
                                                        </p>
                                                        <p><b>Location</b>: Ohio, USA</p>
                                                        <p><b>Website</b>: omnifiber.com</p>
            
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="accordion-item">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                    Berlin Packaging <span class="tin"> / Current Porfolio / Industrials</span>
                                                </button>
                                                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                                    <div class="accordion-body">
                                                        <p> A value-added distribution business that serves over 45,000 customers in diversified end-markets,\
                                                             such as food and beverage, healthcare, and personal and pet care. The company provides its customers with over 40,000 different packaging SKUs made from a variety of plastic, glass, and metal materials that are sourced from over 1,200 suppliers worldwide. The company’s broad offering of services includes structural and brand design, 
                                                            worldwide sourcing, warehousing and logistics, and capital financing.</p>
                                                            <p><b>Location</b>:USA</p>
                                                        <p><b>Website</b>: berlinpackaging.com</p>
            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="faq-accordion mb-25">
                                        <div class="accordion" id="FaqAccordion">
                                            <div class="accordion-item">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                                    Calero-MDSL <span class="tin"> / Current Porfolio / media & Communications</span>
                                                </button>
                                                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                                    <div class="accordion-body">
                                                        <p>Calero and MDSL provide software and related services to help customers manage their complex and growing recurring communications and technology spend, ranging from fixed-line data & voice connections and mobile workforce devices to emerging Internet of Things (IoT) sensors, Software-as-a-Service (SaaS) subscriptions and Cloud Infrastructure-as-a-Service 
                                                            expenditures.</p>
                                                            <p><b>Location</b>:USA</p>
                                                        <p><b>Website</b>: caleromdsl.com</p>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="accordion-item">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                    CCC Information Services <span class="tin"> / Current Porfolio / Services</span>
                                                </button>
                                                <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                                    <div class="accordion-body">
                                                        <p>The leading solutions provider in the U.S. Auto Physical Damage information services market. Founded in 1980, the company provides 
                                                            information services and solutions that enable insurance carriers, auto repair shops, OEMs, and parts suppliers to manage the auto claim and vehicle restoration processes. The company’s leading capabilities, generated through over 30 years of proprietary claims data collection and product investment, produce demonstrable benefits for customer experience and collision repair time, accuracy, and all-in cost.
                                                        </p>
                                                        <p><b>Location</b>:USA</p>
                                                        <p><b>Website</b>:cccis.com</p>
            
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="accordion-item">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                    Checkers Drive-In Restaurants <span class="tin"> / Current Porfolio / Consumers, retail & distribution</span>
                                                </button>
                                                <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                                    <div class="accordion-body">
                                                        <p>Franchisor and operator of hamburger quick-service restaurants One of the nation's leading operators and franchisors of drive-thru Hamburger Quick Service Restaurants (“HQSR”) with approximately 900 locations across the U.S. Founded in 1986 and headquartered in Tampa, Florida, Checkers operates under the Checkers and Rally’s banners. The company distinguishes itself from competitors through its focus on delivering an outstanding value proposition to frequent quick-service category guests, 
                                                            a growing demographic.</p>
                                                            <p><b>Location</b>:USA</p>
                                                        <p><b>Website</b>:checkers.com 2016</p>
            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnefour" aria-expanded="false" aria-controls="collapseOnefour">
                                                    Metamed <span class="tin"> / Current Porfolio / Industrials</span>
                                                </button>
                                                <div id="collapseOnefour" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                                    <div class="accordion-body">
                                                        
                                                        <p>Metamed oversees the most extensive network of diagnostic imaging centers in the Middle East, offering a full range of scanning services from x-rays and ultrasounds to mammography 
                                                            and bone densitometry.</p>
                                                        <p><b>Headquarters</b>: Jordan</p>
                                                        <p><b>Investment Date</b>: 30 Nov 2009</p>
            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                
                                <div class="col-lg-3 col-md-12">
                                    <div class="faq-accordion">
                                        <div class="accordion" id="FaqAccordionTwo">
                                            <div class="accordion-item">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                                    Galway Insurance (fka EPIC Insurance) <span class="tin"> / Current Porfolio / Services</span>
                                                </button>
                                                <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                                    <div class="accordion-body">
                                                        <p>Diversified insurance brokerage distribution and underwriting platform with retail, wholesale, program administration and managing general a
                                                            gent capabilities.</p>
                                                            <p><b>Location</b>:USA</p>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="accordion-item">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                                    GoNetspeed (Future Fiber) <span class="tin"> / Current Porfolio / media & Communications</span>
                                                </button>
                                                <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                                    <div class="accordion-body">
                                                        <p>In 2021, six companies – OTELCO, OTTC, Upstate Fiber Networks, Lantek, GoNetspeed, and Icon – decided to bring decades of experience across a variety of technologies together to create something new. With a legacy of innovation and a commitment to unparalleled customer service, we are excited to accelerate the expansion of fiber networks throughout the East. Together, well deliver more fiber, more access, more speed, and better reliability across our footprint. Together, 
                                                            we are the new GoNetspeed.</p>
                                                            <p><b>Location</b>:USA</p>
            
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="accordion-item">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                                    Race Communications <span class="tin"> / Current Porfolio / media & Communications</span>
                                                </button>
                                                <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                                    <div class="accordion-body">
                                                        <p>A leading pure-play fiber-to-the-premises (“FTTP”) operator with a network passing over 23,000 homes, small businesses and large enterprises across the state of California. Since its founding, Race’s CEO and co-founder Raul Alcaraz has led the Company with a mission to provide high-speed Internet access to un-served and under-served communities 
                                                            throughout the state.</p>
                                                            <p><b>Location</b>:USA</p>
                                                        <p><b>Website</b>: race.com</p>
            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseSix">
                                                    What Is A Multi-currency Card?
                                                </button>
                                                <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                                    <div class="accordion-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nibh felis tortor viverra pulvinar nibh tincidunt pellentesque dolor. Sem lectus magna metus sit felis, ipsum, et. Auctor tellus id nunc nibh felis aliquam.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            </div>

            <div class="coverage-shape">
                <img src="assets/images/coverage/shape-1.png" alt="image">
            </div>
            <div class="coverage-shape-2">
                <img src="assets/images/coverage/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Coverage Area -->



        <!-- Start Overview Area -->
        
        <!-- End Overview Area -->

        <!-- End Footer Area -->
        <%- include("../includes/front-footer") -%>