<%- include("../includes/front-pages") -%>

        <!-- Start Page Banner Area -->
        <div class="page-banner-area">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="page-banner-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <h2>Portfolio</h2>
        
                            
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="page-banner-image" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <img src="assets/images/page-banner/banner.png" alt="image">

                            <div class="banner-shape">
                                <img src="assets/images/page-banner/shape.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area -->
        
        <!-- Start FAQ Area -->
        <div class="faq-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <span>Our Succcess</span>
                    <h2>Our Portfolio</h2>
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12">
                        <div class="faq-accordion mb-25">
                            <div class="accordion" id="FaqAccordion">
                                <div class="accordion-item">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        American Veterinary Group <span class="tin"> / Current Porfolio</span>
                                    </button>
                                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                        <div class="accordion-body">
                                            <p>Veterinary group based in the South that partners with relationship-focused hospitals throughout the region.</p>
                                            <p><b>Location</b>: USA</p>
                                            <p><b>Website</b>: americanveterinarygroup.com</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Greenlight Networks <span class="tin"> / Current Porfolio / media & Communications</span>
                                    </button>
                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                        <div class="accordion-body">
                                            <p>Greenlight Networks is an ultra-high-speed, broadband service provider, offering residential and small business customers Internet speeds up to a Gigabit per second.</p>
                                            <p><b>Headquarters:</b> United Arab Emirates</p> 
                                            <p><b>Investment Date</b>: 30 Jan 2020</p> 
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Mercer Advisors <span class="tin"> / Current Porfolio / Services</span>
                                    </button>
                                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                        <div class="accordion-body">
                                            <p>Mercer Advisors, a national Registered Investment Advisor (“RIA”) with Assets Under Management (“AUM”) 
                                                exceeding $16.5 billion, is one of the largest independent wealth managers in the U.S., serving clients with
                                                 a focus on the mass affluent and high net-worth markets. Based in Denver, CO, Mercer has a national 
                                                 footprint with 44 offices and over 370 employees. The Company has 30+ years of wealth management experience
                                                  and differentiates itself as a total wealth manager serving investors as a fiduciary and providing a
                                                   broad range of services including financial planning, investments, estate planning, 
                                                and tax planning and preparation services.</p>
                                            <p><b>Location</b>: USA</p>
                                            <p><b>Website</b>: merceradvisors.com</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnethree" aria-expanded="true" aria-controls="collapseOnethree">
                                        Safe Fleet <span class="tin"> / Current Porfolio / Industrials</span>
                                    </button>
                                    <div id="collapseOnethree" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                        <div class="accordion-body">
                                            <p>Provider of safety and productivity solutions to fleet vehicles</p>
                                            <p><b>Location</b>:USA</p>
                                            <p><b>Website</b>: safefleet.net</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="faq-accordion">
                            <div class="accordion" id="FaqAccordionTwo">
                                <div class="accordion-item">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        Metronet <span class="tin"> / Current Porfolio / media & Communications</span>
                                    </button>
                                    <!-- <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#FaqAccordionTwo"> -->
                                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">

                                        <div class="accordion-body">
                                            <p>Provider of broadband data, video, and voice services over a fiber-to-the-premises network</p>
                                            <p><b>Location</b>: USA</p>
                                            <p><b>Website</b>: metronetinc.com</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Omni Fiber <span class="tin"> / Current Porfolio / media & Communications</span>
                                    </button>
                                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                        <div class="accordion-body">
                                            <p>LOmni Fiber is a purpose built fiber to the home provider of high speed internet, voice, 
                                                and video solutions to small markets in the Midwestern United States that have been traditionally neglected by the large phone and cable companies.
                                            </p>
                                            <p><b>Location</b>: Ohio, USA</p>
                                            <p><b>Website</b>: omnifiber.com</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Berlin Packaging <span class="tin"> / Current Porfolio / Industrials</span>
                                    </button>
                                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                        <div class="accordion-body">
                                            <p> A value-added distribution business that serves over 45,000 customers in diversified end-markets,\
                                                 such as food and beverage, healthcare, and personal and pet care. The company provides its customers with over 40,000 different packaging SKUs made from a variety of plastic, glass, and metal materials that are sourced from over 1,200 suppliers worldwide. The company’s broad offering of services includes structural and brand design, 
                                                worldwide sourcing, warehousing and logistics, and capital financing.</p>
                                                <p><b>Location</b>:USA</p>
                                            <p><b>Website</b>: berlinpackaging.com</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="faq-accordion mb-25">
                            <div class="accordion" id="FaqAccordion">
                                <div class="accordion-item">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                        Calero-MDSL <span class="tin"> / Current Porfolio / media & Communications</span>
                                    </button>
                                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                        <div class="accordion-body">
                                            <p>Calero and MDSL provide software and related services to help customers manage their complex and growing recurring communications and technology spend, ranging from fixed-line data & voice connections and mobile workforce devices to emerging Internet of Things (IoT) sensors, Software-as-a-Service (SaaS) subscriptions and Cloud Infrastructure-as-a-Service 
                                                expenditures.</p>
                                                <p><b>Location</b>:USA</p>
                                            <p><b>Website</b>: caleromdsl.com</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        CCC Information Services <span class="tin"> / Current Porfolio / Services</span>
                                    </button>
                                    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                        <div class="accordion-body">
                                            <p>The leading solutions provider in the U.S. Auto Physical Damage information services market. Founded in 1980, the company provides 
                                                information services and solutions that enable insurance carriers, auto repair shops, OEMs, and parts suppliers to manage the auto claim and vehicle restoration processes. The company’s leading capabilities, generated through over 30 years of proprietary claims data collection and product investment, produce demonstrable benefits for customer experience and collision repair time, accuracy, and all-in cost.
                                            </p>
                                            <p><b>Location</b>:USA</p>
                                            <p><b>Website</b>:cccis.com</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                        Checkers Drive-In Restaurants <span class="tin"> / Current Porfolio / Consumers, retail & distribution</span>
                                    </button>
                                    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                        <div class="accordion-body">
                                            <p>Franchisor and operator of hamburger quick-service restaurants One of the nation's leading operators and franchisors of drive-thru Hamburger Quick Service Restaurants (“HQSR”) with approximately 900 locations across the U.S. Founded in 1986 and headquartered in Tampa, Florida, Checkers operates under the Checkers and Rally’s banners. The company distinguishes itself from competitors through its focus on delivering an outstanding value proposition to frequent quick-service category guests, 
                                                a growing demographic.</p>
                                                <p><b>Location</b>:USA</p>
                                            <p><b>Website</b>:checkers.com 2016</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnefour" aria-expanded="false" aria-controls="collapseOnefour">
                                        Metamed <span class="tin"> / Current Porfolio / Industrials</span>
                                    </button>
                                    <div id="collapseOnefour" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                        <div class="accordion-body">
                                            
                                            <p>Metamed oversees the most extensive network of diagnostic imaging centers in the Middle East, offering a full range of scanning services from x-rays and ultrasounds to mammography 
                                                and bone densitometry.</p>
                                            <p><b>Headquarters</b>: Jordan</p>
                                            <p><b>Investment Date</b>: 30 Nov 2009</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-lg-3 col-md-12">
                        <div class="faq-accordion">
                            <div class="accordion" id="FaqAccordionTwo">
                                <div class="accordion-item">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                        Galway Insurance (fka EPIC Insurance) <span class="tin"> / Current Porfolio / Services</span>
                                    </button>
                                    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                        <div class="accordion-body">
                                            <p>Diversified insurance brokerage distribution and underwriting platform with retail, wholesale, program administration and managing general a
                                                gent capabilities.</p>
                                                <p><b>Location</b>:USA</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                        GoNetspeed (Future Fiber) <span class="tin"> / Current Porfolio / media & Communications</span>
                                    </button>
                                    <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                        <div class="accordion-body">
                                            <p>In 2021, six companies – OTELCO, OTTC, Upstate Fiber Networks, Lantek, GoNetspeed, and Icon – decided to bring decades of experience across a variety of technologies together to create something new. With a legacy of innovation and a commitment to unparalleled customer service, we are excited to accelerate the expansion of fiber networks throughout the East. Together, well deliver more fiber, more access, more speed, and better reliability across our footprint. Together, 
                                                we are the new GoNetspeed.</p>
                                                <p><b>Location</b>:USA</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                        Race Communications <span class="tin"> / Current Porfolio / media & Communications</span>
                                    </button>
                                    <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                        <div class="accordion-body">
                                            <p>A leading pure-play fiber-to-the-premises (“FTTP”) operator with a network passing over 23,000 homes, small businesses and large enterprises across the state of California. Since its founding, Race’s CEO and co-founder Raul Alcaraz has led the Company with a mission to provide high-speed Internet access to un-served and under-served communities 
                                                throughout the state.</p>
                                                <p><b>Location</b>:USA</p>
                                            <p><b>Website</b>: race.com</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseSix">
                                        What Is A Multi-currency Card?
                                    </button>
                                    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#FaqAccordionTwo">
                                        <div class="accordion-body">
                                            <p>A multi-currency card is your perfect travel companion, allowing you to carry multiple currencies on one card. Whether you're shopping in Paris, dining in Tokyo, or sightseeing in New York, enjoy seamless transactions without the hassle of currency exchange. Save on foreign transaction fees and lock in exchange rates in advance for added peace of mind. Simplify your global adventures with a multi-currency card and experience true financial freedom wherever you go.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End FAQ Area -->

        <!-- Start Overview Area -->
        <div class="overview-area ptb-100">
            <div class="container">
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>Connect Us</span>
                    <h3>Sending International Business Payments or Sending Money To Family Overseas? Snuff Are Your Fast And Simple Solution.</h3>

                    <ul class="overview-btn-group">
                        <li>
                            <a href="help-center.html" class="default-btn">Personal Account</a>
                        </li>
                        <li>
                            <a href="help-center.html" class="optional-btn">Business Account</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Overview Area -->

        <!-- End Footer Area -->
        <footer class="footer-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="widget-logo">
                                <img src="assets/images/logo.png" class="black-logo" alt="image">
                                <img src="assets/images/logo-2.png" class="white-logo" alt="image">
                            </div>
                            <p>To get exclusive updates and benefits.</p>
                            
                            <form class="newsletter-form" data-bs-toggle="validator">
                                <input type="email" class="input-newsletter" placeholder="Enter email" name="EMAIL" required autocomplete="off">
        
                                <button type="submit" class="default-btn">Subscribe</button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>

                            <ul class="widget-social">
                                <li>
                                    <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/signup" target="_blank">
                                        <i class="ri-linkedin-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <h3>Company And Team</h3>

                            <ul class="quick-links">
                                <li><a href="team.html">Company And Team</a></li>
                                <li><a href="blog.html">News And Blog</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="help-center.html">Affiliates And Partnerships</a></li>
                                <li><a href="about-us.html">Careers</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <h3>Resources</h3>

                            <ul class="quick-links">
                                <li><a href="help-center.html">Security</a></li>
                                <li><a href="faq.html">FAQ's</a></li>
                                <li><a href="help-center.html">Community</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <h3>Contact Info</h3>

                            <ul class="info-links">
                                <li><span>Location:</span> 27 Division St, 1100. E Denver, CO 80237, USA</li>
                                <li><span>Email:</span> <a href="mailto:contact@info.com">snuff@gmail.com</a></li>
                                <li><span>Phone:</span> <a href="tel:44789289524329">+44 7892 8952 4329</a></li>
                                <li><span>Fax:</span> <a href="tel:1212-9876543">+1-212-9876543</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-area-content">
                        <p>
                            Copyright @<script>document.write(new Date().getFullYear())</script> Snuff All Rights Reserved by
                            <a href="https://hibootstrap.com/" target="_blank">
                                HiBootstrap
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="ri-arrow-up-s-line"></i>
        </div>
        <!-- End Go Top Area -->
        
        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script> 
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/TweenMax.min.js"></script>
        <script src="assets/js/ScrollMagic.min.js"></script>
        <script src="assets/js/aos.js"></script>
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>