<%- include("../includes/front-pages") -%>

        
        <!-- End Page Banner Area -->
        
        <!-- Start Terms of Service Area -->
        <div class="terms-of-service-area ptb-100">
            <div class="container">
                <div class="terms-of-service-content">
                    <p><i>This Terms of Service was last updated on March 1, 2021.</i></p>
                    <h3>Privacy Policy
                    </h3>
                    
                    <blockquote class="blockquote">
                        <p>
                            This Privacy Policy (“Policy”) may be amended or updated from time to time to reflect changes in our practices with respect to the processing of personal data, or changes in applicable law. We encourage you to read this Policy carefully, and to regularly check this page to review any changes we might make in accordance with the terms of this Policy.


                        </p>
                    </blockquote>
                    <h3>1. About this Privacy Policy
                    </h3>
                    <p>Panarama LLC (“Panarama”, “we”, “us”, “our”) values your security and privacy and may for certain types of personal data processing, be subject to the Data Protection Law, DIFC Law No. 5 of 2020 (the “DP Law”) or laws from other jurisdictions.
                        For the purposes of this Policy “Personal Data” means any information that Panarama  processes that relates to identifiable or identified individuals.
                    </p>
                    <h6>This Policy:</h6>
                    <p>is issued by Panarama and addressed to individuals outside our organisation and anywhere in the world who submit Personal Data to Panarama or whose Personal Data we otherwise obtain in the course of our ordinary business activities; and
                        sets out the basis on which we collect, use and disclose your Personal Data.</p>
                    <h6>Specifically, this Policy covers:</h6>
                    <p>
                        <ul>
                            <li>Employees of representatives of our service providers;
                            </li>
                            <li>Clients or potential clients (or representatives of corporate clients or potential corporate clients);</li>
                            <li>Employees, representatives and / or directors of companies we are considering investing in (subject to having entered into appropriate confidentiality arrangement with such target companies); and
                            </li>
                            <li>
                                Shareholders of companies we are considering investing in.

                            </li>
                        </ul>
                    </p>
                    <h6>This Policy does not cover:</h6>
                    <ul>
                        <li>Our employees, directors and contractors;</li>
                        <li>Our shareholders; and</li>
                        <li>Job applicants.</li>
                    </ul>
                    <p>Such individuals will be provided with a separate privacy policy which is specific to our relationship with them.</p>
                    <blockquote class="blockquote">
                        <p>For the purposes of the DP Law, we are a Controller in respect of your Personal Data. We are responsible for ensuring that we use your Personal Data in compliance with the DP Law.
                        </p>
                    </blockquote>
                <h3>2. Principles and Basis for Use of Personal Data</h3>
                    <ul>
                        <li>We will take all steps reasonably necessary to ensure your data is processed fairly and lawfully, in accordance with the DP Law, other applicable laws and this Policy. We will:
                            process your Personal Data in a lawful, fair, transparent and secure way;
                        </li>
                        <li>collect your Personal data only for specific, explicit and legitimate purposes as explained to you when collecting your personal data;
                        </li>
                        <li>Not use your Personal Data in a way that is incompatible with those purposes;
                        </li>
                        <li>Process your Personal Data in a manner that is adequate and relevant to the purposes for which we have collected it and limited only to those purposes;
                        </li>
                        <li>keep your Personal Data accurate, where necessary, up to date; and
                        </li>
                        <li>Keep your Personal Data in a form that identifies you only as long as necessary for the purposes we have informed you or as permitted by law.
                        </li>
                        <li>We use your Personal Data on the following legal bases:
                        </li>
                        
                       </ul>
                    <p>We use your Personal Data on the following legal bases: for our legitimate business interests as set out in Section 4 below;

                    </p>
                    <ol>
                        <li>because the information is necessary for the performance of a contract with you or to take steps at your request to enter into a contract;
                        </li>
                        <li>because you have given your consent (if we expressly ask for consent to process your Personal Data for a specific purpose;)</li>
                        <li> and
                            to comply with legal and regulatory obligations (for example obtaining satisfactory due diligence for the purposes of MFSA anti-money laundering legislation).
                        </li>

                    </ol>
                    <p>With respect to any special categories of Personal Data (as set out under section 3 below), we rely on the following legal bases:
                    </p>
                    <p>To comply with anti-money laundering or counter-terrorist financing obligations.
                        Should you have any questions with respect to the legal basis which we rely on in relation to a particular processing activity, please do not hesitate to contact us using the methods described at section 13.
                    </p>
                    
                    <h3>3. Collection of Personal Data</h3>
                   <ul>
                        <li>The Personal Data we may collect from or in relation to you includes for example:
                            information establishing your identity (for example your name, address, email address, date of birth, passport or  ID, photograph);
                        </li>
                    
                    <li>documents to verify information supplied to us, such as bills issued by third parties or endorsements issued by employers or institutions such as banks;
                    </li>
                    <li>
                        reference checking information obtained via third parties such as credit reference agencies, and sanctions lists;
                        
                    </li>
                    <li>financial information (for example, credit card details, bank account details);
                    </li>
                    <li>information provided so that we are able to fulfil our regulatory compliance obligations including anti-money laundering and “know your client” checks (for example the information establishing your identity as set out above);
                    </li>
                    <li>information you provide when you enter into any agreement or provide other documentation or information in respect of your interactions with us, or when you use our services;
                    </li>
                    <li>any information you independently choose to provide to us (for example, if you send us an email or call us);
                    </li>
                    <li>information relating to your use of our website (for example, domain name, IP address and cookies) or information you provide when you register for alerts and subscriptions and when you report a problem with any of our website services; and
                    </li>
                    <li>any information collected where you are an employee of a target company (for example information establishing the identity of a target company employee’s spouse and children as detailed above, appraisals, ethnicity, sex, marital status, payroll number, salary, residency visa, criminal record, background checks, payroll register, designation, employee ID and qualifications).
                    </li>
                    <li>Under certain circumstances, we may also collect special categories of Personal Data, specifically:
                    </li>

                </ul>
                <h6>Criminal record checks</h6>
                <p>We may obtain your Personal Data from:
                </p>
                <ul>
                    <li>you (for example, when you use our website, when you make an inquiry, send emails, or otherwise provide us with your Personal Data);
                    </li>
                    <li>credit information, identity or criminal record checks;
                    </li>
                    <li>suppliers, consultants or advisors; and
                    </li>
                    <li>screening tools and information available in the public domain.
                    </li>

                </ul>
                <h3>4. Use of Personal Data</h3>
                <p>We may use or process your Personal Data for the following purposes:
                    to provide you with information about our services and investments including by way of:</p>
                    <ul>
                        <li>direct marketing;
                        </li>
                        <li>verifying or confirming investments or instructions from you or for your account;
                        </li>
                        <li>to establish your financial situation, risk profile, investment objectives to help you consider the suitability of the products you have invested in or intend to invest in;
                        </li>
                        <li>to verify your identity and to undertake customer due diligence;
                        </li>
                        <li>for audit purposes;
                        </li>
                        <li>to resolve complaints and handling requests and enquiries;
                        </li>
                        <li>preventing, detecting and investigating crime, including fraud and money-laundering or terrorist financing, and analysing and managing commercial risks;
                        </li>
                        <li>to respond to any queries, requests or comments that you may have;
                        </li>
                        <li>to process your payments;
                        </li>
                        <li>to review, develop and improve the services which we offer;
                        </li>
                        <li>to review, analyse and assess potential investment into target companies; and
                        </li>
                        <li>to comply with legal obligations.
                        </li>
                    </ul>
                    <h3>5. Sharing of Personal Data
                    </h3>
                    <p>We may share your Personal Data with:</p>
                    <ul>
                        <li>any member of the Panarama group;
                        </li>
                        <li>third party service providers who provide a service to us and need access to such Personal Data to carry out work on our behalf or to perform a contract we enter into with them (including but not limited to marketing and advertising, data processing, IT and office services);
                        </li>
                        <li>professional advisors such as our auditors, lawyers and fund administrators;
                            any competent authority or government entities if required by any applicable law, regulation, or legal process;
                        </li>
                            <li>if we otherwise notify you and you consent to the sharing; and
                                with third parties in an aggregated and/or anonymised form which cannot reasonably be used to identify you.
                            </li>
                    </ul>
                <h3>6. Transferring Personal Data Internationally</h3>
                <p>The information you submit may be transferred, stored and hosted outside the MFSA, and may be transferred to countries which do not have data protection laws or to countries where your privacy and other fundamental rights will not be protected as extensively. 
                    We will implement appropriate measures to ensure that your Personal Data remains protected and secure while and for as long as it remains under our control.
                    Should you have any questions with respect to safeguards we employ when transferring your Personal Data out of the MFSA, please do not hesitate to contact us using the methods described at section 13.
                </p>
                <h3>7. Data Retention</h3>
                <p>We will keep your Personal Data for as long as is necessary for the specific purpose which we collected it, or to comply with any legal obligations to which we may be subject.
                </p>
                <h3>8. Your Rights</h3>
                <blockquote class="blockquote">
                    <p>You may contact us if you wish to:
                        Access your Personal Data: request a copy of your Personal Data that we process about you.
                        </p>
                </blockquote>
                <ul>
                <li>Rectify your Personal Data: request us to amend or update your Personal Data where it is inaccurate or incomplete. We are not responsible for the accuracy of the information you provide, and will modify or update your Personal Data upon your request.
                </li>
                <li>Erase your Personal Data: request us to delete your Personal Data where it is no longer necessary for the purpose(s) for which your information was collected. We will erase or archive from active use your Personal Data upon request, unless we are required to retain it in accordance with MFSA or other applicable laws or to perform agreed services.
                </li>
                <li>Restrict your Personal Data: request us to temporarily or permanently to stop processing all or some of your Personal Data.
                </li>
                <li>Object to use of your Personal Data: at any time, object to us processing your personal data where it is based exclusively on our legitimate interests or for direct marketing purposes.
                </li>
                <li>Receive or transmit your Personal Data in machine-readable and structured format (also known as “data portability”): request the receipt or transmission of your personal data to another organisation, in a structured and machine-readable format.
                    Withdraw your consent: withdraw your consent at any time to the use of your Personal Data for a particular purpose (where we have asked for your consent to use your information for that particular purpose).</li>
                </ul>
                <p>For any of the above, please see Contact Us below.
                </p>
                <h3>9. Security</h3>
                <p>Panarama makes every effort to ensure that your Personal Data is secure on its system. Panarama has staff dedicated to maintaining our data protection and security policies, periodically reviewing them and making sure that Panarama employees are aware of our data protection and security practices. Unfortunately, no data transmission over the internet can be guaranteed to be 100% secure. As a result, Panarama cannot warrant or guarantee the security of any Personal Data you transmit to us, and you do so at your own 
                    risk</p>
                <p>Panarama has established policies and procedures for securely managing information and protecting Personal Data against unauthorised access. We continually assess our data privacy, information management and security practices. We do this in the following ways:
                    Establishing policies and procedures for securely managing information;
                    Limiting employee access to viewing only necessary information in order to perform his or her duties;
                    </p>
                <p>Protecting against unauthorised access to Personal Data by using data encryption, authentication and virus detection technology, as required;
                    Requiring service providers with whom we do business to comply with relevant data privacy legal and regulatory requirements;
                    </p>
                <p>Monitoring our websites through recognised online privacy and security organisations; and
                    Conducting background checks on employees and providing training to our employees.
                    We have put in place procedures to deal with any suspected data security breach and will notify 
                    you and any applicable regulator of a suspected breach where we are legally required to do
                     so.</p>
                <h3>10. Cookies</h3>
                <p>A cookie is a small text file that is unique to the web browser on your computer or mobile device, which is used to retain user preferences, and enhance browsing experience (“Cookie”). Panarama uses Cookies to track overall site usage and enables us to provide a better user experience.
                </p>
                <blockquote class="blockquote">
                    <p>We do not use Cookies to “see” other data on your computer or determine your email address.
                    </p>
                </blockquote>
                <p>Types of cookies we drop and the information collected using them include:
                    Essential
                </p>
                <p><h6>Google Tag Manager</h6> helps make tag management simple, easy and reliable by allowing marketers and webmasters to deploy website tags all in one place.
                    Site Analytics
                </p>
                <p><h6>Google Analytics</h6> gives website owners the digital analytics tools needed to analyse data from all touch-points in one place, for a deeper understanding of the customer experience.

                </p>
                <p><h6>Pingdom</h6>monitors sites and servers on the internet, alerting the website owners if any problems are detected.

                </p>
                <p><h6>Hotjar </h6> by combining both analysis and feedback tools, Hotjar helps website owners understand what users want, care about and interact with on their website by visually representing their clicks, taps and scrolling behaviour.

                </p>
                <h5>Advertising</h5>
                <p><h6>LinkedIn Analytics</h6>enables website owners to promote their company updates to targeted audiences on desktop, mobile, and tablet.

                </p>
                <p>Most browsers accept and maintain Cookies by default. Check the ‘Help’ or ‘Settings’ menu of your browser to learn how to change your Cookie preferences. You can choose to alter Cookies settings related to the use of our website services, but this may limit your ability to access certain areas of our website.
                </p>
                <p>Alternatively you may wish to visit an independent source of information, www.aboutcookies.org, which contains comprehensive information on how to alter settings or delete Cookies from your computer as well as more general information about Cookies. For information on how to do this on the browser of your mobile phone you will need to refer to your handset manual or network operator for advice.
                </p>
                <h3>11. External Links</h3>
                <p>The website may contain links to other websites on the Internet that are owned and operated by third parties. If you access those links, you will leave our website. These links are provided solely as a convenience to you and not as an endorsement by Panarama of their content or reliability. You acknowledge that Panarama is not responsible for the availability of, or the information and content of any external links. If you decide to access linked third party websites, you do so at your own risk. Panarama does not accept liability and shall not be liable to you for any loss or damage arising from or as a result of your acting upon the content of another website to which you may link from the website services.
                </p>
                <p>This Policy does not cover the personal data you choose to give to unrelated third parties. We encourage you to review the privacy policy of any company before submitting your Personal Data.</p>
                <h3>12. Changes to this Privacy Policy</h3>
                <p>We may change this Policy from time to time and without notice. If we make significant changes in the way we treat your Personal Data, or to the Policy, we will endeavour to provide you notice through the website services or by some other means, such as email. Your continued use of the website services after such notice constitutes your acceptance of the changes. We encourage you to periodically review this Policy for the latest information on our privacy practices. We provide links to it through:
                </p>
                <ul>
                    <li>website services;</li>
                    <li>referencing it in our Terms and Conditions; and
                    </li>
                    <li>incorporating it into our contracts, agreements, and other documents as necessary or appropriate.
                    </li>
                </ul>
                <h3>13. Contact Us</h3>
                <p>If you have any questions relating to this Policy or if you have any complaints related to how Panarama processes your Personal Data, please contact our Data Protection Officer by email at LCD@Panaramallc.com or at Office 3001, Level 30, Al Fattan Currency House Tower 2, DIFC, Dubai, UAE.
                </p>
                <blockquote class="blockquote">
                    You also have a right to lodge a complaint with the MFSA Commissioner for Data Protection at any time.
                </blockquote>










                    
                    
                    

                    
                    
                </div>
            </div>
        </div>
        <!-- End Terms of Service Area -->

        <!-- Start Overview Area -->
        <div class="overview-area ptb-100">
            <div class="container">
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>Connect Us</span>
                    <h3>Sending International Business Payments or Sending Money To Family Overseas? Snuff Are Your Fast And Simple Solution.</h3>

                    <ul class="overview-btn-group">
                        <li>
                            <a href="/contact.html" class="default-btn">Contact us</a>
                        </li>
                        <li>
                            <a href="/register" class="optional-btn">Join us</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Overview Area -->

        <!-- End Footer Area -->
        <%- include("../includes/front-footer") -%>