<%- include("../includes/front-pages") -%>

        <!-- Start Page Banner Area -->



        <!-- End Page Banner Area -->

        <!-- Start Partner Area -->
        <div class="partner-area ptb-100">
            <div class="container">
                <div class="partner-title">
                    <span>PARTNERS IN GROWTH</span>
                    <h3>Private Equity</h3>
                    <p>We partner with exceptional innovative entrepreneurs
                       and proven management teams to build global
                      leaders in high growth sectors of the future.</p>
                </div>

                <div class="partner-optional-text">
                    <p>Medium-to-large Business? <span>We got you covered</span></p>
                </div>
            </div>
        </div>
        <!-- End Partner Area -->

        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/deep1.png" alt="image">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/deep2.png" alt="image">
                                    </div>
                                    <div class="wrap-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/deep3.png" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>IDENTIFYING OPPORTUNITIES</span>
                            <h3>Deep Sectoral Expertise</h3>
                            <p>Panarama LLC’s Private Equity investment strategy
                              is driven by a disciplined thematic approach. We
                               focus on the sectors and sub-sectors of future
                                growth through rigorous and continuous mapping and
                                assessment of the investment landscape. Our senior
                                 sector aligned investment team is supported by a
                                  network of highly experienced advisors with decades
                                   of deep industry experience across their
                                   respective sectors. We bring a wealth of
                                    experience and strategic guidance to our
                                     management teams which helps our portfolio
                               companies grow into leaders in their industries
                              on the regional and international stage.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->
        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">

                  <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>LOCAL TO GLOBAL</span>
                            <h3>Cross Border Expansion</h3>
                            <p>We are proud of our successful track record
                               of building global leaders. We help our management
                                teams identify opportunities to grow across borders
                                 and regions through organic and inorganic expansion
                                  into new markets. By building cross border
                                   champions, our businesses often catch the
                                   attention of regional strategic investors
                                   seeking value across both emerging
                               and developed markets.</p>


                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/cross1.png" alt="image">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/cross2.png" alt="image">
                                    </div>
                                    <div class="wrap-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/cross3.png" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Reliable Area -->
        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image-wrap" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/trans1.png" alt="image">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="wrap-image mb-25" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/trans2.png" alt="image">
                                    </div>
                                    <div class="wrap-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                        <img src="assets/images/reliable/trans3.png" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-2.png" alt="image">
                            </div>
                            <div class="reliable-shape-2">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-content with-padding-left" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>HANDS-ON OPERATIONAL APPROACH</span>
                            <h3>Transformational Growth</h3>
                            <p>We steer our businesses to accelerate growth
                              through a focus on operational value creation.
                               Our transformational growth team use a combination
                                of financial, strategic, and operational levers
                                 to identify key growth drivers to clearly define
                                  a path to optimal performance. As hands-on
                                   partners, we collaborate closely with our
                                   management teams to navigate challenges
                               and drive value together.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->

        <!-- Start Global Transfers Area -->
        <div class="global-transfers-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    <span>Sample Investments</span>
                    <h2>OUR PORTFOLIO</h2>
                </div>
                <!-- blog style like start -->
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-blog-card">
                            <div class="blog-image">
                                <a href="#" onclick="return false;"><img src="assets/images/blog/geidea.jpg" alt="image"></a>

                                <div class="date">Geidea</div>
                            </div>
                            <div class="blog-content">

                                <p style="font-size:13px; font-width:normal">In Feb 2019, GC acquired a
                                   strategic stake in Geidea, the largest fintech company
                                    in Saudi Arabia by market share. Geidea recently
                                    became the only non-bank institution in Saudi Arabia
                                     to be granted an acquiring license from Saudi
                                     Central Bank (SAMA). The license enables Geidea
                                     to process secure, fast and seamless end-to-end
                                     payment solutions directly to merchants. Geidea
                                     is the first fintech in the region to develop an
                                     app based contactless ‘Tap on Phone’ solution which
                                     will empower SMEs with a simple and
                                  intuitive way to process customer payments</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-blog-card">
                            <div class="blog-image">
                                <a href="#" onclick="return false;"><img src="assets/images/blog/art.jpg" alt="image"></a>

                                <div class="date">ART Fertility Clinics</div>
                            </div>
                            <div class="blog-content">

                                <p style="font-size:13px">In January 2020, GC acquired a
                                  controlling stake in ART Fertility Clinics;
                                  the transaction is a corporate carve-out of the
                                  Middle Eastern clinics of IVI-RMA. ART Fertility
                                  Clinics is now an independent and leading provider
                                  of fertility treatments with the highest success
                                  rates internationally (69% Pregnancy rate). Having
                                   achieved over 5500+ pregnancies in less than five
                                    years, ART Fertility Clinics’ success is driven by
                                    the scientific and personalised approach of its
                                    highly skilled team. ART has operations in Oman
                                    and India.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-blog-card">
                            <div class="blog-image">
                                <a href=#" onclick="return false;" ><img src="assets/images/blog/accumed.jpg" alt="image"></a>

                                <div class="date">Accumed</div>
                            </div>
                            <div class="blog-content">

                                <p style="font-size:13px">In February 2018, GC acquired a majority stake in
                                   ACCUMED, the leading RCM provider in the UAE
                                   and Saudi Arabia. In line with GC’s buy-and-build
                                    strategy and transforming businesses into global
                                    champions, the firm acquired Eclat Health a Washington
                                     DC-based technology-enabled healthcare solutions
                                      provider, and Hansei Solutions a tech-driven
                                      full-suite RCM operator based out of California.
                                       The acquisitions aim to establish a unique
                                       global platform with a comprehensive suite of
                                       RCM solutions for the entire
                                   healthcare provider value chain.</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-blog-card">
                            <div class="blog-image">
                                <a href="#" onclick="return false;"><img src="assets/images/blog/Vezeeta.jpg" alt="image"></a>

                                <div class="date">Vezeeta</div>
                            </div>
                            <div class="blog-content">

                                <p style="font-size:13px">Vezeeta is the leading digital healthcare
                                  technology platform in MEA. They are pioneering
                                   the shift to automated physician, clinic and
                                    hospital bookings, telehealth and e-pharmacy,
                                     making healthcare easily accessible and more
                                     efficient in the region. Vezeeta is transforming
                                      the healthcare experience of millions of patients
                                       across the MEA region, by digitally streamlining
                                       their journey, and ensuring easy access to quality
                                        care for all via AI-powered solutions.</p>

                        </div>
                    </div>




                </div>
                <!-- blog style like end -->

            </div>
        </div>
        <!-- End Global Transfers Area -->



        <!-- Start Funfact Area -->
        <div class="fun-fact-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    <!-- <span>Our Funfact</span> -->
                    <h2>We Always Try To Understand Customers Expectation</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-funfact-box" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <h3>
                                <span class="odometer" data-count="180">00</span>
                                <span class="small-text">K</span>
                            </h3>
                            <p>Downloaded</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-funfact-box" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <h3>
                                <span class="odometer" data-count="20">00</span>
                                <span class="small-text">K</span>
                            </h3>
                            <p>Feedback</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-funfact-box" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <h3>
                                <span class="odometer" data-count="500">00</span>
                                <span class="small-text">+</span>
                            </h3>
                            <p>Workers</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-6">
                        <div class="single-funfact-box" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <h3>
                                <span class="odometer" data-count="100">00</span>
                                <span class="small-text">+</span>
                            </h3>
                            <p>Contrubutors</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Funfact Area -->

        <!-- End Footer Area -->
        <%- include("../includes/front-footer") -%>