<%- include("../includes/front-pages") -%>

        <!-- Start Page Banner Area -->
        <!-- Start Partner Area -->
        <div class="global-transfers-area ptb-100">
            <div class="container">
                <div class="partner-title">
                    <span>CREATING SUSTAINABLE COMMUNITIES</span>
                    <h3>Real Estate</h3>
                    <p>Panarama Related is a joint venture between two leaders
                      in their fields: Panarama Capital, one of the region’s most
                       successful alternative investment firms, and renowned U.S.
                      real estate developer Related Companies.</p>
                </div>

                <div class="partner-optional-text">
                    <p>Medium-to-large Business? <span>We got you covered</span></p>
                </div>
            </div>
        </div>
        <!-- End Partner Area -->
        <!-- Start Overview Area -->
        <div class="overview-area ptb-100">
            <div class="container" >
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>PREMIER RESIDENTIAL DEVELOPMENT IN RIYADH, SAUDI ARABIA</span>
                    <h3>Antara</h3>
                    <p class="move-left">Strategically located at the intersection of King
                      Khalid and King Salman roads in North Western Riyadh,
                       Antara is also within proximity of main city landmarks
                        such as King Abdullah Financial District, the
                         Diplomatic Quarter, the city
                      center and the airport to name just a few.</p>
                      <p class="move-left">With 520 units, Antara proposes a wide range of
                         carefully crafted homes that can satisfy the
                          preferences of single individuals, young married
                           couples and families with young children or
                            teenagers. The spacious and elegant villas,
                             contemporary townhouses and modern apartments
                              offer distinct and varied floorplans
                         to accommodate everyone’s needs.</p>
                         <p class="move-left">Antara is service centric therefore making the resort
                            style living experience a reality. Our residents
                            enjoy a variety of recreation and relaxation
                            facilities in a Mediterranean styled resort-like
                             environment
                           surrounded by lush landscaping.</p><br /> <hr><br />
                           <div class="row justify-content-center">
                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href="#" onclick="return false;"><img src="assets/images/blog/blog-1.jpg" alt="image"></a>


                                       </div>

                                   </div>
                               </div>

                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href="#" onclick="return false;"><img src="assets/images/blog/blog-2.jpg" alt="image"></a>
                                          </div>

                                   </div>
                               </div>

                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href=#" onclick="return false;" ><img src="assets/images/blog/blog-3.jpg" alt="image"></a>


                                       </div>

                                   </div>
                               </div>


                           <!-- blog style like end -->

                       </div>


                </div>
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Overview Area -->

        <!-- End Page Banner Area -->
        <!-- Start Getting Started Area -->
        <div class="global-transfers-area pt-100 pb-75">
          <div class="container" >
              <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                  <span>AL MARYAH ISLAND – NEW LUXURY WING</span>
                  <h3>The Galleria (East)</h3>
                  <p class="move-left"> The Galleria (East) (Formerly Al
                    Maryah Central) opened its doors to the public on
                    September 4th 2019. The dynamic 2.3 million square
                     foot mixed use development is located in the heart
                      of Al Maryah Island, Abu Dhabi. The Galleria (East) is seamlessly connected to over 15.8 million square foot of adjacent, completed and occupied properties on Al Maryah Island. The thriving district includes the five office towers located in Abu Dhabi Global Market Square, the luxury shopping and waterfront fine dining
                     destination at The Galleria (West), iconic Rosewood
                     Hotel and Four Seasons Hotel, and Cleveland Clinic
                     Abu Dhabi. The Galleria (East) spreads across four
                      levels, a diverse range of retail categories from
                      fashion, beauty, dining, homewares and electronics
                       ensure that the needs of the
                    wider Abu Dhabi community are catered for.</p>
                    <p class="move-left">With a combined total of over
                       400 stores including 100 dining outlets and a
                       world-class family entertainment offer, The Galleria
                        is Abu Dhabi’s most exciting shopping, dining
                       and entertainment and lifestyle hub.</p>
                       <br /> <hr><br />
                       <!-- 3 IMAGES GRID 1  -->
                         <div class="row justify-content-center">
                             <div class="col-lg-4 col-md-6">
                                 <div class="single-blog-card">
                                     <div class="blog-image">
                                         <a href="#" onclick="return false;"><img src="assets/images/blog/blog-1.jpg" alt="image"></a>


                                     </div>

                                 </div>
                             </div>

                             <div class="col-lg-4 col-md-6">
                                 <div class="single-blog-card">
                                     <div class="blog-image">
                                         <a href="#" onclick="return false;"><img src="assets/images/blog/blog-2.jpg" alt="image"></a>
                                        </div>

                                 </div>
                             </div>

                             <div class="col-lg-4 col-md-6">
                                 <div class="single-blog-card">
                                     <div class="blog-image">
                                         <a href=#" onclick="return false;" ><img src="assets/images/blog/blog-3.jpg" alt="image"></a>


                                     </div>

                                 </div>
                             </div>


                         <!-- blog style like end -->

                     </div>
                     <!-- THREEE IMAGES GRID 2 -->
                     <div class="row justify-content-center">
                         <div class="col-lg-4 col-md-6">
                             <div class="single-blog-card">
                                 <div class="blog-image">
                                     <a href="#" onclick="return false;"><img src="assets/images/blog/blog-1.jpg" alt="image"></a>


                                 </div>

                             </div>
                         </div>

                         <div class="col-lg-4 col-md-6">
                             <div class="single-blog-card">
                                 <div class="blog-image">
                                     <a href="#" onclick="return false;"><img src="assets/images/blog/blog-2.jpg" alt="image"></a>
                                    </div>

                             </div>
                         </div>

                         <div class="col-lg-4 col-md-6">
                             <div class="single-blog-card">
                                 <div class="blog-image">
                                     <a href=#" onclick="return false;" ><img src="assets/images/blog/blog-3.jpg" alt="image"></a>


                                 </div>

                             </div>
                         </div>


                     <!-- blog style like end -->

                 </div>
                     <!-- THREE IMAGES GRID 3 -->
                     <div class="row justify-content-center">
                         <div class="col-lg-4 col-md-6">
                             <div class="single-blog-card">
                                 <div class="blog-image">
                                     <a href="#" onclick="return false;"><img src="assets/images/blog/blog-1.jpg" alt="image"></a>


                                 </div>

                             </div>
                         </div>

                         <div class="col-lg-4 col-md-6">
                             <div class="single-blog-card">
                                 <div class="blog-image">
                                     <a href="#" onclick="return false;"><img src="assets/images/blog/blog-2.jpg" alt="image"></a>
                                    </div>

                             </div>
                         </div>

                         <div class="col-lg-4 col-md-6">
                             <div class="single-blog-card">
                                 <div class="blog-image">
                                     <a href=#" onclick="return false;" ><img src="assets/images/blog/blog-3.jpg" alt="image"></a>


                                 </div>

                             </div>
                         </div>


                     <!-- blog style like end -->

                 </div>


              </div>
          </div>
        </div>
        <!-- End Getting Started Area -->

        <!-- Start Reliable Area -->
        <div class="security-area ptb-100">
          <div class="container" >
              <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                  <span>A LUXURY WATERFRONT DESTINATION AL MARYAH ISLAND</span>
                  <h3>The Galleria (West) – Exited</h3>
                  <p class="move-left">The Galleria on Al Maryah Island is
                     a luxury waterfront destination located at Abu Dhabi
                      Global Market Square, adjacent to the Rosewood Abu
                       Dhabi, Four Seasons Hotel at Al Maryah Island,
                       Cleveland
                    Clinic Abu Dhabi and Al Maryah Central.</p>
                    <p class="move-left">Since opening in 2013, The Galleria has established itself as the Asal’s ultimate fashion, luxury retail and entertainment destination, featuring the region’s highest concentration of luxury retailers and the best collection of restaurants in one place. With over 550,000 sq. ft., The Galleria is home to 25 dining outlets and 130 stores; anchored by some of fashion’s most iconic brands, including Louis Vuitton, Dior, Chanel, Cartier, Prada, Gucci, Van Cleef&Arpels, Fendi and Bulgari.</p>
                       <p class="move-left">The Galleria is a joint venture between Panarama Related and Mubadala Real Estate and Infrastructure. It has been recognized with a number of
                         international honors, including:</p>
                         <p>
                           <ul class="move-left">
                             <li>The ‘Best International Retail and Leisure Destination’ at the Global Retail Leisure International Awards.</li>
                             <li>The accolade for Design & Development and Public Relations Excellence at the 2014 International Council of Shopping Centers (ICSC) Middle East and North Africa
                                Shopping Centers and Retailer Awards.</li>
                                <li>The Divine Detail Award of Merit on behalf of the American Institute of
                                  Architects Middle East.</li>
                                  <li>The GCC Hospitality and Leisure Project of the Year Award from
                                     Middle East Architect magazine.</li>
                           </ul>
                         </p>



              </div>
          </div>
        </div>

        <!-- End Reliable Area -->

        <!-- Start Security Area -->

        <!-- End Security Area -->

        <!-- Start Paiement Area -->

        <!-- End Paiement Area -->

        <!-- Start Overview Area -->

        <!-- End Overview Area -->

        <!-- End Footer Area -->
        <footer class="footer-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="widget-logo">
                                <img src="assets/images/logo.png" class="black-logo" alt="image">
                                <img src="assets/images/logo-2.png" class="white-logo" alt="image">
                            </div>
                            <p>To get exclusive updates and benefits.</p>

                            <form class="newsletter-form" data-bs-toggle="validator">
                                <input type="email" class="input-newsletter" placeholder="Enter email" name="EMAIL" required autocomplete="off">

                                <button type="submit" class="default-btn">Subscribe</button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>

                            <ul class="widget-social">
                                <li>
                                    <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/signup" target="_blank">
                                        <i class="ri-linkedin-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <h3>Company And Team</h3>

                            <ul class="quick-links">
                                <li><a href="team.html">Company And Team</a></li>
                                <li><a href="blog.html">News And Blog</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="help-center.html">Affiliates And Partnerships</a></li>
                                <li><a href="about-us.html">Careers</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <h3>Resources</h3>

                            <ul class="quick-links">
                                <li><a href="help-center.html">Security</a></li>
                                <li><a href="faq.html">FAQ's</a></li>
                                <li><a href="help-center.html">Community</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <h3>Contact Info</h3>

                            <ul class="info-links">
                                <li><span>Location:</span> 27 Division St, 1100. E Denver, CO 80237, USA</li>
                                <li><span>Email:</span> <a href="mailto:contact@info.com">snuff@gmail.com</a></li>
                                <li><span>Phone:</span> <a href="tel:44789289524329">+44 7892 8952 4329</a></li>
                                <li><span>Fax:</span> <a href="tel:1212-9876543">+1-212-9876543</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-area-content">
                        <p>
                            Copyright @<script>document.write(new Date().getFullYear())</script> Snuff All Rights Reserved by
                            <a href="https://hibootstrap.com/" target="_blank">
                                HiBootstrap
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="ri-arrow-up-s-line"></i>
        </div>

        <!-- End Go Top Area -->

        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/TweenMax.min.js"></script>
        <script src="assets/js/ScrollMagic.min.js"></script>
        <script src="assets/js/aos.js"></script>
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
