<%- include("../includes/front-pages") -%>

        <!-- Start Page Banner Area -->
        <!-- Start Partner Area -->
        <div class="global-transfers-area ptb-100">
            <div class="container">
                <div class="partner-title">
                    <!-- <span>CREATING SUSTAINABLE COMMUNITIES</span> -->
                    <h3>Renewable Energy</h3>
                    <p>Renewable energy is derived from sources that are naturally replenished, 
                        and can therefore continue to generate electricity subject to natural conditions. 
                        It differs from sources of energy that are finite and will eventually run out, led by fossil fuels, which cannot be replenished once extracted.
                        Sources of renewable energy
                        </p>
                        <p>There are two ways to invest in renewable energy: either by buying the equities or bonds of the electricity or utility companies supplying the energy, or of the companies making components for the equipment that is needed to create power. This can be done through strategies such as the RobecoSAM Smart Energy and Smart Mobility strategy, which specifically target this sector.
                        </p>
                </div>

                <div class="partner-optional-text">
                    <p>There are five principal sources of : <span>Renewable Energy</span></p>
                </div>
            </div>
        </div>
        <!-- End Partner Area -->
        <!-- Start Overview Area -->
        <div class="overview-area ptb-100">
            <div class="container" >
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <!-- <span>PREMIER RESIDENTIAL DEVELOPMENT IN RIYADH, SAUDI ARABIA</span> -->
                    <h3 class="move-left">1. HydroElectric Power</h3>
                    
                      <p class="move-left">Hydroelectric power is the oldest form of renewable energy, dating back to pre-Roman times, 
                        when the water wheel was used to turn gears that could grind corn. It remains the most common renewable source, in use 
                        industrially since the 19th century.</p>
                         <p class="move-left">Water power is usually harnessed by dams across rivers. 
                            The world’s largest hydroelectric plan is the Three Gorges dam complex in China, 
                            which can generate 22.5 gigawatts of electricity – equivalent to 40 average-sized
                             coal-fired power stations. However, they also come with concerns over environmental
                              damage and human rights violations, and have been blamed for diverting river 
                              systems.</p>
                              <br />
                           <div class="row justify-content-center">
                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href="#" onclick="return false;"><img src="assets/images/blog/blog-1.jpg" alt="image"></a>
                                        

                                       </div>
                                       <p>iouniewunfwei</p> 

                                   </div>
                               </div>

                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href="#" onclick="return false;"><img src="assets/images/blog/blog-2.jpg" alt="image"></a>
                                          </div>

                                   </div>
                               </div>

                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href=#" onclick="return false;" ><img src="assets/images/blog/blog-3.jpg" alt="image"></a>


                                       </div>

                                   </div>
                               </div>


                           <!-- blog style like end -->

                       </div>


                </div>
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Overview Area -->

        <!-- End Page Banner Area -->
        <!-- Start Getting Started Area -->
        <div class="global-transfers-area pt-100 pb-75">
          <div class="container" >
              <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                  <!-- <span>AL MARYAH ISLAND – NEW LUXURY WING</span> -->
                  <h3 class="move-left">2. Wind Power</h3>
                  <p class="move-left"> Wind power is harnessed by turbines that are mainly laid out in
                     ‘wind farms’, comprising hundreds of machines – many of which are offshore. Some
                      turbines are now the size of skyscrapers, while large-scale wind farms are capable of
                       generating enough electricity to power entire cities. 
                </p>
                <p class="move-left">The world’s largest wind farm at
                    Gansu in China has 7,000 turbines that can generate 20 gigawatts of electricity.</p>
                    
                       <br /> 
                       <!-- 3 IMAGES GRID 1  -->
                         <div class="row justify-content-center">
                             <div class="col-lg-4 col-md-6">
                                 <div class="single-blog-card">
                                     <div class="blog-image">
                                         <a href="#" onclick="return false;"><img src="assets/images/blog/blog-1.jpg" alt="image"></a>


                                     </div>

                                 </div>
                             </div>

                             <div class="col-lg-4 col-md-6">
                                 <div class="single-blog-card">
                                     <div class="blog-image">
                                         <a href="#" onclick="return false;"><img src="assets/images/blog/blog-2.jpg" alt="image"></a>
                                        </div>

                                 </div>
                             </div>

                             <div class="col-lg-4 col-md-6">
                                 <div class="single-blog-card">
                                     <div class="blog-image">
                                         <a href=#" onclick="return false;" ><img src="assets/images/blog/blog-3.jpg" alt="image"></a>


                                     </div>

                                 </div>
                             </div>


                         <!-- blog style like end -->

                     </div>
                     
                 


              </div>
          </div>
        </div>
        <!-- End Getting Started Area -->

        <!-- Start Reliable Area -->
        <div class="reliable-area pb-100">
            <br /><br /><br />
            <div class="container" >
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <!-- <span>AL MARYAH ISLAND – NEW LUXURY WING</span> -->
                    <h3 class="move-left">3. Solar Power</h3>
                    <p class="move-left"> Solar power is captured by photovoltaic panels, which convert the sun’s rays into heat. They rely on light refraction, so they don’t necessarily need the sun to be shining brightly to work. The world’s largest solar park at Jodhpur in India is spread across 40 square kilometers
                         and can generate 2.2 gigawatts of electricity 
                  </p>
                  
                      
                         <br /> 
                         <!-- 3 IMAGES GRID 1  -->
                           <div class="row justify-content-center">
                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href="#" onclick="return false;"><img src="assets/images/blog/blog-1.jpg" alt="image"></a>
  
  
                                       </div>
  
                                   </div>
                               </div>
  
                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href="#" onclick="return false;"><img src="assets/images/blog/blog-2.jpg" alt="image"></a>
                                          </div>
  
                                   </div>
                               </div>
  
                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href=#" onclick="return false;" ><img src="assets/images/blog/blog-3.jpg" alt="image"></a>
  
  
                                       </div>
  
                                   </div>
                               </div>
  
  
                           <!-- blog style like end -->
  
                       </div>
                       
                   
  
  
                </div>
            </div>
        </div>

        <div class="overview-area ptb-100">
            <div class="container" >
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <!-- <span>PREMIER RESIDENTIAL DEVELOPMENT IN RIYADH, SAUDI ARABIA</span> -->
                    <h3 class="move-left">4. Biomass Power</h3>
                    
                      <p class="move-left">Biomass power is generated by burning biological materials that are 
                        either living or decaying, led by wood, plant, forest residues and compost material. It
                         is either burnt in power stations or converted into biofuels such as ethanol, which can
                          power normal internal combustion engines. Some crops such as rapeseed are specifically
                           grown as biofuels. Biomass is not considered as environmentally friendly as other 
                           renewable sources since its burning generates greenhouse gases. Many coal-fired
                            plants such as the giant 4 gigawatt Drax complex in the UK are being converted
                             to biomass in order to reduce emissions.</p>
                         <p class="move-left">Many coal-fired
                            plants such as the giant 4 gigawatt Drax complex in the UK are being converted
                             to biomass in order to reduce emissions.</p>
                              <br />
                           <div class="row justify-content-center">
                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href="#" onclick="return false;"><img src="assets/images/blog/blog-1.jpg" alt="image"></a>
                                        

                                       </div>
                                       <p>iouniewunfwei</p> 

                                   </div>
                               </div>

                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href="#" onclick="return false;"><img src="assets/images/blog/blog-2.jpg" alt="image"></a>
                                          </div>

                                   </div>
                               </div>

                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href=#" onclick="return false;" ><img src="assets/images/blog/blog-3.jpg" alt="image"></a>


                                       </div>

                                   </div>
                               </div>


                           <!-- blog style like end -->

                       </div>


                </div>
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <div class="global-transfers-area pt-100 pb-75">
            <div class="container" >
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <!-- <span>AL MARYAH ISLAND – NEW LUXURY WING</span> -->
                    <h3 class="move-left">5. Geothermal Power</h3>
                    <p class="move-left"> Geothermal power is harnessed from the Earth’s natural sources of heat, 
                        led by volcanic activity. It is the source of 30% of all electricity power in Iceland, which taps into thermal springs heated by molten rock lying thousands of meters below the surface. However, this form of renewable energy is restricted to areas with volcanic sources, and generates only about
                         14 gigawatts of power globally each year.
                  </p>

                      
                         <br /> 
                         <!-- 3 IMAGES GRID 1  -->
                           <div class="row justify-content-center">
                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href="#" onclick="return false;"><img src="assets/images/blog/blog-1.jpg" alt="image"></a>
  
  
                                       </div>
  
                                   </div>
                               </div>
  
                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href="#" onclick="return false;"><img src="assets/images/blog/blog-2.jpg" alt="image"></a>
                                          </div>
  
                                   </div>
                               </div>
  
                               <div class="col-lg-4 col-md-6">
                                   <div class="single-blog-card">
                                       <div class="blog-image">
                                           <a href=#" onclick="return false;" ><img src="assets/images/blog/blog-3.jpg" alt="image"></a>
  
  
                                       </div>
  
                                   </div>
                               </div>
  
  
                           <!-- blog style like end -->
  
                       </div>
                       
                   
  
  
                </div>
            </div>
          </div>
        <!-- End Reliable Area -->

        <!-- Start Security Area -->

        <!-- End Security Area -->

        <!-- Start Paiement Area -->

        <!-- End Paiement Area -->

        <!-- Start Overview Area -->

        <!-- End Overview Area -->

        <!-- End Footer Area -->
        <footer class="footer-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="widget-logo">
                                <img src="assets/images/logo.png" class="black-logo" alt="image">
                                <img src="assets/images/logo-2.png" class="white-logo" alt="image">
                            </div>
                            <p>To get exclusive updates and benefits.</p>

                            <form class="newsletter-form" data-bs-toggle="validator">
                                <input type="email" class="input-newsletter" placeholder="Enter email" name="EMAIL" required autocomplete="off">

                                <button type="submit" class="default-btn">Subscribe</button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>

                            <ul class="widget-social">
                                <li>
                                    <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/signup" target="_blank">
                                        <i class="ri-linkedin-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <h3>Company And Team</h3>

                            <ul class="quick-links">
                                <li><a href="team.html">Company And Team</a></li>
                                <li><a href="blog.html">News And Blog</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="help-center.html">Affiliates And Partnerships</a></li>
                                <li><a href="about-us.html">Careers</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <h3>Resources</h3>

                            <ul class="quick-links">
                                <li><a href="help-center.html">Security</a></li>
                                <li><a href="faq.html">FAQ's</a></li>
                                <li><a href="help-center.html">Community</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <h3>Contact Info</h3>

                            <ul class="info-links">
                                <li><span>Location:</span> 27 Division St, 1100. E Denver, CO 80237, USA</li>
                                <li><span>Email:</span> <a href="mailto:contact@info.com">snuff@gmail.com</a></li>
                                <li><span>Phone:</span> <a href="tel:44789289524329">+44 7892 8952 4329</a></li>
                                <li><span>Fax:</span> <a href="tel:1212-9876543">+1-212-9876543</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-area-content">
                        <p>
                            Copyright @<script>document.write(new Date().getFullYear())</script> Snuff All Rights Reserved by
                            <a href="https://hibootstrap.com/" target="_blank">
                                HiBootstrap
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="ri-arrow-up-s-line"></i>
        </div>

        <!-- End Go Top Area -->

        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/TweenMax.min.js"></script>
        <script src="assets/js/ScrollMagic.min.js"></script>
        <script src="assets/js/aos.js"></script>
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
