<%- include("../includes/front-pages") -%>

        <!-- Start Page Banner Area -->
        <!-- Start Partner Area -->
        <div class="global-transfers-area ptb-100">
            <div class="container">
                <div class="partner-title">
                    <!-- <span>CREATING SUSTAINABLE COMMUNITIES</span> -->
                    <h3>Exchange-Traded Funds (ETFs)</h3>
                    <p>Environmental, Social and Governance (ESG) Investment Management relates to how panarama LLC Investment incorporates ESG factors into its investment activities.
                    </p>
                    <p>Investment analysis of non-financial factors commonly referred to as ESG factors encompasses those aspects of an issuer’s operations that influence its ability to meet its financial obligations.
                    </p>
                </div>

                <div class="partner-optional-text">
                    <p>Investing in ETFs combines the diversification of mutual funds with lower investment minimums and real-pricing. If you’ve ever traded an individual stock, then buying and selling an ETF will feel familiar because it’s traded the same way. An ETF is a collection of tens, hundreds or sometimes thousands of stocks or bonds in a single fund. Exchange traded funds and mutual funds share many similarities but we have few distinguishing characteristics that may make ETFs more attractive than mutual funds to some investors, this includes; real-time pricing and lower investment minimums when investing.
                         <br><span>Exchange-traded funds are of different classifications;
                        </span></p>
                </div><br><br>
                <div class="col-lg-5 col-sm-4" >
                    <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <!-- <span>CASE STUDY</span>
                        <h3>GC’s Value Creation</h3> -->
                        <div class="row justify-content-center">
                            <div class="col-lg-14 col-md-12">
                              <h6>classifications</h6>
                                <ul class="reliable-list">
                                  <li><i class="ri-check-line"></i>Bond ETFs</li>
                                  <li><i class="ri-check-line"></i> Stocks ETFs</li>
                                  <li><i class="ri-check-line"></i> International ETFs</li>
                                  <li><i class="ri-check-line"></i> Sector ETFs</li>
                                  </ul>
                                  <p>These above-mentioned classes work together in your portfolio as an investor in different ways</p>
                            </div>



                    </div>
                </div><br><br>
                
            </div>
            
        </div>
        <!-- End Partner Area -->
        <!-- Start Overview Area -->
        <div class="overview-area ptb-100">
            <div class="container" >
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <!-- <span>Bond ETFs</span> -->
                    <h3 class="move-left">Bond ETFs</h3>
                    <p class="move-left">Bond ETFs enable investors to receive income from the interest they earn on your
                         investment. It also moderates the risks involved with the stock portion of your portfolio. Note:
                          When investing for a shorter period of time, consider putting more money into bonds than stocks.
                        
                    </p>
                    <h3 class="move-left">Stock ETFs</h3>
                      <p class="move-left">enable investors to grow their money over a longer period of time, with higher
                         rewards in exchange for taking more risk.
                    </p>
                    <h3 class="move-left">International ETFs</h3>
                         <p class="move-left">International ETFs enable investors in going beyond U.S. borders while 
                            targeting more opportunities from other developed and emerging countries, which even adds
                             more diversification to your portfolio.

                            </p>
                            <h3 class="move-left">Sector ETFs</h3>
                            
                            <p class="move-left">enable investors to focus more on specific factors like energy and real
                                 estate which grow their money faster by investing more in a sector they think may be on 
                                 the rise. The market price is determined by the midpoint between the bid and asked prices
                                  as of the closing time in the stock exchange on business days.

                                </p><br /> <hr><br />
                          


                </div>
                <!-- <h2>Invest Today</h2> -->
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Overview Area -->

        <!-- End Page Banner Area -->
        <!-- Start Getting Started Area -->
        <div class="global-transfers-area pt-100 pb-75">
          <div class="container" >
              <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                  <!-- <span>Bugatti Residences by Binghatt</span> -->
                  <h3>Stock Exchange</h3>
                  <p class="move-left"> This is a marketplace or infrastructure that facilitates equity trading, bonds and commodities. Stock exchange brings companies and investors together because it helps companies raise capital, by issuing equity shares to be sold to investors. We invest those funds back into our business, enabling our investors to ideally earn profits out from their investment, investing with us. We makes use of an electronic trading system when trading stock which doesn’t require a centralized location at meeting point, making it more easy, faster and accessible for our investors to cope with. Using our electronic trading during exchange, the current stock price is the highest price a buyer is willing to spend on a security while the lowest price is what the seller will accept which after, trades are then
                     matched and when paired together, executed.
                    </p>
                    <p class="move-left">As an organization, we’ve strived so hard to provide liquidity in the market by providing enough buyers and sellers so that trades can be processed efficiently without delays, using our electronic device. We also ensure that trading occurs in an orderly and fair manner so important financial information can be transmitted to our investors. We always conduct an initial public offering before making our stocks available for exchange as the law implies. Through the use of electronic communication networks, we connect buyers and sellers directly by bypassing market makers. This has promoted our business activities with benefits resulting in stronger economic growth and higher 
                        productivity level.

                    </p>
                    <p class="move-left">In addition to encouraging management efficiency, exchanges also facilitate economic efficiency through the allocation of capital. Stock exchanges provide an avenue for individuals to invest their cash, as opposed to merely saving these funds. This means that the capital that would otherwise be untouched is utilized towards economic benefits, resulting in a more efficient economy. 
                        We’ve made our stocks a vital component in the stock market, so as to facilitate transactions and targeted buyers, using our electronic device and well preserved globalized means, for the general interest and benefit of our clients living around the globe.<br>
                        
                      
                    </p>
                    <p>Chat with a specialist on telegram for the stock market course.</p>
                    <a href="/login"><button class="btn btn-dark">Invest Today</button></a>
                    <br>
                    <hr>
                    <br>
                    <h3>Commodities</h3>
                    <p class="move-left"><p class="move-left">Commodities are a distinct asset class with returns that are largely
                         independent of stock and bond returns. Adding broad commodity exposure can help diversify a portfolio of 
                         stocks and bonds, potentially lowering the risk of an overall portfolio and boosting returns. Given
                          their impact on consumer goods prices, commodities can also offer a hedge against inflation.
                           Commodities include agricultural products (such as wheat and cattle), energy products 
                           (such as oil and natural gas), and metals (such as gold, silver and aluminum). There are also 
                           commodities that cannot be stored for long period of time (which includes; sugar, cotton, cocoa and coffee).

                    </p>
                    <p class="move-left"><p class="move-left">The commodity market has evolved significantly and today investors can choose from a variety of opportunities to invest in the commodities future markets, from mutual funds to notes, covering the wide spectrum from single commodity exposure to sector and broad based commodity exposures. Because commodities are real assets, they tend to react to changing economic fundamentals in different ways than stocks and bonds which are financial assets. In this case, commodities are one of the few assets classes that tends to benefit 
                        from rising inflation. As demand for goods and services increases, the price of those goods and services usually rises, as well as the commodities used in producing those goods and services. When commodity prices rise during inflation acceleration, investing in commodities may provide portfolios with a balance against inflation. In other words, stocks and bonds tend to perform better when the rate of inflation slows down. Commodities like iron ore, fossil fuels, precious metals and livestock are raw materials that powers the global economy and offer unique opportunities for
                         investors to invest and profit from. Commodity trading can generate strong returns and add diversification in our investors portfolios. Investing in commodities requires more specialized knowledge and may carry more risk than more well-known investments but as an organization who looks out for the general interest and wellbeing of our clients, we have employed good skilled personnels to help limit such risk, through diversification means when trading in the market.

                   </p>
                   <p class="move-left"><p class="move-left">Oil and gas are major industries in the energy market and plays an influential role in the global economy as the world primary fuel sources. The processes and systems involved in producing and distributing oil and gas are highly complex, capital-intensive which as well requires standard digital technology. Oil accounts for a large percentage of the world’s energy consumption, making it a vital need in every humans life. The world consumes over 36 billion barrels of oil per year, and with developed nations being the largest consumers. It is generally accepted that oil is formed mostly from the carbon rich, after exposure to heat and pressure from the earth crust.
                     Oil in general has been used since early human history, and also important to the world economy. When it was discovered that kerosene could be extracted from crude oil and used as a lighting and for heating fuel, the demand for petroleum increased greatly and had become the most valuable commodity traded on world markets. From our deep research work, we’ve come to the conclusion that oil and gas remains the world leading fuels, accounting for nearly 55% of global energy consumption and as an investor, investing deeply in it will be more profitable with more long-term value. Oil and gas are known as fossil fuels because they are formed from the decomposition and pressurization of algae, plankton and other organisms. This process forms 
                     hydrocarbons, which are compounds consisting entirely of hydrogen and carbon that are powerful combustible fuels. Individual deposits of oil and gas can also contain compounds but it is the hydrocarbons that makes them valuable.

                    </p>
                    <p class="move-left"><p class="move-left">This two types of fossil fuels(oil and gas) have been the
                         world’s primary sources of energy for decades, they have enabled advances in quality of life and in all sectors of the economy. However, the low carbon transition has put the oil and gas industry under pressure as these fuels are two main sources of greenhouse gases. The industry is associated with environmental disasters such as oil spills, and the price of the two fuels (especially oil) are highly volatile with fluctuations directly impacted by political and socioeconomic events. More than 90 countries currently produce oil and natural gas, and are expected to maintain their importance across the energy sector for many decades to come. Developments in shale gas and oil production have also greatly increased supply in the United State. Developments in carbon capture use and storage will always impact the position of oil and natural gas in the long-term energy mix, when investing in it as an investor, here with us. As an organization, we predict maintenance as most important and crucial factor and have decide to use good systematic computational analysis of data software in determining if and when our oil and gas assets requires maintenance, for the general interest and reward of all investors who found it comfortable and safe investing with us. We have deployed new technologies that promise greater efficiencies and management in putting pressure on engineering and maintenance to reduce budget, labor and operating costs while increasing production and investment levels. Our track records are found on expertise through production, operations, transportation, storage and metering capabilities.

                    </p>
                    <a href="/login"><button class="btn btn-dark">Invest Today</button></a>
                    <br>
                    
                    
                    
                        
                   
                    
                       <br /> 
                     


              </div>
          </div>
        </div>
        <!-- Another Section -->
        <div class="overview-area ptb-100">
            <div class="container" >
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <!-- <span>Bond ETFs</span> -->
                    <h3 >Mutual Fund</h3>
                    <p class="move-left">A mutual fund is a type of financial machine made up of a pool of money collected
                         from many investors to invest in securities like stocks, bonds, money market instruments and other assets. Mutual fund’s portfolio is structured and maintained to match the investment objectives stated in his prospectus. It gives small or individual investors access to professionally managed portfolios of equities and bonds. Money collected from investing public and used in buying other securities like stocks and bonds are generally classified as MUTUAL FUNDS. A share of a mutual fund represents investments in many different stocks or other securities instead of 
                         just one holding.
                        
                    </p>
                    <p class="move-left">
                        E.G; Consider an investor who buys only Google stock before the company has a bad quarter, He/She 
                        stands to lose a great deal of value because all of his dollars are tied to one portfolio. On the other hand, a different investor may buy shares of a mutual fund that happens to own some Google stocks; when Google has a bad quarter, she loses significantly less because Google is just a small part of the fund’s portfolio.There are few ways investors earn a return from mutual funds:
                        <ul style="text-align: left;">
                            <li>If the fund sells securities increases in price, the fund has a capital gain which most funds are also pass on these gains to investors in a distribution.
                            </li>
                            <li>Investors can sell the mutual fund shares for a profit in the market when the fund holdings increase in price are not sold by the fund manager because the fund shares increase in price.
                            </li>
                            <li>Investors earn from dividends, on stocks and as well interest on bonds held in the fund’s portfolio.
                            </li>
                            <br>
                            In conclusion, mutual funds are divided into several categories representing the kinds of securities they have targeted for their portfolios and the type of return they seek.

                        </ul>
                    </p>
                    <br>
                    <a href="/login"><button class="btn btn-dark">Invest Today</button></a>
                    <hr>
                    <br>
                    <h3 >Retirement Plan</h3>
                      <p class="move-left">This is a plan specially designed to meet up with our investors specific requirements which is ideal to ensure they live stress-free/post-retirement life. It is extremely challenging to think about retirement plan specially at young age. Young people are busy starting careers, families or settling in new locations, so it is understandable that they have the reluctance to discuss retirement plan this early in life and not considering the fact that life goes by faster. Every year one waste postponing retirement planning means additional year of depriving yourself retiring early and enjoying the golden years.

                    </p>
                    <p class="move-left">As human, our goal in life should be retiring with financial freedom and security through a financially comfortable and stress-free lifestyle, because retirement planning decides how you live once you are old and no longer wish or unable to work but this involves the consideration of a number of factors; at
                    </p>
                    <p class="move-left">
                        what age you hope to retire, how much money you need to cover for the living expenses and other plans after retirement, and lastly, considering where your retirement money will come from, which simply means ‘PLANNING AHEAD OF TIME’ (PAT) with the fact that ones standard plan cannot fit everyone because each investor has his/her own unique situations.
The first place to start retirement planning is saving and investing because as an investor, your behavior toward retirement planning is intrinsically influenced by your attitude, knowledge and information which we have considered as a challenging factor and have provide good skilled analyst who will help guide your decision-making.
                        <ul style="text-align: left; margin-top: 10px;">
                            <li>Attitude in this factor includes how you take responsibility and tolerate risks financially. As investor, if you tend to take financial responsibilities for your future, you may be more likely to engage in retirement 
                                planning
                            </li>
                            <li>
                                Knowledge in this factor: young people are often inclined to be present-oriented rather than future-oriented, with certain knowledge and information needed for retirement, they will definitely know when to get started because for the full investment in retirement planning as young individual, you need to acquire knowledge of financial literacy and numeracy.

                            </li>
                            <li>
                                Information in this factor includes the investment, income, interest, length and risk involved during your retirement contract. The mere mention of the word ‘retirement’ brings certain relief to those working hard daily in their 8-hours shifts because every individual who dreams of enjoying financial independence and a blissful retired life will agree why retirement planning is crucial. More importantly, for people in private jobs, a proper retirement plan would help you determine retirement income goals and then design an achievement path to enjoy the benefits. Retirement may be decades away but there are benefiting reasons to think about contributing to a retirement plan earlier on because starting early and avoiding early withdrawals really pays off big time.

                            </li>
                        </ul>
                        
                    </p>
                    <p class="move-left">
                        We look at more than dozens of the best retirement plan providers nationwide and narrowed the list down to the top six providers based on a number of factors, including what types of retirement plans each offers. We also compared the management fees, investment experience, focus on retirement planning and the over-all customer reviews. As an investor, to have comfortable, secure and fun retirement, you need to build the financial cushion that will fund it all because planning for retirement starts with thinking about your retirement goals and how long you have to meet them. As you save money, you have to invest it to grow and growing for long-term simply means taking advantage on power of compounding because retirement plan evolve through the years which means portfolios should be rebalanced and estate plan updated as needed. As an investor, you can’t project your future expenses without knowing your current expenses because even if you’ve made it this far without budgeting, early retirement is an ambitious goal.

                    </p>
                    <p class="move-left">
                        As an Individual retirement account owner (IRAO), you can designate one or more beneficiaries to inherit your account in the events of your death. Your IRAO beneficiary designations, typically supersedes any other instructions you leave, so if you name your spouse or your child as your IRAO beneficiary, he or she is entitled to inherit all your accumulated returns at your event of death.


                    </p>
                    <br>
                   <a href="/login"><button class="btn btn-dark">Invest Today</button></a>
                    <hr>
                    <br>
                    <h3 >Foreign Exchange</h3>
                         <p class="move-left">The foreign exchange market is the world’s largest trading market, dwarfing all others with its unrivaled daily turnover and liquidity. The high liquidity and ability to trade with leverage have increased the popularity of the Foreign market. Foreign trading is one of the most fast-paced and potentially lucrative markets. Alenol offers to trade on over 60 Foreign pairs with competitive spreads and fast execution. The Foreign exchange market (FX) as a whole, consists of many types of markets, including Spot FX, Future derivatives, Forward Derivatives, and finally the CFD derivatives market, which is the most popular for retail clients. All Foreign trading transactions combined make up the largest and most liquid financial market, with an average daily volume of over $5 trillion. The FX CFD derivatives markets are made up of buyers and sellers, the main participants being large international banks, who place orders via electronic trading systems. This market is traded OTC (not traded on any regulated exchange) and as such, there is no uniform price but each of the main international banks is providing its own quotes with the spot market acting as the point of reference for the quotes provided.


                        </p>
                        <p class="move-left">
                            The five most popular Foreign pairs involve some of the World’s most powerful currencies including the U.S. dollar (USD), the British Pound (GBP), the Euro (EUR), the Swiss franc (CHF), and Japanese Yen (JPY). The so-called “major pairs” are currency pairs involving these currencies. Here, in Alenol when trading Foreign we basically via electronic systems. The Foreign market is open 24 hours a day five days a week, this means trading is carried out successfully within this interval. We know how risky the Foreign market is, trading alone (especially to new investors) and as a team, we’ve outlined those challenges to limit such risk investing with us. In order to invest in Foreign, you need an account with us that offers Foreign trading access. We offer more benefits, well-equipped trading algorithms, and qualified skilled personnel specifically tailored to understand volatile currencies. Our transparency, low commissions and financing rate, and support for best price execution help minimize costs to maximize consistent returns. Our dedicated Market Research analysts will give you the insights you need to make informed trading decisions, investing with us. Our diverse range of education and trading resources provide you 
                            with high-level analysis, breaking news, and in-depth market reports. With a guaranteed stop-loss order, we protect our Foreign trades against significant market fluctuations, and with advanced orders, we can set multiple profit targets to meet with investors’ goals investing here with us. Our team of experts has developed in-depth analysis; whether it’s breaking news that could impact the market we trade because our team of analysts has you covered with insightful commentary and opinion on everything going on in the world of Foreign trading(Available on Investors dashboard).
                        </p>
                        <br>
                    <a href="/login"><button class="btn btn-dark">Invest Today</button></a>
                        
                            
                          


                </div>
                <!-- <h2>Invest Today</h2> -->
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Getting Started Area -->

        <!-- Start Reliable Area -->
        <!-- <div class="security-area ptb-100">
          <div class="container" >
              <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                  <span>A LUXURY WATERFRONT DESTINATION AL MARYAH ISLAND</span>
                  <h3>The Galleria (West) – Exited</h3>
                  <p class="move-left">The Galleria on Al Maryah Island is
                     a luxury waterfront destination located at Abu Dhabi
                      Global Market Square, adjacent to the Rosewood Abu
                       Dhabi, Four Seasons Hotel at Al Maryah Island,
                       Cleveland
                    Clinic Abu Dhabi and Al Maryah Central.</p>
                    <p class="move-left">Since opening in 2013, The Galleria has established itself as the Asal’s ultimate fashion, luxury retail and entertainment destination, featuring the region’s highest concentration of luxury retailers and the best collection of restaurants in one place. With over 550,000 sq. ft., The Galleria is home to 25 dining outlets and 130 stores; anchored by some of fashion’s most iconic brands, including Louis Vuitton, Dior, Chanel, Cartier, Prada, Gucci, Van Cleef&Arpels, Fendi and Bulgari.</p>
                       <p class="move-left">The Galleria is a joint venture between Panarama Related and Mubadala Real Estate and Infrastructure. It has been recognized with a number of
                         international honors, including:</p>
                         <p>
                           <ul class="move-left">
                             <li>The ‘Best International Retail and Leisure Destination’ at the Global Retail Leisure International Awards.</li>
                             <li>The accolade for Design & Development and Public Relations Excellence at the 2014 International Council of Shopping Centers (ICSC) Middle East and North Africa
                                Shopping Centers and Retailer Awards.</li>
                                <li>The Divine Detail Award of Merit on behalf of the American Institute of
                                  Architects Middle East.</li>
                                  <li>The GCC Hospitality and Leisure Project of the Year Award from
                                     Middle East Architect magazine.</li>
                           </ul>
                         </p>



              </div>
          </div>
        </div> -->

        <!-- End Reliable Area -->

        <!-- Start Security Area -->

        <!-- End Security Area -->

        <!-- Start Paiement Area -->

        <!-- End Paiement Area -->

        <!-- Start Overview Area -->

        <!-- End Overview Area -->

        <!-- End Footer Area -->
        <%- include("../includes/front-footer") -%>