<%- include("../includes/front-pages") -%>

        <!-- Start Page Banner Area -->
        <!-- Start Overview Area -->
        <div class="overview-area ptb-100">
            <div class="container">
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>STRATEGY</span>
                    <h3>With our unique playbook, we change the game to win</h3>
                    <p>We have been investing in the middle-market for more than 4 years;
                      it is a market we know and like. We believe winning is a game of inches
                       and yards and not breakaway runs. We have developed a systematic,
                       repeatable process for long-term value creation.</p>


                </div>
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Overview Area -->

        <!-- End Page Banner Area -->
        <!-- Start Getting Started Area -->
        <div class="getting-started-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    <span>OUR STRATEGY</span>
                    <h2>A Theme-based investment strategy</h2>
                    <p>Panarama LLC develops differentiated perspectives by applying an
                      industry-focused approach that incorporates long-term trend analysis,
                      segment fundamentals, and our own unique experiences.</p>
                </div>
                <!-- COLUM WITH LIST 3 COLUMN -->
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-4">

                                <img src="assets/images/getting-started/serv.png" alt="image">
                          
                    </div>

                    <div class="col-lg-5 col-sm-4">
                      <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                          <!-- <span>CASE STUDY</span>
                          <h3>GC’s Value Creation</h3> -->
                          <div class="row justify-content-center">
                              <div class="col-lg-14 col-md-12">
                                <h6>SERVICES</h6>
                                  <ul class="reliable-list">
                                    <li><i class="ri-check-line"></i> Commercial & Residential Services</li>
                                    <li><i class="ri-check-line"></i> Transportation & Logistics</li>
                                    <li><i class="ri-check-line"></i> Human Capital Management Services</li>
                                    <li><i class="ri-check-line"></i>Education Services</li>
                                    <li><i class="ri-check-line"></i> Insurance Services & Software</li>
                                      <li><i class="ri-check-line"></i> Asset / Wealth Services & Software</li>
                                      <li><i class="ri-check-line"></i> Bank / Credit & Mortgage Services & Software</li>
                                        </ul>
                              </div>



                      </div>
                  </div>
                    </div>

                    <div class="col-lg-4 col-sm-4">
                      <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                          <!-- <span>CASE STUDY</span>
                          <h3>GC’s Value Creation</h3> -->
                          <div class="row justify-content-center">
                              <div class="col-lg-14 col-md-12">
                                <!-- <h6>SERVICES</h6> -->
                                  <ul class="reliable-list">
                                    <li><i class="ri-check-line"></i>Integrated Payments</li>
                                    <li><i class="ri-check-line"></i> Vertical-Specific Software & Services</li>
                                    <li><i class="ri-check-line"></i> Information Services</li>
                                    <li><i class="ri-check-line"></i>Governance, Risk & Compliance</li>
                                    <li><i class="ri-check-line"></i> Providers / Provider Services</li>
                                      <li><i class="ri-check-line"></i> Medical Products, Devices & Distribution</li>
                                      <li><i class="ri-check-line"></i> Pharma Services</li>
                                      <li><i class="ri-check-line"></i> Payor Services</li>
                                        </ul>
                              </div>



                      </div>
                  </div>
                    </div>


                </div>
                <!-- 3 COLUM WITH LIST END -->
                <br />
                <hr>
                <br />
                <!-- COLUM WITH LIST 3 COLUMN -->
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-4">
                        <img src="assets/images/getting-started/ind.png" alt="image">

                    </div>

                    <div class="col-lg-5 col-sm-4">
                      <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                          <!-- <span>CASE STUDY</span>
                          <h3>GC’s Value Creation</h3> -->
                          <div class="row justify-content-center">
                              <div class="col-lg-14 col-md-12">
                                <h6>INDUSTRIALS</h6>
                                  <ul class="reliable-list">
                                    <li><i class="ri-check-line"></i> Automotive Aftermarket</li>
                                    <li><i class="ri-check-line"></i> Building Products</li>
                                    <li><i class="ri-check-line"></i> Specialty Chemicals</li>
                                    <li><i class="ri-check-line"></i>Value Added Distribution</li>
                                    <li><i class="ri-check-line"></i> Industrial Services</li>
                                        </ul>
                              </div>



                      </div>
                  </div>
                    </div>

                    <div class="col-lg-4 col-sm-4">
                      <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                          <!-- <span>CASE STUDY</span>
                          <h3>GC’s Value Creation</h3> -->
                          <div class="row justify-content-center">
                              <div class="col-lg-14 col-md-12">
                                <!-- <h6>SERVICES</h6> -->
                                  <ul class="reliable-list">
                                    <li><i class="ri-check-line"></i>Machinery & Equipment</li>
                                    <li><i class="ri-check-line"></i> Packaging</li>
                                    <li><i class="ri-check-line"></i> Strategic Suppliers</li>
                                    <li><i class="ri-check-line"></i>Testing, Inspection & Certification</li>

                                        </ul>
                              </div>



                      </div>
                  </div>
                    </div>


                </div>
                <!-- 3 COLUM WITH LIST END -->
                <br />
                <hr>
                <br />
                <!-- COLUM WITH LIST 3 COLUMN -->
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-4">
                        <img src="assets/images/getting-started/media.png" alt="image">

                    </div>

                    <div class="col-lg-5 col-sm-4">
                      <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                          <!-- <span>CASE STUDY</span>
                          <h3>GC’s Value Creation</h3> -->
                          <div class="row justify-content-center">
                              <div class="col-lg-14 col-md-12">
                                <h6>MEDIA & COMMUNICATIONS</h6>
                                  <ul class="reliable-list">
                                    <li><i class="ri-check-line"></i> Data Infrastructure - FFTH</li>
                                    <li><i class="ri-check-line"></i> Data Infrastructure - Telco to Fiber</li>
                                    <li><i class="ri-check-line"></i> Data Infrastructure - Cable</li>
                                    <li><i class="ri-check-line"></i>Data Infrastructure - Metro Fiber</li>
                                    </ul>
                              </div>



                      </div>
                  </div>
                    </div>

                    <div class="col-lg-4 col-sm-4">
                      <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                          <!-- <span>CASE STUDY</span>
                          <h3>GC’s Value Creation</h3> -->
                          <div class="row justify-content-center">
                              <div class="col-lg-14 col-md-12">
                                <!-- <h6>SERVICES</h6> -->
                                  <ul class="reliable-list">
                                    <li><i class="ri-check-line"></i>Vertical Software, Information & Marketing Services</li>
                                    <li><i class="ri-check-line"></i> 21st Century Entertainment</li>
                                    <li><i class="ri-check-line"></i> M&C Strategic Suppliers</li>

                                        </ul>
                              </div>



                      </div>
                  </div>
                    </div>


                </div>
                <!-- 3 COLUM WITH LIST END -->
                <hr>
                <br />

                <!-- COLUM WITH LIST 3 COLUMN -->
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-4">
                        <img src="assets/images/getting-started/cus.png" alt="image">

                    </div>

                    <div class="col-lg-5 col-sm-4">
                      <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                          <!-- <span>CASE STUDY</span>
                          <h3>GC’s Value Creation</h3> -->
                          <div class="row justify-content-center">
                              <div class="col-lg-14 col-md-12">
                                <h6>CONSUMER, RETAIL & DISTRIBUTION</h6>
                                  <ul class="reliable-list">
                                    <li><i class="ri-check-line"></i>CONSUMER, RETAIL & DISTRIBUTION Restaurants</li>
                                    <li><i class="ri-check-line"></i> Evolved Retail</li>
                                    <li><i class="ri-check-line"></i> Strategic Suppliers</li>
                                    </ul>
                              </div>



                      </div>
                  </div>
                    </div>

                    <div class="col-lg-4 col-sm-4">
                      <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                          <!-- <span>CASE STUDY</span>
                          <h3>GC’s Value Creation</h3> -->
                          <div class="row justify-content-center">
                              <div class="col-lg-14 col-md-12">
                                <!-- <h6>SERVICES</h6> -->
                                  <ul class="reliable-list">
                                    <li><i class="ri-check-line"></i>Value-Added Distributers</li>
                                    <li><i class="ri-check-line"></i> Consumer/Retail Services</li>
                                    </ul>
                              </div>



                      </div>
                  </div>
                    </div>


                </div>
                <!-- 3 COLUM WITH LIST END -->


            </div>
        </div>
        <!-- End Getting Started Area -->

        <!-- Start Reliable Area -->
        <div class="security-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <img src="assets/images/reliable/reliable.png" alt="image">

                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>APPROACH</span>
                            <h3>Our Playbook is Systematic and Repeatable</h3>
                            <div class="row justify-content-center">
                                <div class="col-lg-12 col-md-12">
                                  <h6>Proactive Origination</h6>
                                  <p>Panarama LLC has made a long-term investment in its originatio
                                    n efforts, striving to identify companies that align well with
                                     existing themes and begin a dialogue with the
                                      management teams well in
                                     advance of an investment.</p>
                                     <hr>

                                     <div class="col-lg-12 col-md-12">
                                       <h6>Proactive Origination</h6>
                                       <p>Panarama LLC has made a long-term investment in its originatio
                                         n efforts, striving to identify companies that align well with
                                          existing themes and begin a dialogue with the
                                           management teams well in
                                          advance of an investment.</p>
                                          <hr>

                                          <div class="col-lg-12 col-md-12">
                                            <h6>Proactive Origination</h6>
                                            <p>Panarama LLC has made a long-term investment in its originatio
                                              n efforts, striving to identify companies that align well with
                                               existing themes and begin a dialogue with the
                                                management teams well in
                                               advance of an investment.</p>

                                </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->

        <!-- Start Security Area -->

        <!-- End Security Area -->

        <!-- Start Paiement Area -->

        <!-- End Paiement Area -->

        <!-- Start Overview Area -->

        <!-- End Overview Area -->

        <!-- End Footer Area -->
        <footer class="footer-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="widget-logo">
                                <img src="assets/images/logo.png" class="black-logo" alt="image">
                                <img src="assets/images/logo-2.png" class="white-logo" alt="image">
                            </div>
                            <p>To get exclusive updates and benefits.</p>

                            <form class="newsletter-form" data-bs-toggle="validator">
                                <input type="email" class="input-newsletter" placeholder="Enter email" name="EMAIL" required autocomplete="off">

                                <button type="submit" class="default-btn">Subscribe</button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>

                            <ul class="widget-social">
                                <li>
                                    <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/signup" target="_blank">
                                        <i class="ri-linkedin-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <h3>Company And Team</h3>

                            <ul class="quick-links">
                                <li><a href="team.html">Company And Team</a></li>
                                <li><a href="blog.html">News And Blog</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="help-center.html">Affiliates And Partnerships</a></li>
                                <li><a href="about-us.html">Careers</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <h3>Resources</h3>

                            <ul class="quick-links">
                                <li><a href="help-center.html">Security</a></li>
                                <li><a href="faq.html">FAQ's</a></li>
                                <li><a href="help-center.html">Community</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <h3>Contact Info</h3>

                            <ul class="info-links">
                                <li><span>Location:</span> 27 Division St, 1100. E Denver, CO 80237, USA</li>
                                <li><span>Email:</span> <a href="mailto:contact@info.com">snuff@gmail.com</a></li>
                                <li><span>Phone:</span> <a href="tel:44789289524329">+44 7892 8952 4329</a></li>
                                <li><span>Fax:</span> <a href="tel:1212-9876543">+1-212-9876543</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-area-content">
                        <p>
                            Copyright @<script>document.write(new Date().getFullYear())</script> Snuff All Rights Reserved by
                            <a href="https://hibootstrap.com/" target="_blank">
                                HiBootstrap
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="ri-arrow-up-s-line"></i>
        </div>
        <!-- End Go Top Area -->

        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/TweenMax.min.js"></script>
        <script src="assets/js/ScrollMagic.min.js"></script>
        <script src="assets/js/aos.js"></script>
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
