<%- include("../includes/front-pages") -%>


        </div>
        <!-- End Page Banner Area -->
        
        <!-- Start Terms of Service Area -->
        <div class="terms-of-service-area ptb-100">
            <div class="container">
                <div class="terms-of-service-content">
                    <p><i>This Terms of Service was last updated on March 1, 2021.</i></p>
                    <h3>Terms & Conditions</h3>
                    
                    <blockquote class="blockquote">
                        <p>
                            This website is operated by Panarama LLC  (together with its subsidiaries, affiliate companies, limited partnerships and their respective directors,
                             partners, officers, employees or agents (“Panarama”, “GC”, “us”, or “we”)).
                        </p>
                    </blockquote>
                    
                    <p>
                        Panarama PJSC is a private joint stock company registered with the Malta Financial Services Authority  located in Malta, and the Ministry of Economy. Panarama LLC  is a private company established in the Malta financial Services Authority  (“MFSA”) pursuant to the MFSA Companies Law with registration number CL1803 and is authorised and regulated by the Malta financial Services Authority (“MFSA”) (F002905) for the provision of Managing a Collective Investment Fund, Managing Assets, Arranging Deals in Investments, Advising on Financial Products and Arranging Credit and Advising on Credit. All communications and services are directed at Professional Clients (as defined in the MFSA rules) only. Persons other than Professional Clients (such as Retail Clients, 
                        as defined in the MFSA rules) are not the intended recipients of any business communications or services.

                    </p>
                    <blockquote class="blockquote">
                        <p>
                            Unless expressly agreed in writing, Panarama accepts no liability to persons other than clients of the firm in respect of the contents of emails or attachments.

                        </p>

                    </blockquote>
                    
                    <p>
                        Any business communication sent by or on behalf of Panarama is confidential and may be subject to copyright or constitutes a trade secret. If you receive it in error please inform us and then delete it immediately from your system. You should not copy it or disclose its contents to anyone. Please be aware that messages sent to and from Panarama   may be monitored for reasons of security, to protect our business, and to ensure compliance with legal and regulatory obligations and our internal policies. Emails are not a secure method of communication, can be intercepted and cannot be guaranteed to be error free.
Panarama LLC’s fraud alert notice and details of how to report scams or suspicious activities can be found at www.Panaramallc.com, and clicking “Alert”.

                    </p>
                    <h3> Website Security</h3>
                    <p>
                        You must not breach or violate the security of this website or attempt to do so. Any actual or attempted tampering with any part of this website, any provision of untrue or inaccurate information, any misrepresentation of your identity, or conduct of fraudulent activities on or through this website is prohibited. Without limiting the generality of the foregoing, you agree that you will not do anything that could interfere with the functioning of this website, restrict or inhibit others from accessing or using it, or result in the transmission of a virus, worm, malware or other harmful component.

                    </p>
                    <p>
                        If you choose, or are provided with, a username, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any other person or entity. You also acknowledge that your account is personal to you and agree not to provide any other person with access to this website or portions of it using your username, password or other security information. You agree to notify us immediately of any unauthorized access to or use of your username or password or any other breach of security. You also agree to ensure that you logout from your account at the end of each session. You should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other personal information.
We have the right to disable any username, password or other identifier, whether chosen by you or provided by us, at any time if, in our opinion, you have violated any provision of these Terms.

                    </p>
                    <h3>Intellectual Property Rights
                    </h3>
                    <p> All content of this website, including, but not limited to, all text, information, analyses, reports, graphics, software, video, and audio files and photos, trademarks, service marks, trade dress, and the design, selection and arrangement thereof (“Website Content”), are owned by Panarama LLC, its licensors or other providers and are protected by local and international copyright, trademark and/or other intellectual property or proprietary rights laws. All such rights are reserved, subject only to the limited right granted to you as follows: you may download or print out individual pages or sections of this website for your personal and non-commercial use, provided you do not modify any of the Website Content and do not remove any copyright, trademark or other legal notices. Any downloading or other copying of Website Content does not vest any title in you, and Panarama reserves the right to terminate at any time your right to make personal or non-commercial copies. You are not permitted to, and you agree that you will not, reproduce, transmit, modify or use any Website Content, including logos, trademarks and service marks, for any public or commercial purpose without the prior written approval of Panarama. You also agree to not use Website Content for illegal purposes. Panarama and its management will continue to take legal action against anyone infringing these rights.
                        Accessibility, Stability, and Accuracy of Information
                    </p>
                    <p>
                        Panarama does not warrant that this website will be available or accessible at any time or from any location or that software or other Website Content are free of viruses, worms, malware, or other harmful components. <strong style="color: darkorange;">PANARAMA WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THIS WEBSITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THIS WEBSITE OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT, OR ON ANY WEBSITE LINKED TO IT.</strong> Access to this website may not be legal by certain persons or in certain countries. If you access this website, you do so on your own initiative and are responsible for compliance with local laws.

                    </p>
                    <p>
                        While Panarama  seeks to share data and other information in a manner that it believes to be reliable, it makes no representation and <strong style="color: darkorange;">ACCEPTS NO LIABILITY OR RESPONSIBILITY TO YOU OR ANY OTHER PARTY</strong> in respect of the fairness, completeness, accuracy, quality, reliability or continued availability of any Website Content. All Website Content is provided “AS IS” WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED.

                    </p>
                    <h3>Linked Sites</h3>
                    <p>
                        Any link from this website to a third party site is provided for convenience only and does not imply an endorsement, sponsorship or recommendation, or a representation or warranty of any kind, by Panarama with respect to the third party site, its operator, contents or related products or services. Panarama does not review or monitor any linked third party websites and accepts no responsibility or liability for the policies or practices of their operators or the contents of such websites.

                    </p>
                    <blockquote class="blockquote">
                        <p>You are not permitted to link to or frame this website, in whole or in part, without the prior written consent of Panarama.
                        </p>

                    </blockquote>
                    <h3>Sales and Marketing Restrictions – No Advice, Solicitation or Offer
                    </h3>
                    <p>
                        The sole purpose of this website is to provide general information about Panarama LLC, its business and operations. None of the Website Content has been prepared with regard to the investment objectives or financial situation of any particular entity or individual, or the suitability of a particular investment for any entity or individual, and no advisory or other relationship is created through the use of this website. Investments or strategies discussed or referenced on this website are not suitable for investors who are not professional investors. All Website Content is directed exclusively at professional investors with experience in private equity investments. Any investment or related transaction is only available to such investors 
                        and will only be entered into with such investors
                    </p>
                    <p>
                        This website and the Website Content do not constitute or form part of any offer or invitation to sell or issue, or any solicitation of any offer to purchase or subscribe for, any investment and should not form the basis for entering into any such transaction. The Website Content is not directed at or intended for distribution to or use by any person in any jurisdiction where such distribution or use would be contrary to law or regulation or which would subject Panarama LLC to any registration or similar requirement in relation to the Website Content. Panarama reserves the right to prohibit or restrict access to or use of this website by any person or in any jurisdiction.

                    </p>
                    <p>
                        If you access or use this website from outside Malta, you are responsible for compliance with any local laws relating to access or use, and for establishing the legality, usability and appropriateness of Website Content under applicable local laws and regulations.
None of the website Content should be construed as investment, legal, accounting, or tax advice. Funds, Securities or financial instruments mentioned in the website may not be suitable or appropriate for all investors or in all geographical areas. Your particular needs, investment objectives and financial situation were not taken into account in the preparation of this website and the materials contained herein. You must make your own independent decisions regarding any securities or financial instruments mentioned herein.
Forward Looking Statements

                    </p>
                    <p>
                        Past performance is not a guarantee, projection or prediction and is not necessarily indicative of future results, and there can be no assurance that any current or future investments will achieve results comparable to historic results or that any return targets will be met. All investments involve risk, including possible loss of principal. Past performance is not indicative of future results. The risk of loss accompanies the potential for any gains on investments. Website Content may include forward-looking statements (which may be identified by words like “believe”, “expect”, “anticipate”, “optimistic”, “intend”, “aim”, negatives of such words, or similar expressions), as well as forecasts, opinions and projections, all of which are based on current assumptions and are subject to risks and uncertainties outside of Panarama’s control and speak only as of the date on which they are made. Panarama is under no obligation to update or revise any such statements, whether as a result of new information, future developments, or otherwise. Actual results may differ materially from any forecasts, opinions and projections.

                    </p>
                    <p>
                        Basis of Access Any access to or use of this website or any Website Content is at your own risk. <strong style="color: darkorange;">TO THE FULL EXTENT PERMITTED BY APPLICABLE LAW AND REGULATION, Panarama ACCEPTS NO LIABILITY OR RESPONSIBILITY TO YOU OR ANY OTHER PERSON FOR ANY CLAIMS, LOSSES, COSTS OR DAMAGES (INCLUDING WITHOUT LIMITATION INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES, LOSS OF PROFITS, AS WELL AS FEES AND EXPENSES OF LEGAL COUNSEL) (TOGETHER, “LOSSES”) ARISING OUT OF OR IN CONNECTION WITH ANY ACCESS, USE OR INABILITY TO USE THIS WEBSITE OR OF ANY OF ITS WEBSITE CONTENT.</strong>    


                    </p>
                    <p>
                        As consideration for your access to and use of this website, you agree to indemnify and hold harmless Panarama and its affiliates, licensors, and service providers and its and their respective officers, directors, employees, contractors, agents, successors, and assigns (“Related Persons”) from and against any and all Losses, including without limitation those related to any action by any third party against you, Panarama or any of its Related Persons arising out of or in connection with your access to or use of this website or of any of the Website Content or your non-compliance with these Terms.
                    </p>

                    <h3> Privacy Statement</h3>
                    <blockquote class="blockquote">
                        <p>Panarama is committed to employing reasonable steps to procure the safeguarding of the personal information which you may provide to it or which it might otherwise collect, including through this website.</p>

                    </blockquote>
                    <p>If you are dealing with Panarama LLC in the MFSA, please read our privacy policy which sets out how we will process your personal information. Our privacy notice can be found here.</p>

                    <h3>Miscellaneous</h3>
                    <p>Nothing in these Terms is intended to modify or amend any other written agreement you may now or in the future have with Panarama or any entity managed or advised by Panarama or any of its affiliates. In the event of any inconsistency between these Terms and any such other written agreement, the other agreement will govern.
                        No failure or delay on the part of Panarama to act with respect to any breach of these Terms by you or any other person constitutes a waiver or limits Panarama’s rights with respect to such breach or any subsequent breach.
                        </p>
                    <p>
                        Headings are used in these Terms for convenience of reference only and do not affect the meaning of these Terms. If any provision of these Terms is found to be invalid or unenforceable in any jurisdiction, neither the validity and enforceability of any other provision nor the validity and enforceability of the affected provision in any other jurisdiction will be affected. These Terms constitute the sole and entire agreement between you and Panarama with respect to this website and the Website Content and supersede all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to this website.

                    </p>
                    <h3>Governing Law</h3>
                    <p>The Terms and your access to and use of this website are governed by the laws of the MFSA. Any suit, action or proceeding relating to any dispute arising out of or in connection with the Terms or any such access or use will be subject to the exclusive jurisdiction of the MFSAcourts.</p>
                </div>
            </div>
        </div>
        <!-- End Terms of Service Area -->

        <!-- Start Overview Area -->
        <div class="overview-area ptb-100">
            <div class="container">
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>Connect Us</span>
                    <h3>Feel free to reach out to us.</h3>

                    <ul class="overview-btn-group">
                        <li>
                            <a href="/contact.html" class="default-btn">Contact us</a>
                        </li>
                        <li>
                            <a href="/register" class="optional-btn">Join us</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Overview Area -->

        <!-- End Footer Area -->
        <%- include("../includes/front-footer") -%>