<%- include("../includes/front-pages") -%>
<script src=“https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js”></script>

        <!-- Start Page Banner Area -->
        <!-- Start Overview Area -->
        <div class="overview-area ptb-100">
            <div class="container">
                <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>DRIVING VALUE</span>
                    <h3>Our Hands-on Approach</h3>
                    <p>Panarama LLC is committed to driving value through collaborative partnerships
                       with our portfolio management teams. Our approach combines strategic advice,
                        implementing efficiencies and promoting talent. We are a hands-on owner and
                         believe in strong alignment towards a common goal
                       of creating global market leading industry champions.</p>

                    <ul class="overview-btn-group">
                        <li>
                            <a href="help-center.html" class="default-btn">Getting Started</a>
                        </li>
                        <li>
                            <a href="help-center.html" class="optional-btn">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="overview-shape">
                <img src="assets/images/overview/shape-1.png" alt="image">
            </div>
            <div class="overview-shape-2">
                <img src="assets/images/overview/shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Overview Area -->

        <!-- End Page Banner Area -->
        <!-- Start Getting Started Area -->
        <div class="getting-started-area pt-100 pb-75">
            <div class="container">
                <div class="section-title">
                    <span>COLLABORATIVE PARTNERSHIPS</span>
                    <h2>How We Add Value</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="getting-image">
                                <!-- <lottie-player src="https://lottie.host/6d21378f-8cd8-47c2-a3a3-e6640e720eb4/kzwnn7QMUF.json" background="#FFFFFF" speed="1" style="width: 300px; height: 300px" loop autoplay direction="1" mode="normal"></lottie-player> -->

                                <img src="assets/images/getting-started/opp.png" alt="image">
                            </div>
                            <h3>Operational Enchancement</h3>
                            <!-- <p>Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium auctor ut nam sed.</p> -->
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <div class="getting-image">
                                <img src="assets/images/getting-started/globe.png" alt="image">
                            </div>
                            <h3>Geographic Expansion</h3>
                            <!-- <p>Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium auctor ut nam sed.</p> -->
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <div class="getting-image">
                                <img src="assets/images/getting-started/sector.png" alt="image">
                            </div>
                            <h3>Sector Adjacencies</h3>
                            <!-- <p>Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium auctor ut nam sed.</p> -->
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <div class="getting-image">
                                <img src="assets/images/getting-started/gov.png" alt="image">
                            </div>
                            <h3>Governance and ESG</h3>
                            <!-- <p>Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium auctor ut nam sed.</p> -->
                        </div>
                    </div>
                </div>
                <div style="text-align: center; margin:auto">
                  <p class="col-lg-8 col-md-8 ">“As hands-on investors, we work closely with management teams to find solutions
                     to complex problems. Our partnership approach to value creation ensures we are
                    fully aligned with our companies on the path to building industry champions”</p>
                </div>
            </div>
        </div>
        <!-- End Getting Started Area -->

        <!-- Start Reliable Area -->
        <div class="security-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-image" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <img src="assets/images/reliable/case.png" alt="image">

                            <div class="reliable-shape">
                                <img src="assets/images/reliable/shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <span>CASE STUDY</span>
                            <h3>GC’s Value Creation</h3>
                            <div class="row justify-content-center">
                                <div class="col-lg-14 col-md-12">
                                  <h6>BUILDING A MARKET LEADING CROSS BORDER PAYMENTS CHAMPION</h4>
                                    <ul class="reliable-list">
                                      <li><i class="ri-check-line"></i> 100% Transparent Cost</li>
                                      <li><i class="ri-check-line"></i> Launching Lending & BNPL</li>
                                      <li><i class="ri-check-line"></i> Grew Geidea to leading POS market share</li>
                                      <li><i class="ri-check-line"></i>Acquired & integrated Digital Banking</li>
                                      <li><i class="ri-check-line"></i> Launched PSP (Payments Service Provider)</li>
                                        <li><i class="ri-check-line"></i> Expanded from a POS to a Merchant Trading / Acquiring business</li>
                                        <li><i class="ri-check-line"></i> Diversified into e-commerce solutions & value-added services adjacencies</li>
                                        <li><i class="ri-check-line"></i> Ongoing expansion into Egypt and UAE (building), with plans to penetrate other GCC markets by 2022 and African markets by 2023</li>
                                        <li><i class="ri-check-line"></i> Launched new innovative products (SoftPos / mPos)</li>
                                    </ul>
                                </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reliable Area -->

        <!-- Start Security Area -->

        <!-- End Security Area -->

        <!-- Start Paiement Area -->

        <!-- End Paiement Area -->

        <!-- Start Overview Area -->

        <!-- End Overview Area -->

        <!-- End Footer Area -->
        <footer class="footer-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="widget-logo">
                                <img src="assets/images/logo.png" class="black-logo" alt="image">
                                <img src="assets/images/logo-2.png" class="white-logo" alt="image">
                            </div>
                            <p>To get exclusive updates and benefits.</p>

                            <form class="newsletter-form" data-bs-toggle="validator">
                                <input type="email" class="input-newsletter" placeholder="Enter email" name="EMAIL" required autocomplete="off">

                                <button type="submit" class="default-btn">Subscribe</button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>

                            <ul class="widget-social">
                                <li>
                                    <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/signup" target="_blank">
                                        <i class="ri-linkedin-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                            <h3>Company And Team</h3>

                            <ul class="quick-links">
                                <li><a href="team.html">Company And Team</a></li>
                                <li><a href="blog.html">News And Blog</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="help-center.html">Affiliates And Partnerships</a></li>
                                <li><a href="about-us.html">Careers</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                            <h3>Resources</h3>

                            <ul class="quick-links">
                                <li><a href="help-center.html">Security</a></li>
                                <li><a href="faq.html">FAQ's</a></li>
                                <li><a href="help-center.html">Community</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                            <h3>Contact Info</h3>

                            <ul class="info-links">
                                <li><span>Location:</span> 27 Division St, 1100. E Denver, CO 80237, USA</li>
                                <li><span>Email:</span> <a href="mailto:contact@info.com">snuff@gmail.com</a></li>
                                <li><span>Phone:</span> <a href="tel:44789289524329">+44 7892 8952 4329</a></li>
                                <li><span>Fax:</span> <a href="tel:1212-9876543">+1-212-9876543</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-area-content">
                        <p>
                            Copyright @<script>document.write(new Date().getFullYear())</script> Snuff All Rights Reserved by
                            <a href="https://hibootstrap.com/" target="_blank">
                                HiBootstrap
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="ri-arrow-up-s-line"></i>
        </div>
        <!-- End Go Top Area -->

        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/TweenMax.min.js"></script>
        <script src="assets/js/ScrollMagic.min.js"></script>
        <script src="assets/js/aos.js"></script>
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
