@font-face {
    font-family: "flaticon";
    src: url("../../assets/fonts/flaticon.ttf?29210955110d80ef3db7f16e976da701") format("truetype"),
url("../../assets/fonts/flaticon.woff?29210955110d80ef3db7f16e976da701") format("woff"),
url("../../assets/fonts/flaticon.woff2?29210955110d80ef3db7f16e976da701") format("woff2"),
url("../../assets/fonts/flaticon.eot?29210955110d80ef3db7f16e976da701#iefix") format("embedded-opentype"),
url("../../assets/fonts/flaticon.svg?29210955110d80ef3db7f16e976da701#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-graph:before {
    content: "\f101";
}
.flaticon-shield:before {
    content: "\f102";
}
.flaticon-secure-shield:before {
    content: "\f103";
}
.flaticon-clock:before {
    content: "\f104";
}
.flaticon-money-transfer:before {
    content: "\f105";
}
.flaticon-envelope:before {
    content: "\f106";
}
.flaticon-income:before {
    content: "\f107";
}
.flaticon-conversion:before {
    content: "\f108";
}
.flaticon-apple-logo:before {
    content: "\f109";
}
.flaticon-apple-black-logo:before {
    content: "\f10a";
}
.flaticon-instagram:before {
    content: "\f10b";
}
.flaticon-facebook:before {
    content: "\f10c";
}
.flaticon-phone-call:before {
    content: "\f10d";
}
.flaticon-gear:before {
    content: "\f10e";
}
.flaticon-whatsapp:before {
    content: "\f10f";
}
.flaticon-google:before {
    content: "\f110";
}
.flaticon-pin:before {
    content: "\f111";
}
.flaticon-setting:before {
    content: "\f112";
}
.flaticon-twitter:before {
    content: "\f113";
}
.flaticon-facebook-1:before {
    content: "\f114";
}
.flaticon-phone-call-1:before {
    content: "\f115";
}
.flaticon-plus:before {
    content: "\f116";
}
.flaticon-email:before {
    content: "\f117";
}
.flaticon-telephone:before {
    content: "\f118";
}
.flaticon-bin:before {
    content: "\f119";
}
.flaticon-twitter-1:before {
    content: "\f11a";
}
.flaticon-heart:before {
    content: "\f11b";
}
.flaticon-clock-1:before {
    content: "\f11c";
}
.flaticon-home:before {
    content: "\f11d";
}
.flaticon-right-arrow:before {
    content: "\f11e";
}
.flaticon-next:before {
    content: "\f11f";
}
.flaticon-user:before {
    content: "\f120";
}
.flaticon-like:before {
    content: "\f121";
}
.flaticon-arrow-down-sign-to-navigate:before {
    content: "\f122";
}
.flaticon-share:before {
    content: "\f123";
}
.flaticon-click:before {
    content: "\f124";
}
.flaticon-search:before {
    content: "\f125";
}
.flaticon-tick:before {
    content: "\f126";
}
.flaticon-close:before {
    content: "\f127";
}
.flaticon-gear-1:before {
    content: "\f128";
}
.flaticon-fast-forward:before {
    content: "\f129";
}
.flaticon-star:before {
    content: "\f12a";
}
.flaticon-call:before {
    content: "\f12b";
}
.flaticon-musical-note:before {
    content: "\f12c";
}
.flaticon-delivery:before {
    content: "\f12d";
}
.flaticon-light-bulb:before {
    content: "\f12e";
}
.flaticon-info:before {
    content: "\f12f";
}
.flaticon-menu:before {
    content: "\f130";
}
.flaticon-filter:before {
    content: "\f131";
}
.flaticon-gym:before {
    content: "\f132";
}
.flaticon-promotion:before {
    content: "\f133";
}
.flaticon-money:before {
    content: "\f134";
}
.flaticon-cancel:before {
    content: "\f135";
}
.flaticon-link:before {
    content: "\f136";
}
.flaticon-tik-tok:before {
    content: "\f137";
}
.flaticon-location-pin:before {
    content: "\f138";
}
.flaticon-facebook-app-symbol:before {
    content: "\f139";
}
.flaticon-knowledge:before {
    content: "\f13a";
}
.flaticon-rocket:before {
    content: "\f13b";
}
.flaticon-cake:before {
    content: "\f13c";
}
.flaticon-open-book:before {
    content: "\f13d";
}
.flaticon-food-tray:before {
    content: "\f13e";
}
.flaticon-tap:before {
    content: "\f13f";
}
.flaticon-speech-bubble:before {
    content: "\f140";
}
.flaticon-plane:before {
    content: "\f141";
}
.flaticon-cocktail:before {
    content: "\f142";
}
.flaticon-website:before {
    content: "\f143";
}
.flaticon-send:before {
    content: "\f144";
}
.flaticon-tree:before {
    content: "\f145";
}
.flaticon-video:before {
    content: "\f146";
}
.flaticon-search-1:before {
    content: "\f147";
}
.flaticon-date-of-birth:before {
    content: "\f148";
}
.flaticon-infinity:before {
    content: "\f149";
}
.flaticon-ideas:before {
    content: "\f14a";
}
.flaticon-padlock:before {
    content: "\f14b";
}
.flaticon-right:before {
    content: "\f14c";
}
.flaticon-tools:before {
    content: "\f14d";
}
.flaticon-networking:before {
    content: "\f14e";
}
.flaticon-shuttle:before {
    content: "\f14f";
}
.flaticon-customer:before {
    content: "\f150";
}
.flaticon-map:before {
    content: "\f151";
}
.flaticon-ecommerce:before {
    content: "\f152";
}
.flaticon-left-arrow-line-symbol:before {
    content: "\f153";
}
.flaticon-turn-left:before {
    content: "\f154";
}
.flaticon-left-chevron:before {
    content: "\f155";
}
.flaticon-left:before {
    content: "\f156";
}
.flaticon-left-arrow:before {
    content: "\f157";
}
.flaticon-left-turn:before {
    content: "\f158";
}