/*================================================
Topbar Area CSS
=================================================*/
.topbar-area {
  background-color: var(--black-color);
  padding-top: 12px;
  padding-bottom: 12px;
}

.topbar-area .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.topbar-information {
  padding-left: 0;
  margin-bottom: 0;
}

.topbar-information li {
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 20px;
  position: relative;
}

.topbar-information li:last-child {
  margin-right: 0;
}

.topbar-information li:last-child::before {
  display: none;
}

.topbar-information li a {
  color: var(--white-color);
}

.topbar-information li::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -14px;
  width: 1px;
  height: 16px;
  background-color: var(--white-color);
}

.topbar-action {
  padding: 0;
  margin-bottom: 0;
  text-align: end;
}

.topbar-action li {
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 25px;
  position: relative;
}

.topbar-action li:last-child {
  margin-right: 0;
}

.topbar-action li:last-child::before {
  display: none;
}

.topbar-action li::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -15px;
  width: 1px;
  height: 16px;
  background-color: var(--white-color);
}

.topbar-action li a {
  color: var(--white-color);
  font-size: 14px;
}

.language-option {
  padding: 0;
}

.language-option button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--white-color);
  font-size: 14px;
  padding-right: 22px;
}

.language-option button i {
  position: relative;
  top: 2px;
  margin-right: 5px;
  color: var(--white-color);
}

.language-option button::after {
  display: none;
}

.language-option button::before {
  content: "\ea4e";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  border-color: var(--white-color);
  font-family: "remixicon";
}

.language-option .dropdown-menu[style] {
  right: 0 !important;
  left: auto !important;
  -webkit-transform: translateY(32px) !important;
          transform: translateY(32px) !important;
}

.language-option .language-dropdown-menu {
  border-radius: 5px;
  border: 0;
  background-color: var(--white-color);
  -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
          box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  padding: 0;
}

.language-option .language-dropdown-menu .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--paragraph-color);
  font-size: 14px;
  padding: 10px 20px;
  border-bottom: 1px solid #eeeeee;
  border-radius: 5px;
}

.language-option .language-dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

.language-option .language-dropdown-menu .dropdown-item img {
  width: 25px;
  margin-right: 10px;
}

.language-option .language-dropdown-menu .dropdown-item.selected {
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 5px;
}

/*================================================
Navbar Area CSS
=================================================*/
.main-responsive-nav {
  display: none;
}

.main-navbar {
  padding: 10px 0;
}

.main-navbar .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.main-navbar .navbar {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  padding: 0;
}

.main-navbar .navbar .navbar-brand {
  padding: 0 30px 0 0;
}

.main-navbar .navbar .navbar-list ul li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.main-navbar .navbar .navbar-list ul li::before {
  content: "";
  position: absolute;
  top: 4px;
  right: -14px;
  width: 1px;
  height: 15px;
  background-color: var(--black-color);
}

.main-navbar .navbar .navbar-list ul li:last-child {
  margin-right: 0;
}

.main-navbar .navbar .navbar-list ul li:last-child::before {
  display: none;
}

.main-navbar .navbar .navbar-list ul li a {
  color: var(--black-color);
}

.main-navbar .navbar .navbar-list ul li a:hover {
  color: var(--main-color);
}

.main-navbar .navbar ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.main-navbar .navbar .navbar-nav .nav-item {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.main-navbar .navbar .navbar-nav .nav-item a {
  color: var(--black-color);
  font-size: var(--font-size);
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.main-navbar .navbar .navbar-nav .nav-item a i {
  font-size: 14px;
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: -2px;
  margin-right: -2px;
}

.main-navbar .navbar .navbar-nav .nav-item a:hover, .main-navbar .navbar .navbar-nav .nav-item a:focus, .main-navbar .navbar .navbar-nav .nav-item a.active {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.main-navbar .navbar .navbar-nav .nav-item:first-child {
  margin-left: 0;
}

.main-navbar .navbar .navbar-nav .nav-item:hover a, .main-navbar .navbar .navbar-nav .nav-item.active a {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu {
  border: none;
  top: 70px;
  left: 0;
  z-index: 99;
  opacity: 0;
  width: 250px;
  display: block;
  border-radius: 8px;
  padding: 10px 0;
  margin-top: 15px;
  position: absolute;
  visibility: hidden;
  background: var(--white-color);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li {
  margin: 0;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a {
  padding: 10px 20px;
  position: relative;
  display: block;
  color: var(--black-color);
  font-size: var(--font-size);
  font-weight: 400;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a i {
  margin: 0;
  position: absolute;
  top: 50%;
  font-size: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  right: -250px;
  left: auto;
  margin-top: 15px;
  visibility: hidden;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: var(--black-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: 250px;
  visibility: hidden;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--black-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: -250px;
  visibility: hidden;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--black-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: 250px;
  visibility: hidden;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--black-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: -250px;
  visibility: hidden;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--black-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: 250px;
  visibility: hidden;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--black-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: var(--main-color);
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.main-navbar .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.main-navbar .navbar .others-options {
  margin-left: 30px;
}

.main-navbar .navbar .others-options .option-item {
  margin-right: 20px;
}

.main-navbar .navbar .others-options .option-item:last-child {
  margin-right: 0;
}

.main-navbar .navbar .others-options .option-item .optional-btn {
  background-color: var(--white-color);
  color: var(--optional-color) !important;
  border: 1px solid var(--optional-color);
}

.main-navbar .navbar .others-options .option-item .optional-btn:hover {
  border: 1px solid var(--main-color);
  color: var(--white-color) !important;
}

.main-navbar .navbar .others-options .option-item .default-btn {
  border: 1px solid var(--main-color);
}

.main-navbar .navbar .others-options .option-item .default-btn:hover {
  border: 1px solid var(--optional-color);
}

.navbar-area.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: var(--white-color);
  -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
          box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.navbar-style-two .main-navbar .navbar .navbar-brand {
  padding: 0 0 0 0;
}

.others-option-for-responsive {
  display: none;
}

.others-option-for-responsive .dot-menu {
  padding: 0 10px;
  height: 30px;
  cursor: pointer;
  z-index: 9991;
  position: absolute;
  right: 52px;
  top: -38px;
  font-weight: 400;
}

.others-option-for-responsive .dot-menu .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.others-option-for-responsive .dot-menu .inner .circle {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  margin: 0 2px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--black-color);
}

.others-option-for-responsive .dot-menu:hover .inner .circle {
  background-color: var(--main-color);
}

.others-option-for-responsive .container {
  position: relative;
}

.others-option-for-responsive .container .container {
  position: absolute;
  right: 10px;
  top: 10px;
  max-width: 260px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: 2;
  padding: 15px;
  border-radius: 5px;
}

.others-option-for-responsive .container .container.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.others-option-for-responsive .option-inner .others-options {
  margin-left: 30px;
}

.others-option-for-responsive .option-inner .others-options .option-item {
  margin-right: 20px;
}

.others-option-for-responsive .option-inner .others-options .option-item:last-child {
  margin-right: 0;
}

.others-option-for-responsive .option-inner .others-options .option-item .optional-btn {
  background-color: var(--white-color);
  color: var(--optional-color) !important;
  border: 1px solid var(--optional-color);
}

.others-option-for-responsive .option-inner .others-options .option-item .optional-btn:hover {
  border: 1px solid var(--main-color);
  color: var(--white-color) !important;
}

.others-option-for-responsive .option-inner .others-options .option-item .default-btn {
  border: 1px solid var(--main-color);
}

.others-option-for-responsive .option-inner .others-options .option-item .default-btn:hover {
  border: 1px solid var(--optional-color);
}

.main-header-area {
  position: absolute;
  width: 100%;
  z-index: 9;
}

@media only screen and (max-width: 1199px) {
  .main-responsive-nav {
    display: block;
  }
  .main-responsive-nav .main-responsive-menu {
    position: relative;
  }
  .main-responsive-nav .main-responsive-menu.mean-container .mean-nav ul {
    font-size: 15px;
  }
  .main-responsive-nav .main-responsive-menu.mean-container .mean-nav ul li a.active {
    color: var(--main-color);
  }
  .main-responsive-nav .main-responsive-menu.mean-container .mean-nav ul li a i {
    display: none;
  }
  .main-responsive-nav .main-responsive-menu.mean-container .mean-nav ul li li a {
    font-size: 14px;
  }
  .main-responsive-nav .main-responsive-menu.mean-container .others-options {
    display: none !important;
  }
  .main-responsive-nav .main-responsive-menu.mean-container .navbar-nav {
    overflow-y: scroll;
    height: 300px;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
  }
  .main-responsive-nav .mean-container a.meanmenu-reveal {
    padding: 8px 0 0 0;
    color: var(--black-color);
  }
  .main-responsive-nav .mean-container a.meanmenu-reveal span {
    display: block;
    background: #000;
    height: 2px;
    margin-top: -5px;
    border-radius: 5px;
    position: relative;
    top: 8px;
  }
  .main-responsive-nav .mean-container .mean-bar {
    background-color: unset;
    border-bottom: none;
  }
  .main-responsive-nav .mean-container .mean-nav {
    margin-top: 45px;
  }
  .main-responsive-nav .logo {
    position: relative;
    z-index: 999;
    max-width: 100px;
  }
  .navbar-area {
    background-color: var(--white-color);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .main-navbar {
    display: none;
  }
  .others-option-for-responsive {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .topbar-area .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 540px;
  }
  .topbar-information {
    text-align: center;
  }
  .topbar-action {
    text-align: center;
    margin-top: 10px;
  }
  .language-option .language-dropdown-menu {
    z-index: 99999;
  }
  .others-option-for-responsive .option-inner .others-options {
    margin-left: 0;
  }
  .others-option-for-responsive .option-inner .others-options.d-flex {
    display: block !important;
  }
  .others-option-for-responsive .option-inner .others-options .option-item {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .others-option-for-responsive .option-inner .others-options .option-item:last-child {
    margin-bottom: 0;
  }
  .others-option-for-responsive .option-inner .others-options .option-item .default-btn {
    width: 100%;
  }
  .others-option-for-responsive .option-inner .others-options .option-item .optional-btn {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .topbar-area .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 720px;
  }
  .others-option-for-responsive .option-inner .others-options {
    margin-left: 0;
  }
  .others-option-for-responsive .option-inner .others-options.d-flex {
    display: block !important;
  }
  .others-option-for-responsive .option-inner .others-options .option-item {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .others-option-for-responsive .option-inner .others-options .option-item:last-child {
    margin-bottom: 0;
  }
  .others-option-for-responsive .option-inner .others-options .option-item .default-btn {
    width: 100%;
  }
  .others-option-for-responsive .option-inner .others-options .option-item .optional-btn {
    width: 100%;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    right: 18px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .topbar-area .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 960px;
  }
  .others-option-for-responsive .option-inner .others-options {
    margin-left: 0;
  }
  .others-option-for-responsive .option-inner .others-options.d-flex {
    display: block !important;
  }
  .others-option-for-responsive .option-inner .others-options .option-item {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .others-option-for-responsive .option-inner .others-options .option-item:last-child {
    margin-bottom: 0;
  }
  .others-option-for-responsive .option-inner .others-options .option-item .default-btn {
    width: 100%;
  }
  .others-option-for-responsive .option-inner .others-options .option-item .optional-btn {
    width: 100%;
  }
  .mean-container .mean-bar {
    padding: 0 0 0;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    right: 18px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main-navbar .navbar .navbar-brand {
    padding: 0 10px 0 0;
    max-width: 135px;
  }
  .main-navbar .navbar .navbar-list ul li {
    font-size: 15px;
  }
  .main-navbar .navbar .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: -250px;
    right: auto;
  }
  .main-navbar .navbar .others-options {
    margin-left: 15px;
  }
  .main-navbar .navbar .others-options .option-item {
    margin-right: 10px;
  }
  .main-navbar .navbar .others-options .option-item .default-btn {
    padding: 15px;
    font-size: 14px;
  }
  .main-navbar .navbar .others-options .option-item .optional-btn {
    padding: 15px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1550px) {
  .topbar-area .container-fluid {
    max-width: 1900px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .main-navbar .container-fluid {
    max-width: 1900px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
/*# sourceMappingURL=navbar.css.map */