

<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>COINEX | Responsive Bootstrap 5 Admin Dashboard Template</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="/dashboard-assets/images/favicon.ico" />
      <link rel="stylesheet" href="/dashboard-assets/css/libs.min.css">
      <link rel="stylesheet" href="/dashboard-assets/css/coinex.css?v=1.0.0"> 
      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

      <style>
        .lottie {
            margin: auto;
            margin-top: -150px;
            margin-bottom: -200px;
            position: relative;
            bottom: 50px;
        }
      </style>
     </head>
  <body class="" data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
    <!-- loader Start -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body"></div>
      </div>    </div>
    <!-- loader END -->
      <div >

        
        
            <% if(usertype == "user"){ %>
                <script>
                    setTimeout(function() {
                    window.location.href = '/dashboard';            
                }, 5000);
                </script>
            <% }else if(usertype == "admin"){ %>
                <script>
                    setTimeout(function() {
                    window.location.href = '/admin-oilinmyhead';            
                }, 5000);
                </script>
            <% } %>
            
        <div class="wrapper">
        
    <!-- Content -->

<div class="gradient1">
    <div class="container text-center" style="position:relative; top:30vh">
        <!-- <img src="/dashboard-assets/images/error/404.png" class="img-fluid  w-50" alt=""> -->
        <!-- <img style="width:220px" src="/dashboard-assets/images/error/404-ani.gif" > -->
        <dotlottie-player class="lottie" src="https://lottie.host/900316f7-d6a3-42fc-9f6a-52beebbf82b2/g7c0xJYsSj.json" background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay>
        </dotlottie-player>

        <h2 class="mb-0 mt-5 text-white"><%= msg%></h2>
        <p style="font-family: cursive;">You would be redirected in 5 seconds</p>
        <!-- <a class="btn btn-primary text-white d-inline-flex align-items-center mt-3" href="/login">Back to Home</a> -->
        <div class="" style="position: absolute; top:0;left:-291px;transform: rotate(-15.75deg);">
            <img src="/dashboard-assets/images/error/manpaid.png" alt="error" style="height: 500px" class="d-none d-md-block">

        </div>
    </div>
</div>
        </div>
      </div>


    <!-- Backend Bundle JavaScript -->
      

    <script src="/dashboard-assets/js/libs.min.js"></script>
    <!-- widgetchart JavaScript -->
    <script src="/dashboard-assets/js/charts/widgetcharts.js"></script>
    <!-- fslightbox JavaScript -->
    <script src="/dashboard-assets/js/fslightbox.js"></script>
    <!-- app JavaScript -->
    <script src="/dashboard-assets/js/app.js"></script>
    <!-- apexchart JavaScript -->
    <script src="/dashboard-assets/js/charts/apexcharts.js"></script>
  </body>
</html>
